<div class="container blackback locationiser" ng-controller="locations" data-ng-init="addMapShow()">
		<h2 class="heading row buffer-top-none"><div class="container"><i class="fa fa-sign-in" aria-hidden="true"></i><strong>Location Setup</strong><span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></div></h2>
		<form ng-submit="saveLocation();">
				
				<h4 class="hr">Location Address</h4>
                <div class="location-disclaimer">Trainer should assist new clients in gaining access to a gym or studio location for their first session</div>
				<div class="clearfix">

                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12">
                            <div class="checkbox text-center">
                                <label><input type="checkbox" ng-model="addnew.event"><b>Event Only Location:</b> This location is only used for events/classes/bootcamps.</label>
                            </div>
                        </div>
						<div class="col-xs-12">
								<div class="form-group">
										<label class="radio-inline"><input type="radio" ng-model="addnew.type" value="gym">Gym</label>
										<label class="radio-inline" ng-if="!addnew.event"><input type="radio" ng-model="addnew.type" value="mobile">Mobile</label>
										<label class="radio-inline"><input type="radio" ng-model="addnew.type" value="outdoor">Outdoor</label>
										<label class="radio-inline"><input type="radio" ng-model="addnew.type" value="studio">Studio</label>
								</div>
						</div>
                    </div>
                    <div class="addLocation col-xs-12 col-sm-7">
                        <div class="row">
                            <div class="selectLocationMeta col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addnew.name" placeholder="Name" />
                                        <small>This is the venue name that will appear in your viewable profile calendar location key.</small>
                                    </div>
                                    <div id="pac-wrapper" class="form-group" ng-hide="addnew.type != 'mobile' && addnew.gmaps.length>0">
                                        <input ng-model="mapSearch" id="pac-input" class="form-control" placeholder="Address" />
                                    </div>
                                    <div class="form-group" ng-repeat="map in addnew.gmaps">
                                        <div class="input-group">
                                            <span class="form-control" style="height:auto">{{map.name}}, {{map.formatted_address}}</span>
                                            <span class="input-group-addon" ng-click="addnew.gmaps.splice($index, 1)"><span class="glyphicon glyphicon-trash" style="cursor: pointer;"></span></span>
                                        </div>
                                    </div>
                                    <!--<div class="form-group"><textarea class="form-control" ng-model="addnew.notes" placeholder="Notes"></textarea></div>-->
                                    <div class="form-group deal-holder">
                                        <h4>Deals and/or class descriptions</h4>
                                        <div ng-repeat="deal in addnew.Deals" class="deal">
                                            <span class="btn btn-primary" ng-click="addnew.Deals.splice($index, 1)" ng-show="!$first || addnew.Deals.length > 1">-</span>
                                            <textarea class="form-control"ng-model="deal.deal_text" placeholder="Deals"></textarea>
                                        </div>
                                        <span class="btn btn-primary" ng-click="addnew.Deals.push({id:0,deal_text:''})">+</span>
                                    </div>
                                    <div class="input-group">
                                        <input class="form-control" type="number" step=1 ng-disabled="addnew.limitblock" ng-model="addnew.participants" placeholder="Max Participants" ng-if="user.role == 2 || $parent.accountType == 2" />
                                        <span class="input-group-addon"  ng-if="user.role == 2 || $parent.accountType == 2" ><label><input type="checkbox" ng-model="addnew.limitblock" /> No Limit</label></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="colour">Colour</label>
                                        <input type="color" name="colour" ng-model="addnew.colour" />
                                        <small>This colour will be used to show your PT availability or any classes/bootcamp events in your personal cal and your viewable profile cal.</small>
                                    </div>
                            </div>
                            <!--<div class="col-xs-6">
                                    <label class="driversLicense" style="width:100%">
                                            <img ng-src="{{locimg.url + '.' + locimg.ext}}" class="img-responsive" style="width:100%" />
                                            <div
                                                    class="btn btn-primary btn-upload offScreen"
                                                    upload-button
                                                    url="/signup/tempImage/locimg"
                                                    on-success="addedImg(response, 'locimg')"
                                            >
                                            Upload</div>
                                    </label>
                            </div>-->
                        </div>
                    </div>

                    <div class="selectLocation col-xs-12 col-sm-5">
                        <div id="addMap" style="height:300px;z-index:99;position:relative;"></div>
                    </div>
				</div>
				
				<div class="clearfix">
                    <h4 class="hr">Pricing Options</h4>

                    <div ng-if="!addnew.event" class="pricing">
                            <div class="row form-group">
                                    <div class="col-xs-12 col-sm-2">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="addnew.pricing.pt.firstSession.active">Active</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">1st Session Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="addnew.pricing.pt.firstSession.fee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.firstSession.active" />
                                            </div>
                                    </div>
                            </div>

                            <div class="row form-group">
                                    <div class="col-xs-12 col-sm-2">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="addnew.pricing.pt.thirtymin.active">Active</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">30min Session Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="addnew.pricing.pt.thirtymin.fee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.thirtymin.active" />
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-disabled="!addnew.pricing.pt.thirtymin.active" ng-model="addnew.pricing.pt.thirtymin.sgtactive">Group rate (Fit with Friends) - optional</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">Fitness With Friends Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="addnew.pricing.pt.thirtymin.sgtfee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.thirtymin.active || !addnew.pricing.pt.thirtymin.sgtactive" />
                                            </div>
                                    </div>
                            </div>

                            <div class="row form-group">
                                    <div class="col-xs-12 col-sm-2">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="addnew.pricing.pt.fourtyfivemin.active">Active</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">45min Session Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000  class="form-control" ng-model="addnew.pricing.pt.fourtyfivemin.fee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.fourtyfivemin.active" />
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-disabled="!addnew.pricing.pt.fourtyfivemin.active" ng-model="addnew.pricing.pt.fourtyfivemin.sgtactive">Group rate (Fit with Friends) - optional</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">Fitness With Friends Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="addnew.pricing.pt.fourtyfivemin.sgtfee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.fourtyfivemin.active || !addnew.pricing.pt.fourtyfivemin.sgtactive" />
                                            </div>
                                    </div>
                            </div>

                            <div class="row form-group">
                                    <div class="col-xs-12 col-sm-2">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="addnew.pricing.pt.sixtymin.active">Active</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">1hour Session Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="addnew.pricing.pt.sixtymin.fee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.sixtymin.active" />
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                            <div class="checkbox">
                                                    <label><input type="checkbox" ng-disabled="!addnew.pricing.pt.sixtymin.active" ng-model="addnew.pricing.pt.sixtymin.sgtactive">Group rate (Fit with Friends) - optional</label>
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                            <label for="firstsessionactive">Fitness With Friends Fee</label>
                                            <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="addnew.pricing.pt.sixtymin.sgtfee" id="firstsessionactive" ng-disabled="!addnew.pricing.pt.sixtymin.active || !addnew.pricing.pt.sixtymin.sgtactive" />
                                            </div>
                                    </div>
                            </div>
                    </div>
                    <div ng-if="addnew.event" class="pricing">
                        <div class="row form-group" ng-repeat="bc in $parent.addnew.pricing.bc">
                            <div class="col-xs-12 col-sm-6">
                                <label for="firstsessionactive">Class Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="bc.name" id="firstsessionactive" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label for="firstsessionactive">Fee</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="bc.fee" id="firstsessionactive" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <span class="btn btn-primary" ng-click="addnew.pricing.bc.splice($index, 1)" ng-show="!$first || $parent.addnew.pricing.bc.length > 1">-</span>
                            </div>
                        </div>
                        <span class="btn btn-primary" ng-click="$parent.addnew.pricing.bc.push({name:'',fee:'',sessions:''})" style="margin-top:5px;">+</span>
                    </div>
                    <!-- Deprecated - no longer using bootcamp style trainers
                    <div ng-if="user.role == 2 || $parent.accountType == 2" class="pricing">
                        <div class="row form-group" ng-repeat="bc in $parent.addnew.pricing.bc">
                            <div class="col-xs-12 col-sm-6">
                                <label for="firstsessionactive">Package Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="bc.name" id="firstsessionactive" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label for="firstsessionactive">Fee</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="bc.fee" id="firstsessionactive" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label for="firstsessionactive">Included Sessions</label>
                                <div class="form-group">
                                    <input type="number" step=0.01 max=1000 class="form-control" ng-model="bc.sessions" id="firstsessionactive" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <span class="btn btn-primary" ng-click="addnew.pricing.bc.splice($index, 1)" ng-show="!$first || $parent.addnew.pricing.bc.length > 1">-</span>
                            </div>
                        </div>
                        <span class="btn btn-primary" ng-click="$parent.addnew.pricing.bc.push({name:'',fee:'',sessions:''})" style="margin-top:-15px;">+</span>
                    </div>-->
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12">
                            <div class="checkbox text-center">
                                *Prices above are including any GST calculations
                            </div>
                        </div>
                    </div>
                    <!-- This didn't seem to be working and was removed
                    <div class="row form-group">
                            <div class="col-xs-12 col-sm-12">
                                    <div class="checkbox text-center">
                                            <label><input type="checkbox" ng-model="addnew.pricing.gst"><b>Charge GST</b> Musta recommends financial advice from your accountant on whether to charge GST on not</label>
                                    </div>
                            </div>
                    </div>-->
                    <div class="form-group">
                            <button type="submit"
                                    ng-disabled="!addnew.gmaps.length>0 || !addnew.name || ((user.role == 2 || $parent.accountType == 2) && (!addnew.participants && !addnew.limitblock))"
                                    class="btn btn-primary pull-right">
                                    Save Location
                            </button>
                            <span class="pull-right text-danger">{{error}} &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    </div>
                    <h4 style="text-align: center;">Musta Transaction Fees will be automatically added on top of your training fee</h4>
				</div>
				
				<div id="locations-list" class="clearfix">
                    <h4 class="hr">Locations</h4>
                    <div class="col-xs-12 col-sm-12" ng-repeat="location in userLocations track by location.Location.id">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">{{location.Location.name}}  ({{location.Location.type}})</div>
                            <div class="col-xs-12 col-sm-3"><div ng-repeat="ad in location.Addresses">{{ad.address}}</div></div>
                            <div class="col-xs-12 col-sm-3" ng-if="user.id"><span class="btn-location" ng-click="editLocation(location)">Edit</span></div>
                            <div class="col-xs-12 col-sm-1" ng-if="location.Location.id">
                                <span class="btn-location" ng-click="deleteLocation(location.Location.id)">X</span>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="form-group">
                                    <span style="width:100%;background: {{location.Location.color}}; display:block;">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
		</form>
</div>
		
<div ng-if="controls" ng-include="controls"></div>