<div class="container blackback locationiser" ng-controller="locationedit" data-ng-init="addMapShow()">
    <h2 class="heading row buffer-top-none"><div class="container"><i class="fa fa-sign-in" aria-hidden="true"></i><strong>Location Setup</strong><span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></div></h2>
    <form ng-submit="saveLocation();">

        <h4 class="hr">Location Address</h4>
        <div class="location-disclaimer">Trainer should assist new clients in gaining access to a gym or studio location for their first session</div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12">
                <div class="checkbox text-center">
                    <label><input type="checkbox" ng-model="cur_location.event"><b>Event Only Location:</b> This location is only used for events/classes/bootcamps.</label>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" ng-model="cur_location.type" value="gym">Gym</label>
                    <label class="radio-inline" ng-if="!cur_location.event"><input type="radio" ng-model="cur_location.type" value="mobile">Mobile</label>
                    <label class="radio-inline"><input type="radio" ng-model="cur_location.type" value="outdoor">Outdoor</label>
                    <label class="radio-inline"><input type="radio" ng-model="cur_location.type" value="studio">Studio</label>
                </div>
            </div>
            <div class="addLocation col-xs-12 col-sm-7">
                <div class="row">
                    <div class="selectLocationMeta col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="cur_location.name" placeholder="Name" />
                            <small>This is the venue name that will appear in your viewable profile calendar location key.</small>
                        </div>
                        <div id="pac-wrapper" class="form-group" ng-hide="cur_location.type != 'mobile' && cur_location.gmaps.length>0">
                            <input ng-model="mapSearch" id="pac-input" class="form-control" placeholder="Address" />
                        </div>
                        <div class="form-group" ng-repeat="map in cur_location.gmaps">
                            <div class="input-group">
                                <span class="form-control" style="height:auto">{{map.formatted_address}}</span>
                                <span class="input-group-addon" ng-click="cur_location.gmaps.splice($index, 1)"><span class="glyphicon glyphicon-trash" style="cursor: pointer;"></span></span>
                            </div>
                        </div>
                        <!--<div class="form-group"><textarea class="form-control" ng-model="cur_location.notes" placeholder="Notes"></textarea></div>-->
                        <div class="form-group deal-holder">
                            <h4>Deals and/or class descriptions</h4>
                            <div ng-repeat="deal in cur_location.Deals" class="deal" >
                                <span class="btn btn-primary" ng-click="cur_location.Deals.splice($index, 1)" ng-show="!$first || cur_location.Deals.length > 1">-</span>
                                <textarea class="form-control" ng-model="deal.deal_text" placeholder="Deals"></textarea>
                            </div>
                            <span class="btn btn-primary" ng-click="cur_location.Deals.push({id:0,deal_text:''})">+</span>
                        </div>
                        <div class="form-group">
                            <label for="colour">Colour</label>
                            <input type="color" name="colour" ng-model="cur_location.colour" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="selectLocation col-xs-12 col-sm-5">
                <div id="addMap" style="height:300px;z-index:99;position:relative;"></div>
            </div>
        </div>

        <div class="clearfix">
            <h4 class="hr">Pricing Options</h4>


            <div ng-if="!cur_location.event" class="pricing">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-2">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="cur_location.pricing.pt.firstSession.active">Active</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">1st Session Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="cur_location.pricing.pt.firstSession.fee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.firstSession.active" />
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12 col-sm-2">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="cur_location.pricing.pt.thirtymin.active">Active</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">30min Session Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="cur_location.pricing.pt.thirtymin.fee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.thirtymin.active" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-disabled="!cur_location.pricing.pt.thirtymin.active" ng-model="cur_location.pricing.pt.thirtymin.sgtactive">Group rate (Fit with Friends) - optional</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">Fitness With Friends Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="cur_location.pricing.pt.thirtymin.sgtfee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.thirtymin.active || !cur_location.pricing.pt.thirtymin.sgtactive" />
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12 col-sm-2">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="cur_location.pricing.pt.fourtyfivemin.active">Active</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">45min Session Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000  class="form-control" ng-model="cur_location.pricing.pt.fourtyfivemin.fee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.fourtyfivemin.active" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-disabled="!cur_location.pricing.pt.fourtyfivemin.active" ng-model="cur_location.pricing.pt.fourtyfivemin.sgtactive">Group rate (Fit with Friends) - optional</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">Fitness With Friends Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="cur_location.pricing.pt.fourtyfivemin.sgtfee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.fourtyfivemin.active || !cur_location.pricing.pt.fourtyfivemin.sgtactive" />
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12 col-sm-2">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="cur_location.pricing.pt.sixtymin.active">Active</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">1hour Session Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="cur_location.pricing.pt.sixtymin.fee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.sixtymin.active" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-disabled="!cur_location.pricing.pt.sixtymin.active" ng-model="cur_location.pricing.pt.sixtymin.sgtactive">Group rate (Fit with Friends) - optional</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="firstsessionactive">Fitness With Friends Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="cur_location.pricing.pt.sixtymin.sgtfee" id="firstsessionactive" ng-disabled="!cur_location.pricing.pt.sixtymin.active || !cur_location.pricing.pt.sixtymin.sgtactive" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="cur_location.event" class="pricing">
                <div class="row form-group" ng-repeat="bc in cur_location.pricing.bc">
                    <div class="col-xs-12 col-sm-6">
                        <label for="firstsessionactive">Class Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="bc.name" id="firstsessionactive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <label for="firstsessionactive">Fee</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="number" step=0.01 max=1000 class="form-control" ng-model="bc.fee" id="firstsessionactive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <span class="btn btn-primary" ng-click="cur_location.pricing.bc.splice($index, 1)" ng-show="!$first || cur_location.pricing.bc.length > 1">-</span>
                    </div>
                </div>
                <span class="btn btn-primary" ng-click="cur_location.pricing.bc.push({name:'',fee:'',sessions:''})" style="margin-top:-15px;">+</span>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12">
                    <div class="checkbox text-center">
                        *Prices above are including any GST calculations
                    </div>
                </div>
            </div>
            <!-- This didn't seem to be working and was removed
            <div class="row form-group">
                    <div class="col-xs-12 col-sm-12">
                            <div class="checkbox text-center">
                                    <label><input type="checkbox" ng-model="cur_location.pricing.gst"><b>Charge GST</b> Musta recommends financial advice from your accountant on whether to charge GST on not</label>
                            </div>
                    </div>
            </div>-->
            <div class="form-group">
                <span ng-hide="!loc_saving"><span class="btn btn-primary pull-right">Saving...</span></span>
                <span ng-hide="loc_saving">
                    <button type="submit"
                            ng-disabled="!cur_location.gmaps.length>0 || !cur_location.name"
                            class="btn btn-primary pull-right">
                        Save Location
                    </button>
                </span>
                <span class="pull-right text-danger">{{error}} &nbsp; &nbsp; &nbsp; &nbsp;</span>
            </div>
						<h4 style="text-align: center;">Musta Transaction Fees will be automatically added on top of your training fee</h4>
        </div>
    </form>
</div>

<div ng-if="controls" ng-include="controls"></div>