<div class="container" ng-controller="payments" ng-init="resetPay()" style="    margin-top: 60px;">
    <div class="well" style="position:relative;">
        <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="musta">Payment</h4>
                <h3 class="hr">{{paymentinformation.title}}</h3>
                {{paymentData}}
                <table class="table table-striped">
                    <tr ng-repeat="item in paymentinformation.items">
                        <td colspan="2">{{item.title}}</td>
                        <td class="text-right">${{item.price | number: 2}}</td>
                    </tr>
                    <tr style="border-top:3px solid black;border-bottom:3px solid black;">
                        <td colspan="2">Subtotal</td>
                        <td class="text-right">${{paymentinformation.itemTotal  | number: 2}}</td>
                    </tr>
                    <tr ng-if="paymentinformation.gst">
                        <td colspan="2">GST</td>
                        <td class="text-right">${{paymentinformation.gstAmount  | number: 2}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Booking Fee</td>
                        <td class="text-right">${{paymentinformation.bookingFee | number: 2}}</td>
                    </tr>
                    <tr style="border-top:3px solid black;">
                        <td colspan="2">Total</td>
                        <td class="text-right">${{paymentinformation.total  | number: 2}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><b ng-if="paymentinformation.repeating == 1"><input type="checkbox" ng-model='paymentinformation.approve' />I accept that this is a recurring payment, this payment will be taken {{paymentinformation.frequency}} from the initial payment</b></div>
            <div class="col-xs-12">
                <form class="form-inline text-center">
                    <div class="" style="max-height:400px;overflow:auto;" ng-if="paymentinformation.terms" ng-bind-html="paymentinformation.terms">
                    </div>
                    <label ng-if="paymentinformation.terms"><input type="checkbox"  ng-model="paymentinformation.accepted" /> I agree to the above T&C's</label><br />
                    <button class="btn btn-primary" ng-disabled="paymentinformation.repeating == 1 && !paymentinformation.approve" ng-click="payNow()">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>