<div class="container blackback event-controller overlay-general overlay-calendar-event" ng-controller="payform">
  <h2 class="heading row buffer-top-none bottom-buffer-sm" ng-if="data.payment">
    <div class="container">
      <i class="fa fa-credit-card-alt" aria-hidden="true"/>
      <strong>Payment</strong> Information<span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"/>
    </div>
  </h2>
  <h2 class="heading row buffer-top-none bottom-buffer-sm" ng-if="data.rec_payment">
    <div class="container">
      <i class="fa fa-credit-card-alt" aria-hidden="true"/>
      <strong>Recurring Payment</strong> Information<span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"/>
    </div>
  </h2>
  <div class="modal modal-event">

    <div ng-if="vault-save">
            Save the following payment method for all repeat transactions for this user.
    </div>
    <div class="alert alert-danger" ng-if="error_messages.length">
      <h4>Please Correct:</h4>
      <ul>
        <li ng-repeat="error_msg in error_messages">{{error_msg}}</li>
      </ul>
    </div>

    <form class="" action="{{integraFormAction}}" method="post" ng-if="!error_messages.length" >
      <div class="checkout-section">
        <div class="payment-section" ng-if="data.payment">
          <!-- <h4>Payment Information</h4> -->
          <div>Payment amount: ${{data.payment.total}} + Transaction Fee</div>
          <div>Total: ${{calcTotal(data.payment.total);}}</div>
        </div>
        <div class="recurring-payment-section" ng-if="data.rec_payment">
          <!-- <h4>Recurring Payment Information</h4> -->
          <div>Payment amount: ${{data.rec_payment.RecurringPayment.total}} + Transaction Fee</div>
          <div>Total: ${{calcTotal(data.rec_payment.RecurringPayment.total);}}</div>
          <div>Date Start: {{data.rec_payment.RecurringPayment.date_start}}</div>
          <div>Number Repeats: {{data.rec_payment.RecurringPayment.num_repeat}}</div>
        </div>
        <div class="general-info">
          <div ng-if="data.trainer_name">Trainer Name: {{data.trainer_name}}</div>
          <div ng-if="data.location_name">Location: {{data.location_name}}</div>
        </div>
      </div>
      <input name="TransparentRedirect" type="hidden" value="1" />
      <div class="form-group">
        <label>
                    Card number:
          <input class="form-control" type="text" name="CreditCardNumber" required maxlength="16" />
        </label>
      </div>
      <div class="form-group">
        <label>
                    Name on card:
          <input class="form-control" type="text" name="CreditCardName" required maxlength="50" />
        </label>
      </div>
      
      
      
      
      <div class="form-group row">
	      <div class="col-md-3">
	        <label>Expiry date (mm/yyyy):</label>
	        <div class="row">
	          <div class="col-md-6">
			        <input class="form-control" type="text" name="CreditCardExpiryMonth" required maxlength="2" size="2" />
			      </div>
	          <div class="col-md-6">
			        <input class="form-control" type="text" name="CreditCardExpiryYear" required maxlength="4" size="4" />
			      </div>
	        </div>
	      </div>
	      <div class="col-md-3">
	        <label>Security code:</label>
	          <input class="form-control" type="text" name="CreditCardSecurityCode" required maxlength="3" />
	      </div>
      </div>
      
      
      
      
      
      <div class="form-group">
        <input type="submit" class="btn btn-primary ladda-button pull-right" value="{{submit_button}}" />
      </div>
    </form>
  </div>
</div>