// .backimage{
//     background-image: url('../img/frontImage.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     margin-top:-130px;
//     padding: 130px 0 0 0;
//     @media(min-width: @screen-sm-min){
// 		padding: 180px 0 120px 0;
// 	}
    
    
// }

// .homeBox{
//     padding:30px;
//     background: rgba(0,0,0,0.4);
//     color: #fff;
//     text-align: center;
//     margin:10px 0;
    
//     @media(min-width: @screen-sm-min){
// 		height:230px;
//         margin:0;
// 	}
    
//     h2{
//         margin-bottom:30px;
//     }
    
//     .btn-block{
//         font-size:20px;
//     }
    
//     .nudge{
//         margin-top: 51px;
//     }
// }