.loationList{
    .location{
        margin:15px 0;
    }
}

.location-key {
  margin-bottom: 35px;
}

/*.blackback {
    color: #fff;
    padding: 30px;
}*/

.tinder{
    background: #fff;
    position:relative;
    z-index:2;
    transform-origin: center top;
    box-shadow: 0 0 33px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    padding-top:15px;
    padding-bottom:15px;
    height:800px;
    overflow:scroll; 
}

.removeTransition{
    transform: none !important;
}

.tinder.others{
    position:absolute;
    top:0;
    left:15px;
    right:15px;
    z-index:1;
    transform: scale(0.8);
}

.short-description {
    font-size: 24px;
    font-weight: normal;
}

.profile {
    padding-top: 60px;
    padding-bottom: 60px;
}

.profile-calendar {
    
    .loationList {
        padding-bottom: 60px;
    }
    
    h2.heading {
        background: none;
        font-size: 20px;
        margin-bottom: 0;
        font-weight: bold;
        text-transform: uppercase;
    
        .fa {
            display: none;
        }
    }
}

.profile-quals {
    h4 {
        font-size: 17px;
        text-transform: uppercase;
    }
    
    .fa {
        border: 3px #000 solid;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 52px;
        font-size: 26px;
        margin-bottom: 15px;
    }
    
    td:first-child {
        min-width: 140px;
        padding-right: 15px;
    }
}

.admin-users .trainers a {
    color: #000;
}