.searchpage:after {
    content: '';
    display: table;
    clear: both;
    .text-right .btn {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.searchresults .heading {
    /*display: none;*/
}

.filter{
    width: 100%;
    margin-bottom: 9px;
    @media (max-height: 768px) {
        margin-bottom: 7px;
    }
    padding-left: 15px;
    padding-right: 15px;
    
    input {
        position: absolute;
        left: -99999px;
    }
    
    span {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-right: 19px;
        background: #d7d7d7;
        
        &:after {
            content: "✔";
            position: absolute;
            top: 2px;
            left: 3px;
            font-size: 12px;
            font-weight: normal;
            line-height: 0.8;
            color: #363636;
            opacity: 0;
            transform: scale(0);
            transition: all 0.2s;
        }
    }
    
    [type="checkbox"]:checked +  span:after {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.map-container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    
    @media (max-height: 768px) {
        margin-bottom: 4px;
    }
}

/*.smallpadding{
    padding:5px;
}*/

.trainer {
  display: table;
  position: relative;
  width: 100%;
}

.trainer-container {
    margin-bottom: 30px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}

.trainer-img {
  display: table-cell;
  height: 100%;
  width: 40%;
  background-size: cover;
  background-position: center;
}

.trainer-description {
  display: inline-block;
  width: 60%;
  padding-bottom: 60px;
  vertical-align: top;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.5;
  color: @brand-primary;
  
  h3 {
      font-size: 24px;
      font-weight: normal;
      margin: 12px 0;
      max-width: 480px;
  }
  
  h4 {
      font-size: 19px;
      font-weight: normal;
      margin: 17px 0 0;
      max-width: 480px;
  }
  
  ul {
      margin-bottom: 20px;
      
      &:after {
          content: '';
          display: table;
          clear: both;
      }
  }
  
  li {
      width: 50%;
      float: left;
  }
  
  p {
      margin-bottom: 25px;
      max-width: 480px;
  }
}

.trainer-favourites {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(238, 236, 236, 0.90);
  width: 100%;
  text-align: right;
  padding: 10px 15px;
  
  &.profile-favourites {
      position: static;
      float: right;
      width: auto;
      background: none;      
  }
  
  button {
    background: none;
    border: none;
    font-size: 37px;
    color: #9a9a9a;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
  }
}

#gmaps {
    height: 350px;
}

.locations-dropdown {
    background-color: #faf125;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-top: 0;
    font-size: 23px;
    .fa {
        height: 30px;
        width: 30px;
        line-height: 25px;
    }
}

