<div class="container">
    <?php
    echo "<pre>";
    print_r($response);
    echo "</pre>";
    if($response["result"] == "OK"){
    ?>
    <script type="text/javascript">
    window.onload = function(){
        $rs.tempPayment = {data: {
            response: "<?php echo $response["result"]; ?>",
            webPageToken: "<?php echo $response["webPageToken"]; ?>"
            }
        }
    };
    </script>
    <div ng-include="p + 'payments/payform.html'" class="payform-holder">

    </div>
    <?php } else { ?>
    <div class="payform-error">
    <?php echo $response["errorMsg"]; ?>
    </div>
    <?php } ?>
</div>