/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "open_sansregular", "open sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #363636;
  background-color: #363636;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 20px;
  background-color: #363636;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.transition {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.blur {
  -webkit-filter: blur(5px);
}
.blur:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(54, 54, 54, 0.5);
}
a {
  color: #faf125;
  text-decoration: none !important;
  cursor: pointer;
}
a:hover {
  color: #fcf789;
}
a.link-inverse {
  color: #ffffff;
}
a.link-inverse:hover {
  color: #faf125;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 10px;
}
h1 {
  font-size: 30px;
  line-height: 30px;
}
h2 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
h1,
h2,
h3 {
  font-family: 'open_sansbold', "Open Sans", Helvetica, Arial, sans-serif;
}
h1 + p,
h2 + p,
h3 + p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
}
p {
  margin: 0;
}
p + p {
  margin-top: 20px;
}
.inverse p,
.inverse h1,
.inverse h2,
.inverse h3,
.text-inverse {
  color: #ffffff;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
}
.inverse label {
  color: #ffffff;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #363636;
  background-color: #fff;
  background-image: none;
  border: 1px solid #777;
  border-radius: 4px;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
.form-control + .form-control {
  margin-top: 10px;
}
p + .form-control {
  margin-top: 10px;
}
.form-list {
  display: table;
  width: 100%;
}
.form-list > div {
  display: table-cell;
  vertical-align: top;
  margin: 0 0 10px 0 !important;
  width: 50%;
}
.form-list > div:nth-of-type(2) {
  clear: right;
}
@media (min-width: 768px) {
  .form-list > div {
    width: 33%;
  }
  .form-list > div:nth-of-type(3) {
    clear: right;
  }
}
.multi-add .row {
  margin-bottom: 10px;
}
.multi-add .multi-add-2 {
  width: calc( (100% - 42px - 10px ) );
}
.multi-add .multi-add-1,
.multi-add .multi-add-2 {
  width: 100%;
}
@media (min-width: 480px) {
  .multi-add .multi-add-1,
  .multi-add .multi-add-2 {
    width: calc( (100% - 42px - 10px ) / 2 );
  }
}
.multi-add .multi-add-1,
.multi-add .multi-add-2,
.multi-add .multi-add-icon {
  display: inline-block;
  vertical-align: top;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 42px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 262px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 602px;
  }
}
.form-group {
  margin-bottom: 20px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.btn,
.button {
  display: inline-block;
  margin-bottom: 0;
  color: #333;
  background-color: #faf125;
  font-family: "open_sansregular", "open sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  outline: 2px solid transparent;
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 10px;
}
.btn:hover,
.button:hover,
.btn:focus,
.button:focus {
  color: #333;
  background-color: #ffffff;
  text-decoration: none;
}
.btn:active,
.button:active,
.btn.active,
.button.active {
  outline: 0;
}
.btn.disabled,
.button.disabled,
.btn[disabled],
.button[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .button {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.button.disabled,
fieldset[disabled] .btn,
fieldset[disabled] .button {
  pointer-events: none;
}
.btn-primary {
  outline: 2px solid #faf125;
  border: 2px solid #ffffff;
  padding: 16px 40px;
  font-family: 'open_sansbold', "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.btn-icon {
  color: transparent;
  background-color: transparent !important;
  border: 2px solid #363636;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 0 !important;
}
.btn-icon .glyphicon,
.btn-icon .fa,
.btn-icon:before {
  font-size: 14px;
  line-height: 27px;
  color: #363636;
}
.btn-icon:hover {
  border-color: #faf125;
}
.btn-icon:hover .glyphicon,
.btn-icon:hover .fa,
.btn-icon:hover:before {
  color: #faf125;
}
header .btn-icon {
  width: 50px;
  height: 50px;
}
header .btn-icon .glyphicon,
header .btn-icon .fa,
header .btn-icon:before {
  font-size: 24px;
  line-height: 46px;
}
.inverse .btn-icon {
  border: 2px solid #faf125;
}
.inverse .btn-icon .glyphicon,
.inverse .btn-icon .fa,
.inverse .btn-icon:before {
  color: #faf125;
}
.inverse .btn-icon:hover {
  border-color: #ffffff;
}
.inverse .btn-icon:hover .glyphicon,
.inverse .btn-icon:hover .fa,
.inverse .btn-icon:hover:before {
  color: #ffffff;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
header {
  background: #363636;
  padding: 10px 10px;
  position: fixed;
  z-index: 1060;
  top: 0%;
  left: 0%;
  width: 100%;
  display: block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
header .container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50px;
}
header .logo {
  width: 50%;
  position: relative;
  text-align: left;
  float: left;
  max-height: 50px;
}
header .logo img {
  max-height: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}
header .logo img + img {
  margin-left: 5px;
}
header .logo img.wordmark {
  max-height: 25px;
}
header .headIcon {
  width: 50%;
  text-align: right;
  float: right;
}
header .headIcon .btn {
  float: right;
}
header .headIcon .btn + .btn {
  margin-left: 5px;
}
.notifications-button:before {
  display: none;
  /* Remove original bell icon; make notifications appear as part of menu hamburger */
}
.hideMe {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
/* *************************************************************** */
footer {
  position: relative;
  z-index: 1060;
  bottom: 0;
  display: block;
  width: 100%;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  background: #363636;
  padding: 30px 10px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #faf125;
}
footer .pill {
  background-color: #ffffff;
  display: inline-block;
  width: auto;
  margin: 10px auto;
  padding: 5px 20px;
  color: #363636;
  text-align: center;
  border-radius: 4px;
}
footer .pill p {
  display: inline-block;
  margin-right: 5px;
  line-height: 40px;
  vertical-align: middle;
}
footer .pill .external-logo {
  max-width: 60px;
  max-height: 40px;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}
footer .pill .external-logo + .external-logo {
  margin-left: 5px;
}
@media (min-width: 992px) {
  footer .columns {
    display: inline-block;
    width: 50%;
    float: left;
  }
  footer .columns .pill {
    float: right;
    margin-right: 10px;
  }
  footer .columns .legals {
    text-align: left;
    margin: 10px auto 10px 10px;
  }
}
#main {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  min-height: 992px;
  min-height: 110vh;
  background: #363636;
}
#content {
  background: #ffffff;
  margin: 80px 10px 20px 10px;
  max-width: 1200px;
}
@media (min-width: 480px) {
  #content {
    margin: 90px 20px 40px 20px;
  }
}
@media (min-width: 1200px) {
  #content {
    margin: 90px auto 40px auto;
  }
}
.overlay-general {
  width: 100%;
  margin: 0 10px 20px 10px;
  max-width: 768px;
}
@media (min-width: 480px) {
  .overlay-general {
    margin: 0 20px 40px 20px;
  }
}
@media (min-width: 1200px) {
  .overlay-general {
    margin: 0 auto 40px auto;
  }
}
#settings {
  padding-top: 100px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  position: fixed;
  z-index: 1020;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 300px;
  background: #363636;
  overflow-y: auto;
}
#settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#settings ul li {
  position: relative;
}
#settings ul li a {
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  position: relative;
}
#settings ul li a .glyphicon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#settings ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
#settings ul li a:hover .glyphicon {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
}
#settings {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
body.settings #main {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
body.settings #settings {
  transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
}
body.settings #bottomSlider {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
body.settings #bottomSlider.inactive {
  transform: translateX(0) translateY(100%);
  -webkit-transform: translateX(0) translateY(100%);
}
body.settings #topSlider {
  transform: translateX(300px);
  -webkit-transform: translateX(300px);
}
body.settings #topSlider.inactive {
  transform: translateX(300px) translateY(-100%);
  -webkit-transform: translateX(300px) translateY(-100%);
}
.settings-button {
  -webkit-transform: rotateY(-360deg);
}
#bottomSlider {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  z-index: 1005;
  top: 0%;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.recessive {
  font-size: 12px;
  color: #767676;
}
.jumbotron .row:nth-of-type(1) {
  min-height: calc(100vh - 132px);
}
.jumbotron .row {
  padding: 20px 40px;
  position: relative;
  vertical-align: middle;
  text-align: left;
}
@media (min-width: 992px) {
  .jumbotron .row {
    padding-left: 16.66666667%;
  }
}
.jumbotron .content-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateY(50%);
}
.jumbotron h1,
.jumbotron h2 {
  font-family: "open_sansregular", "open sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 992px) {
  .jumbotron h1,
  .jumbotron h2 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  .jumbotron h1 br,
  .jumbotron h2 br {
    display: none;
  }
}
.jumbotron .btn {
  margin: 0 5px 5px 0;
}
.backimage {
  background-image: url('../img/frontImage.jpg');
}
@media (min-width: 480px) and (max-width: 1200px) {
  .backimage {
    background-image: url('../img/frontImage.jpg');
  }
}
@media (min-width: 1200px) {
  .backimage {
    background-image: url('../img/frontImage.jpg');
  }
}
.backimage {
  position: fixed;
  z-index: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 110vh;
  opacity: 0.25;
}
.panel .panel-title,
.panel .panel-body {
  padding: 10px;
}
@media (min-width: 480px) {
  .panel .panel-title,
  .panel .panel-body {
    padding: 20px;
  }
}
.panel .panel-title {
  background-color: #faf125;
  font-family: 'open_sansbold', "Open Sans", Helvetica, Arial, sans-serif;
}
.panel .panel-title h2,
.panel .panel-title h3 {
  color: #363636 !important;
}
.panel .panel-body {
  background-color: #ffffff;
}
.panel .panel-body h2,
.panel .panel-body h3 {
  margin-bottom: 10px;
}
.panel h2,
.panel h3 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}
.inverse .panel-body {
  background-color: rgba(54, 54, 54, 0.75);
}
.loginBox {
  max-width: 480px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  transform: translateY(50%);
}
.loginBox .btn {
  width: 100%;
}
.closeDialog {
  line-height: 42px;
}
.toggle-view {
  display: block;
  margin: 10px 0;
  text-align: right;
}
.topSlider > .container {
  position: relative;
  margin-top: 60px;
}
#bottomSlider.inactive {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}
#leftSlider {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  background: #ffffff;
  z-index: 998;
  top: 0;
  left: 0;
  padding: 30px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  #leftSlider {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-right: none;
    width: 300px;
  }
}
#leftSlider .close-left {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#leftSlider .sessionList {
  margin: 15px 0;
}
#leftSlider .sessionList .session {
  display: block;
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  cursor: pointer;
}
#leftSlider .sessionList .session:hover {
  background: #1c1c1c;
}
#leftSlider .sessionList .session .meta span {
  cursor: pointer;
}
#leftSlider .sessionList .session .meta span:hover {
  color: #000;
}
#leftSlider.inactive {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
#rightSlider {
  width: 300px;
  overflow: auto;
  height: 100%;
  position: fixed;
  background: #000;
  z-index: 998;
  top: 0;
  right: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#rightSlider.inactive {
  right: -100%;
}
.uiblocker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#topSlider {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  background: #363636;
  z-index: 99999;
  top: 0%;
  padding-top: 100px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
#topSlider.inactive {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
#topSlider .close {
  margin: 15px;
}
.spinner.square {
  text-align: center;
  margin: 100px auto;
}
.spinme {
  animation: sk-rotateplane 1s infinite linear;
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(220px) rotateY(0deg);
  }
  25% {
    transform: perspective(220px) rotateY(22deg);
  }
  75% {
    transform: perspective(220px) rotateY(157deg);
  }
  100% {
    transform: perspective(220px) rotateY(179deg);
  }
}
.notificationList .notification {
  margin: 15px;
  overflow: hidden;
  position: relative;
  min-height: 60px;
}
.notificationList .notification .image img {
  width: 100%;
}
.notificationList .notification .replyIcons {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .notificationList .notification .replyIcons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 0;
  }
}
.notificationList .notification .replyIcons .glyphicon {
  font-size: 20px;
  cursor: pointer;
}
.notifications {
  position: absolute;
  background: #d9534f;
  color: #ffffff;
  border-radius: 50%;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
}
header .notifications {
  margin-left: -60px;
  margin-top: 10px;
}
.column + .column {
  padding-left: 20px;
}
.signup-entry {
  position: relative;
  margin-top: 60px;
  background: #fff;
  padding-bottom: 15px;
  border-radius: 15px;
}
.signup-entry .closeDialog {
  top: -30px;
}
.signup-entry .driversLicense {
  cursor: pointer;
}
.signup-entry .option {
  cursor: pointer;
}
.signup-entry .option img {
  border: 10px solid rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}
.signup-entry .option img:hover {
  border: 10px solid rgba(0, 0, 0, 0.2);
}
.signup-entry .option.active img {
  border: 10px solid rgba(0, 0, 0, 0.2);
}
.signup-entry .option.fade {
  opacity: 0.3 !important;
}
.signup-entry .progress {
  position: relative;
  margin: 15px 0;
}
.signup-entry .progress-tracker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #000;
  text-align: center;
}
.signup-entry .navigation {
  margin: 15px 0;
}
.signup-entry .slideInOut {
  top: 0;
  left: 0;
  width: 100%;
}
.signup-entry .slideContainer {
  position: relative;
}
.signup-entry .controls {
  margin-bottom: 30px;
}
.signup-entry .slideContainer .closeDialog {
  display: none !important;
}
.driversLicense {
  position: relative;
}
.driversLicense .spinner {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}
.driversLicense .spinner .spinme {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  display: block;
}
form.ng-invalid {
  border: 0px solid rgba(0, 0, 0, 0);
}
form.ng-valid {
  border: 0px solid rgba(0, 0, 0, 0);
}
.col-cal {
  padding: 0.5px;
  width: calc(12.5%);
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.col-cal .innerCal {
  background: #fff;
  height: 60px;
  cursor: pointer;
}
.col-cal.key {
  line-height: 60px;
  padding-right: 20px;
}
.col-cal .innerCal {
  /* This parent can be any width and height */
  /* The ghost, nudged to maintain perfect centering */
  /* The element to be centered, can also be of any width and height */
}
.col-cal .innerCal .length-30 .bookButton {
  line-height: 30px;
}
.col-cal .innerCal .length-45 .bookButton {
  line-height: 45px;
}
.col-cal .innerCal .event {
  text-align: center;
  background: #ccc;
  color: #888 !important;
  font-size: 10px;
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
.col-cal .innerCal .event .centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.col-cal .innerCal .event:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.col-cal .innerCal .addAvailability {
  display: none;
  width: 100%;
  height: 100%;
  background: #363636;
  color: #faf125;
  line-height: 60px;
  text-align: center;
}
.col-cal .innerCal:hover .addAvailability {
  display: block;
}
.col-cal .innerCal.holiday {
  background: #cccccc;
  color: #888888;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}
.col-cal .innerCal .length-30 {
  height: 50%;
}
.col-cal .innerCal .length-45 {
  height: 75%;
}
.col-cal .innerCal .length-60 {
  height: 100%;
}
.col-cal .innerCal .start-15 {
  top: 25%;
}
.col-cal .innerCal .start-30 {
  top: 50%;
}
.col-cal .innerCal .start-45 {
  top: 75%;
}
.viewcalendar .available {
  opacity: 1 !important;
}
.available {
  position: relative;
}
.available:hover .bookButton {
  display: block;
}
.available .bookavail {
  line-height: 60px;
  text-align: center;
}
.available .bookButton {
  display: none;
}
.available .bookButton,
.available .fullButton {
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: #faf125;
  background: #363636;
  position: absolute;
  top: 0;
}
.available .hourspace {
  position: absolute;
  height: 25%;
  left: 0;
  width: 100%;
  background: #363636;
}
.available .hourspace.viewing {
  background: #fff !important;
}
.available .hourspace.hour-00 {
  top: 0;
}
.available .hourspace.hour-15 {
  top: 25%;
}
.available .hourspace.hour-30 {
  top: 50%;
}
.available .hourspace.hour-45 {
  top: 75%;
}
.available .spacesleftButton {
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 0;
}
.available .spacesleftButton span {
  color: #faf125;
  background: #363636;
  padding: 5px;
  display: inline-block;
  line-height: normal;
}
.bookingModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.bookingModal.active {
  opacity: 1;
  pointer-events: all;
}
.bookingModal .innerModal {
  float: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.whiteButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10001;
  margin: 0;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em;
}
.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}
.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}
.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}
.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC;
  color: #fff;
}
li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}
.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}
.signup-entry {
  color: #363636;
}
.signup-entry .loginBox .closeDialog {
  display: none;
}
.loationList .location {
  margin: 15px 0;
}
.greyback {
  background: #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
}
.whiteback,
.greyback {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}
.tinder {
  background: #fff;
  position: relative;
  z-index: 2;
  transform-origin: center top;
  box-shadow: 0 0 33px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  height: 800px;
  overflow: scroll;
}
.removeTransition {
  transform: none !important;
}
.tinder.others {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  z-index: 1;
  transform: scale(0.8);
}
.searchpage .filter {
  line-height: 51px;
  display: block;
  font-size: 12px;
  font-weight: 100;
}
.searchpage .filter .smallpad {
  padding: 5px;
  float: left;
}
.searchpage .filter .smallpad input {
  margin-right: 15px;
}
.smallpadding {
  padding: 5px;
}
/*!
 * Ladda
 * http://lab.hakim.se/ladda
 * MIT licensed
 *
 * Copyright (C) 2014 Hakim El Hattab, http://hakim.se
 */
.ladda-button {
  position: relative;
}
.ladda-button .ladda-spinner {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
}
.ladda-button .ladda-label {
  position: relative;
  z-index: 3;
}
.ladda-button .ladda-progress {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.1s linear all !important;
  -moz-transition: 0.1s linear all !important;
  -ms-transition: 0.1s linear all !important;
  -o-transition: 0.1s linear all !important;
  transition: 0.1s linear all !important;
}
.ladda-button[data-loading] .ladda-progress {
  opacity: 1;
  visibility: visible;
}
.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}
.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-spinner,
.ladda-button[data-style=zoom-out] .ladda-label {
  -webkit-transition: 0.3s ease all !important;
  -moz-transition: 0.3s ease all !important;
  -ms-transition: 0.3s ease all !important;
  -o-transition: 0.3s ease all !important;
  transition: 0.3s ease all !important;
}
.ladda-button[data-style=expand-right] .ladda-spinner {
  right: -6px;
}
.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner {
  right: -12px;
}
.ladda-button[data-style=expand-right][data-loading] {
  padding-right: 56px;
}
.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size="xs"] {
  padding-right: 40px;
}
.ladda-button[data-style=expand-left] .ladda-spinner {
  left: 26px;
}
.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-left][data-size="xs"] .ladda-spinner {
  left: 4px;
}
.ladda-button[data-style=expand-left][data-loading] {
  padding-left: 56px;
}
.ladda-button[data-style=expand-left][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=expand-left][data-loading][data-size="s"],
.ladda-button[data-style=expand-left][data-loading][data-size="xs"] {
  padding-left: 40px;
}
.ladda-button[data-style=expand-up] {
  overflow: hidden;
}
.ladda-button[data-style=expand-up] .ladda-spinner {
  top: -32px;
  left: 50%;
  margin-left: 0;
}
.ladda-button[data-style=expand-up][data-loading] {
  padding-top: 54px;
}
.ladda-button[data-style=expand-up][data-loading] .ladda-spinner {
  opacity: 1;
  top: 26px;
  margin-top: 0;
}
.ladda-button[data-style=expand-up][data-loading][data-size="s"],
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] {
  padding-top: 32px;
}
.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] .ladda-spinner {
  top: 4px;
}
.ladda-button[data-style=expand-down] {
  overflow: hidden;
}
.ladda-button[data-style=expand-down] .ladda-spinner {
  top: 62px;
  left: 50%;
  margin-left: 0;
}
.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-down][data-size="xs"] .ladda-spinner {
  top: 40px;
}
.ladda-button[data-style=expand-down][data-loading] {
  padding-bottom: 54px;
}
.ladda-button[data-style=expand-down][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=expand-down][data-loading][data-size="s"],
.ladda-button[data-style=expand-down][data-loading][data-size="xs"] {
  padding-bottom: 32px;
}
.ladda-button[data-style=slide-left] {
  overflow: hidden;
}
.ladda-button[data-style=slide-left] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-left] .ladda-spinner {
  left: 100%;
  margin-left: 0;
}
.ladda-button[data-style=slide-left][data-loading] .ladda-label {
  opacity: 0;
  left: -100%;
}
.ladda-button[data-style=slide-left][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%;
}
.ladda-button[data-style=slide-right] {
  overflow: hidden;
}
.ladda-button[data-style=slide-right] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-right] .ladda-spinner {
  right: 100%;
  margin-left: 0;
  left: 16px;
}
.ladda-button[data-style=slide-right][data-loading] .ladda-label {
  opacity: 0;
  left: 100%;
}
.ladda-button[data-style=slide-right][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%;
}
.ladda-button[data-style=slide-up] {
  overflow: hidden;
}
.ladda-button[data-style=slide-up] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-up] .ladda-spinner {
  left: 50%;
  margin-left: 0;
  margin-top: 1em;
}
.ladda-button[data-style=slide-up][data-loading] .ladda-label {
  opacity: 0;
  top: -1em;
}
.ladda-button[data-style=slide-up][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: 0;
}
.ladda-button[data-style=slide-down] {
  overflow: hidden;
}
.ladda-button[data-style=slide-down] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-down] .ladda-spinner {
  left: 50%;
  margin-left: 0;
  margin-top: -2em;
}
.ladda-button[data-style=slide-down][data-loading] .ladda-label {
  opacity: 0;
  top: 1em;
}
.ladda-button[data-style=slide-down][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: 0;
}
.ladda-button[data-style=zoom-out] {
  overflow: hidden;
}
.ladda-button[data-style=zoom-out] .ladda-spinner {
  left: 50%;
  margin-left: 32px;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
}
.ladda-button[data-style=zoom-out] .ladda-label {
  position: relative;
  display: inline-block;
}
.ladda-button[data-style=zoom-out][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner {
  opacity: 1;
  margin-left: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.ladda-button[data-style=zoom-in] {
  overflow: hidden;
}
.ladda-button[data-style=zoom-in] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
}
.ladda-button[data-style=zoom-in] .ladda-label {
  position: relative;
  display: inline-block;
}
.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
}
.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
  opacity: 1;
  margin-left: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.ladda-button[data-style=contract] {
  overflow: hidden;
  width: 100px;
}
.ladda-button[data-style=contract] .ladda-spinner {
  left: 50%;
  margin-left: 0;
}
.ladda-button[data-style=contract][data-loading] {
  border-radius: 50%;
  width: 52px;
}
.ladda-button[data-style=contract][data-loading] .ladda-label {
  opacity: 0;
}
.ladda-button[data-style=contract][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=contract-overlay] {
  overflow: hidden;
  width: 100px;
  box-shadow: 0px 0px 0px 2000px transparent;
}
.ladda-button[data-style=contract-overlay] .ladda-spinner {
  left: 50%;
  margin-left: 0;
}
.ladda-button[data-style=contract-overlay][data-loading] {
  border-radius: 50%;
  width: 52px;
  box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.8);
}
.ladda-button[data-style=contract-overlay][data-loading] .ladda-label {
  opacity: 0;
}
.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner {
  opacity: 1;
}
.ng-cloak {
  display: none;
}
.container .container {
  width: 100%;
}
.whiteback {
  background: #fff;
}
.bodyLock {
  overflow: hidden;
}
img.fullWidth {
  width: 100%;
}
.offScreen {
  position: fixed;
  top: -100%;
}
.locationiser {
  color: #363636;
}
.pricing .checkbox {
  margin-top: 30px;
}
.pricing .btn {
  margin-top: 26px;
  padding: 5px 13px;
}

/*# sourceMappingURL=bootstrap.css.map */