<div ng-controller="mustaterms">
	<form name="myForm">

        <h3>Trainer's Agreement</h3>
        <h4>Between You and Musta</h4>
		<div class="row">
			<iframe class="" style="height:400px;overflow:auto; width:100%;" src="/tandc/TrainersAgreement.html">
			</iframe>
		</div>

        <h3>Integra Pay Terms & Conditions</h3>
        <h4>Between You and Integra Pay</h4>
		<div class="row">
			<iframe class="" style="height:400px;overflow:auto; width:100%;" src="/files/IP-Terms-and-Conditions-20151201-v1.0.pdf">
			</iframe>
		</div>

		<div class="row text-center">
			<div class="checkbox">
				<label>
					 <input type="checkbox" ng-model="data.acceptterms" required>
					 I accept Trainer's Agreement and Integra Pay Terms and Conditions
				</label>
			</div>
		</div>

        <h4>You will be emailed these agreements upon submitting</h4>

	</form>
</div>
<div ng-include="controls"></div>