<div ng-controller="personalProfile" class="container blackback">
	<form name="myForm">
        <h2 class="heading row buffer-top-none bottom-buffer-sm"><div class="container"><i class="fa fa-sign-in" aria-hidden="true"></i><strong>Personal</strong> Details<span ng-click="page.bottomSlider.display = false" class="glyphicon glyphicon-share-alt reverse closeDialog" ng-hide="submitting"></span></div></h2>
        <div class="error_holder" ng-if="show_errors" style="display: none;">
        <ul>
            <li ng-repeat="(key, errors) in myForm.$error track by $index"> <strong>{{ key }}</strong> errors
                <ul>
                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                </ul>
            </li>
        </ul>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
					<label class="driversLicense">
						<div class="spinner square" ng-show="data.licence.front.loading"><img class="spinme" src="/img/spinner.png" /></div>
						<img ng-src="{{data.licence.front.url + '.' + data.licence.front.ext}}" class="img-responsive" />
						<div
							class="btn btn-primary btn-upload offScreen"
							upload-button
							url="/signup/tempImage/licenceFront"
							on-success="addedImg(response, 'front')"
							on-upload="data.licence.front.loading = true;"
							on-complete="data.licence.front.loading = false;"
						  >Upload</div>
					</label>
					<label class="driversLicense">
						<div class="spinner square" ng-show="data.licence.back.loading"><img class="spinme" src="/img/spinner.png"  /></div>
						<img ng-src="{{data.licence.back.url + '.' + data.licence.back.ext}}" class="img-responsive" />
						<div
							class="btn btn-primary btn-upload offScreen"
							upload-button
							url="/signup/tempImage/licenceBack"
							on-success="addedImg(response, 'back')"
							on-upload="data.licence.back.loading = true;"
							on-complete="data.licence.back.loading = false;"
						  >Upload</div>
					</label>
					<label class="driversLicense">
						<div class="spinner square" ng-show="data.bankstatement_pic.loading"><img class="spinme" src="/img/spinner.png"  /></div>
						<img ng-src="{{data.bankstatement_pic.url + '.' + data.bankstatement_pic.ext}}" class="img-responsive" />
						<div
							class="btn btn-primary btn-upload offScreen"
							upload-button
							url="/signup/tempImage/licenceBack"
							on-success="addedImg(response, 'bankstatement')"
							on-upload="data.bankstatement_pic.loading = true;"
							on-complete="databankstatement_pic.loading = false;"
						  >Upload</div>
					</label>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" type="text" name="First name" id="firstName" ng-model="data.firstName" required placeholder="First Name" /></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" type="text" name="Last name" id="lastName" ng-model="data.lastName" required placeholder="Last Name" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group"><input class="form-control" type="text" name="Address 1" id="add1" ng-model="data.add1" required placeholder="Address 1" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group"><input class="form-control" type="text" name="Address 2" id="add2" ng-model="data.add2" placeholder="Address 2" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" type="text" name="Suburb" id="suburb" ng-model="data.suburb" required placeholder="Suburb" /></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" type="text" name="Postcode" id="postcode" ng-model="data.postcode" required placeholder="Postcode" /></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<select id="state" class="form-control" name="State" ng-model="data.state" required>
								<option value="">State</option>
								<option value="qld">QLD</option>
								<option value="nsw">NSW</option>
								<option value="nt">NT</option>
								<option value="sa">SA</option>
								<option value="wa">WA</option>
								<option value="act">ACT</option>
								<option value="vic">VIC</option>
								<option value="tas">TAS</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<select id="state" class="form-control" name="Country" ng-model="data.country" required>
								<option value="">Country</option>
								<option value="au">Australia</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="form-group"><input class="form-control" name="Phone" type="text" id="phone" ng-model="data.phone"  required placeholder="Phone" /></div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group"><input type="email" name="Email" class="form-control" type="text" id="email" ng-model="data.email" required placeholder="Email"  /></div>
						<span style="color:red">{{emailerror}}</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<select class="form-control" name="Gender" id="gender" ng-model="data.gender" required>
								<option value="">Gender</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input type="password" name="Password" class="form-control" type="text" id="password"  ng-model="data.password" ng-required="!user.id" placeholder="Password" /></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input type="password" name="Password confirm" class="form-control" type="text" id="passwordconfirm" ng-model="data.passwordConfirm" ng-required="!user.id" placeholder="Confirm Password" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="form-group"><label>Date of birth</label><input type="date" name="Date of birth" class="form-control"  id="dob" ng-model="data.dob" required placeholer="D.O.B" /></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12">
						<label>Business Details</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" type="text" name="Business Name" id="bname" ng-model="data.bname" required placeholder="Business Name" /></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" type="text" name="ABN" pattern=".{11,11}" id="abn" ng-model="data.abn" required placeholder="ABN" />
                            <a href="http://abr.business.gov.au/" target="_blank">ABN Lookup</a></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
						<select class="form-control" name="Fitness Register Type" id="fregtype" ng-model="data.fregtype" required>
							<option value="">Fitness Association Member</option>
							<option value="-1">None</option>
							<option value="fitness australia">Fitness Australia</option>
							<option value="Fitness Network">Fitness Network</option>
							<option value="physical activity australia">Physical Activity Australia</option>
							<option value="other">Other</option>
						</select>
				        </div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group"><input class="form-control" name="Fitness Register Affiliation Number" type="text" id="freg" ng-model="data.freg" ng-required="data.fregtype != -1" placeholder="Fitness Register Affiliation Number" /></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<button class="pull-right btn btn-primary" ng-if="user.id" ng-click="savePersonal()">Save</button>
</div>

<div ng-include="controls"></div>