<div>
	<h3>I am a...</h3>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>
	<div class="form-group"><input class="form-control" type="text" /></div>


</div>

<div ng-include="controls"></div>