<div ng-controller="yourTCs" class="container blackback yourtcs">
	<h2 class="heading row buffer-top-none bottom-buffer-sm"><div class="container"><i class="fa fa-sign-in" aria-hidden="true"></i><strong>Default</strong> Terms And Conditions<span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></div></h2>
	<table class="table">
		<tr>
			<td colspan=3>
				 
				 <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.paystop.active" /> Payments will stop after the minimum number has been settled
					</label>
				</div>
				 
				 <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.minpay.active" /> After the minimum number of payments the trainee will continue on the recurring payments with no end date.
					</label>
				</div>
				 
				 
				 
				 <!---- Default from here active ----->
				 
				 <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.payfull.active"  /> Payment for all sessions must be made in full prior to the session
				commencing.
					</label>
				</div>
				 
				  <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.failedpayment.active" /> Failed payments will incur a fee which will be added to the next successful payment.
					</label>
				</div>
				 
				 <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.ifcancel.active" />
						If training is cancelled due to unavoidable reasons (ie. pregnancy, health 
						issues) and this falls before the next paid session, the trainee will be charged for 
						times they have trained only
					</label>
				</div>
				 
				 <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.custompaymentpolicy.active" /> Add own payment policy
						<div class="termOption" ng-if="terms.custompaymentpolicy.active">
							<textarea ng-model="terms.custompaymentpolicy.text" class="form-control"></textarea>
						</div>
					</label>
				</div>
				 
				 <h4>Cancelation & Rescheduling sessions</h4>
			
				<div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.sessioncancelled.refunded" /> A session cancelled or missed by the trainee will not be refunded under any 
				circumstances and full payment taken.
					</label>
				</div>
				
				 <div class="form-input">
					<label>
						<input type="checkbox" ng-model="terms.sessioncancelled.minof" /> A session cancelled by the trainee with a minimum of
					</label>
		
					<div class="termOption">
						<input type="number" ng-model="terms.sessioncancelled.min" />
						<select ng-model="terms.cancel.frequency">
							<option value="Hours">Hours</option>
							<option value="Days">Days</option>
							<option value="Weeks">Weeks</option>
							<option value="Months">Months</option>
						</select>
						notice will be –
						<div class="termOption">
							<div><label><input type="checkbox" ng-model="terms.cancel.makeup" /> Offered as a make up session at a time the trainer is available </label></div>
							<div><label><input type="checkbox" ng-model="terms.cancel.makeupweek" /> in that week. Failure to do so will incur the full cost of your session </label></div>
							<div><label><input type="checkbox" ng-model="terms.cancel.fullyrefund" /> Fully refunded by the trainer </label></div>
							<div><label><input type="checkbox" ng-model="terms.cancel.norefunded" /> Sessions cancelled with less than this notice period will not be refunded or 
				offered as a make up session </label></div>
						</div>
						<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.active" /> Add own cancelation policy</label> </div>
						<div class="termOption" ng-show="terms.cancel.addcancelation.active">
						   <div><label><textarea class="form-control" ng-model="terms.cancel.addcancelation.text"></textarea></label></div>
						</div>
					</div>
					
					<div class="form-input">
						<label>
							<input type="checkbox" ng-model="terms.cancelledbytrainer.active" /> A session cancelled by the trainer will be …</label>
						</label>
						<div class="termOption">
							<div><label><input type="checkbox" ng-model="terms.cancelledbytrainer.makeup" /> offered as a make up session at a time agreed between the trainer and trainee</label> </div>
							<h5><label><input type="checkbox" ng-model="terms.cancelledbytrainer.or" />  Or</label></h5>
							<div><label><input type="checkbox" ng-model="terms.cancelledbytrainer.fullyrefund" /> Fully refunded</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancelledbytrainer.bootcampattendance" /> <strong>Boot camp attendance, freezing membership and Public holidays</strong></label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancelledbytrainer.entitled" /> Members are entitled to attend all sessions they have signed up for and are encouraged not to miss any sessions.</label> </div>
						</div>
						  <div><label><input type="checkbox" ng-model="terms.cancelledbytrainer.brokendown" /> As memberships are broken down into <select ng-model="terms.breakdown.period"><option value="weekly">weekly</option><option value="monthly">monthly</option></select> payments, [the Bootcamp] will not compensate members who do not show up to sessions they have paid for. However members have the opportunity to place their membership on hold in advance if they have a medical</label> </div>
					<div><label><input type="checkbox" ng-model="terms.cancelledbytrainer.publicholiday" /> [The Bootcamp] is closed on Public Holidays, hence training sessions will not be run on Public holidays and will also not be compensated for.</label> </div>
						<div><label><input type="checkbox" ng-model="terms.cancel.addcancelationandreschedle.active" /> Add own cancelation and reschedule policy</label> </div>
							<div class="termOption" ng-show="terms.cancel.addcancelationandreschedle.active">
							   <div><label><textarea class="form-control" ng-model="terms.cancel.addcancelationandreschedle.text"></textarea></label></div>
							</div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.lateness" /><strong> Lateness</strong></label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.ifyouarelate" /> If you are late for a session your training will still finish at the end of the scheduled time</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.weather" /> <strong>Weather</strong></label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.assessionsareheld" /> As sessions are held outdoors, weather is uncontrollable, and training sessions will run in rain unless the weather is deemed dangerous due to hail or lightning.</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.washedout" /> Sessions that are washed out due to rain will not be compensated for</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.unlessawholeweek" /> unless a whole week of training has been cancelled</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.ifsessionscancelled" /> If sessions are cancelled due to dangerous weather conditions they will be</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.offeredasamakeup" /> Offered as a make up session at a time the trainer is available</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.inthatweek" /> in that week. Failure to do so will incur the full cost of your session</label> </div>
							<div><label><input type="checkbox" ng-model="terms.cancel.addcancelation.fullyrefunded" /> Fully refunded by the trainer</label> </div>
		
				 </div>
					
				  
					</div>
			</td>
		</tr>
	</table>
	<button class="button pull-right btn btn-primary" ng-click="saveTandC(terms);">Save</button>
</div>

<div ng-include="controls"></div>