//
// Buttons
// --------------------------------------------------

.btn,
.button {
  display:          inline-block;
  margin-bottom:    12px; // For input.btn
  color:            @btn-default-color;
  background-color: @brand-secondary;
  font-family:      @font-family-base;
  font-weight:      bold;
  text-align:       center;
  vertical-align:   middle;
  touch-action:     manipulation;
  cursor:           pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  outline:          2px solid transparent;
  border:           2px solid transparent;
  white-space:      nowrap;
  padding:          @padding-small;
  transition:       background-color 0.3s, outline-color 0.3s;

  &:not([disabled]) {
      &:hover,
      &:focus{
        color:              @btn-default-color;
        background-color:   lighten(@brand-secondary,15%);
      }
  }
  
  &.btn-primary {
      &:not([disabled]) {
          &:hover,
          &:focus{
            &:before {
                outline-color:      lighten(@brand-secondary,15%);
            }
          }
      }
  }

  &:active,
  &.active {
      background-color:   lighten(@brand-secondary,25%);
      
      &:before {
        outline-color:      lighten(@brand-secondary,25%);
      }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    .opacity(.65);
    .box-shadow(none);
  }

    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
    
    &:not(:last-child) {
        margin-right: 15px;
    }
}

.btn-full {
    width: 100%;
}

.text-right .btn {
    margin-right: 0;
    margin-left: 12px;
}

/*.blackback {
    .btn-primary {
        border-color: @brand-primary;
    }
}

.whiteback {
    .btn-primary {
        border-color: #fff;
    }
}*/

.btn-primary {
    position:         relative;
    /*outline:          @btn-default-border-size solid @brand-secondary;*/
    border:           1px solid transparent;
    padding:          (@padding-base - (@btn-default-border-size * 2))  @padding-base * 2;
    @media (max-height: 768px) {
        padding: 8px 25px;
    }
    font-family:      @headings-font-family;
    font-size:        @font-size-large - 1;
    
    @media (max-width: @screen-xs-max) {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }
    
    &:before {
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        outline: 3px solid @brand-secondary;
    }
}



.btn-lg {
    padding:          (@padding-base - (@btn-default-border-size * 2))  @padding-base * 2 + 20;
}

.btn-sm {
    font-size: 14px;
    padding: 8px 24px;
}

.btn-icon {
    color:              transparent;
    background-color:   transparent !important;
    border:             2px solid @brand-primary;
    border-radius:      50%;
    width:              @input-height-base - @padding-small;
    height:             @input-height-base - @padding-small;
    margin-top:         @padding-small / 2;
    padding:            0;
    text-align:         center;
    vertical-align:     middle;
    
    font-size:          0 !important;
    
    .glyphicon,
    .fa,
    &:before {
        font-size:      @font-size-base;
        line-height:    @input-height-base - @padding-small * 1.5;
        color:          @brand-primary;
    }
    &:hover {
        border-color:   @brand-secondary;
        .glyphicon,
        .fa,
        &:before {
            color:      @brand-secondary;
        }
    }
}
header .btn-icon {
    width:              @navbar-height;
    height:             @navbar-height;
    .glyphicon,
    .fa,
    &:before {
        font-size:      @font-size-h2;
        line-height:    @navbar-height - (@btn-default-border-size * 2);
    }
}
.inverse .btn-icon {
    border:             2px solid @brand-secondary;
    .glyphicon,
    .fa,
    &:before {
        color:          @brand-secondary;
    }
    &:hover {
        border-color:   @brand-white;
        .glyphicon,
        .fa,
        &:before {
            color:      @brand-white;
        }
    }    
}



// // Link buttons
// // -------------------------

// // Make a button look and behave like a link
// .btn-link {
//   color: @link-color;
//   font-weight: normal;
//   border-radius: 0;

//   &,
//   &:active,
//   &.active,
//   &[disabled],
//   fieldset[disabled] & {
//     background-color: transparent;
//     .box-shadow(none);
//   }
//   &,
//   &:hover,
//   &:focus,
//   &:active {
//     border-color: transparent;
//   }
//   &:hover,
//   &:focus {
//     color: @link-hover-color;
//     text-decoration: @link-hover-decoration;
//     background-color: transparent;
//   }
//   &[disabled],
//   fieldset[disabled] & {
//     &:hover,
//     &:focus {
//       color: @btn-link-disabled-color;
//       text-decoration: none;
//     }
//   }
// }




// // Block button
// // --------------------------------------------------

// .btn-block {
//   display: block;
//   width: 100%;
// }

// // Vertically space out multiple block buttons
// .btn-block + .btn-block {
//   margin-top: 5px;
// }

// // Specificity overrides
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//   &.btn-block {
//     width: 100%;
//   }
// }
