//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
*,
*:before,
*:after {
  .box-sizing(border-box);
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



// Links

// a {
//   color: @link-color;
//   text-decoration: none;

//   &:hover,
//   &:focus {
//     color: @link-hover-color;
//     text-decoration: @link-hover-decoration;
//   }

//   &:focus {
//     .tab-focus();
//   }
// }


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
    vertical-align: middle;
    width:          auto;
    max-width:      100%;
    height:         auto;  
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}

.img-round {
    border-radius: 50%;
}

.img-equal {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 50%;
    background: none;
    
    .img-round {
        position: absolute;
        top: 0;
        border-radius: 0;
        bottom: 0;
        margin: auto;
    }
}

// Rounded corners
.img-rounded {
  border-radius: @border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: @thumbnail-padding;
  line-height: @line-height-base;
  background-color: @thumbnail-bg;
  border: 1px solid @thumbnail-border;
  border-radius: @thumbnail-border-radius;
  .transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  .img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules

hr {
  margin-top:    @line-height-base;
  margin-bottom: @line-height-base;
  border: 0;
  border-top: 1px solid @hr-border;
}

.hr {
  border-bottom: 2px #faf125 solid;
  padding-bottom: 12px;
}


.col-sm-6 {
    &:first-child .hr {
        margin-right: -15px;
    }
    
    &:first-child ~ div .hr {
        margin-left: -15px;
        padding-left: 15px;
    }
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}


 .transition{
	
	&:after {
	    content: '';
	    transition: all 0.3s;
	    background-color: transparent;
	}
}

.blur:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(54,54,54,0.62);
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  hr {
      &:first-child {
          margin-top: 0;
      }
      &:last-child {
          margin-bottom: 0;
      }
  }
}

.flex-2 {
  -webkit-flex: 2 0 0px;
  flex: 2 0 0;
  -ms-flex: 2 0 auto;
}

.flex-3 {
  -webkit-flex: 3 0 0px;
  flex: 3 0 0;
  -ms-flex: 3 0 auto;
}

.flex-4 {
  -webkit-flex: 4 0 0px;
  flex: 4 0 0;
  -ms-flex: 4 0 auto;
}

.flex-6 {
  -webkit-flex: 6 0 0px;
  flex: 6 0 0;
  -ms-flex: 6 0 auto;
}

.flex-8 {
  -webkit-flex: 8 0 0px;
  flex: 8 0 0;
  -ms-flex: 8 0 auto;
}

.flex-10 {
  -webkit-flex: 10 0 0px;
  flex: 10 0 0;
  -ms-flex: 10 0 auto;
}

.flex-100 {
  -webkit-flex: 1 100% 0px;
  flex: 1 100% ;
  -ms-flex: 1 1 100%;
}

.flex-8th {
  -webkit-flex: 1 12.5% 0px;
  flex: 1 12.5% ;
  -ms-flex: 1 1 12.5%;
}

.flex-50th {
  -webkit-flex: 1 50% 0px;
  flex: 1 50% ;
  -ms-flex: 1 1 50%;
}

.flex-full {
  -webkit-flex: 1 100% 0px;
  -ms-flex: 1 1 100%;
  flex: 1 100% ;
  width: 100%;
}

div[class^="flex-"] > :first-child:not([class^="flex-"]) {
  padding-left: 15px;
}

div[class^="flex-"] > :last-child:not([class^="flex-"]) {
  padding-right: 15px;
}

@media all and (-ms-high-contrast:none) {
    div[class^='flex-10'] > :first-child:not([class^='flex-']).form-group { padding-left: 5px; } /* IE10 */
    *::-ms-backdrop div[class^='flex-10'] > :first-child:not([class^='flex-']).form-group { padding-left: 5px; } /* IE11 */
}

.clear {
    clear: both;
}

.field-name {
    min-width: 120px;
    display: inline-block;
}