//
// Wells
// --------------------------------------------------


// Base class
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: @well-bg;
    border: 1px solid @well-border;
    border-radius: @border-radius-base;
    clear: both;
    
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }
    & > .btn:last-child {
        margin-bottom: 0;
        margin-top: 12px;
    }
}

.well-dark {
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2);
}

.well-darker {
    background-color: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}
