<div class="container overlay-general overlay-calendar-event">
    <div class="modal modal-event blackback">
        <h3 class="heading"><i class="fa fa-plus" aria-hidden="true"></i><strong>Add</strong><span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></h3>

        <div class="row">
            <div class="col-xs-12"  style="padding-top: 25px;">
                <div class="col-xs-12">

                    <div class="form-group col-xs-6">
                        <button type="submit" class="btn btn-primary ladda-button pull-right col-xs-12" id="submit" data-style="expand-left" ng-click="showRule(false);">PT Availability</button>
                    </div>

                    <div class="form-group col-xs-6">
                        <button type="submit" class="btn btn-primary ladda-button pull-right col-xs-12" id="submit" data-style="expand-left" ng-click="editEvent(false);">Event</button>
                    </div>

                    <!--<div class="form-group">
                        <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Booking</button>
                    </div>-->

                </div>
            </div>

        </div>
    </div>
</div>