<!--
* Created by Jephcott on 5/26/2016.
* This is where the booking modal popup should be, currently it is in calendar.html due to needing functions from calendar
-->
<div class="container calendar-booking-controller overlay-general overlay-calendar-booking" ng-controller="booking">
    <div class="modal modal-event">
        <h3 class="heading"><i class="fa fa-pencil" aria-hidden="true"></i><strong>Edit</strong> your booking <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></h3>
        <form class="well" onSubmit="return false;" ng-submit="saveBooking(curBooking)">

            <div class="form-group" ng-if="canEdit">
                <label>Client</label>
                {{curBooking.participant["first_name"]}} {{curBooking.participant["second_name"]}}
            </div>
            <div class="form-group">
                <label>Location:</label>
                <div>
                    {{curBooking.location.Location.name}}<br/>
                    <div ng-repeat="a in curBooking.location.Addresses">{{a.address}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>Date:</label>
                <div ng-if="!curBooking.editBooking">
                    {{curBooking.date_start | date : 'fullDate' }}
                </div>
                <div ng-if="curBooking.editBooking">
                    <input class="form-control" type="date" ng-model="curBooking.date_start">
                </div>
            </div>
            <div class="form-group">
                <label>Session time</label>
                <div ng-if="!curBooking.editBooking">
                    {{curBooking.time_start}}
                </div>
                <div ng-if="curBooking.editBooking">
                    <input class="form-control booking-timepicker" type="text" ng-model="curBooking.time_start" required >
                    <script type="text/javascript">
                        // NDJ - #$#$# todo move this out of there
                        jQuery(".booking-timepicker").timepicker({
                            'step': 15,
                            'timeFormat': 'H:i:s'
                        });
                    </script>
                </div>
                <!--<select class="form-control" ng-model="$parent.booking.time">
                    <option value="">Select One</option>
                    <option value="00" ng-if="bookOptions.data.bookable[0]">{{ bookOptions.data.hour | addZero }}:00</option>
                    <option value="15" ng-if="bookOptions.data.bookable[15]">{{ bookOptions.data.hour | addZero }}:15</option>
                    <option value="30" ng-if="bookOptions.data.bookable[30]">{{ bookOptions.data.hour | addZero }}:30</option>
                    <option value="45" ng-if="bookOptions.data.bookable[45]">{{ bookOptions.data.hour | addZero }}:45</option>
                </select>-->
            </div>
            <div class="form-group">
                <!--<div ng-if="curBooking.editBooking">
                    <label>Select <span ng-if="bookOptions.data.type == 'pt'">Duration</span><span ng-if="bookOptions.data.type == 'bc'">Plan</span></label>
                    <select class="form-control" ng-model="booking.durationplan">
                        <option value="">Select One</option>
                        <option
                                value="{{pricing.PtPricing.id}}"
                                ng-repeat="pricing in bookOptions.pricing[0].pricing | filter: {PtPricing: {session_length: '!0'}} : true "
                                ng-if="pricing.PtPricing.id && checkAfterSession(bookOptions.data.timings.date, bookOptions.data.timings.time_start, $parent.booking.time, pricing.PtPricing.session_length)"
                        >
                            {{pricing.PtPricing.session_length}} minutes - ${{pricing.PtPricing.price}}
                        </option>
                        <option
                                value="SGT-{{pricing.PtPricing.id}}"
                                ng-repeat="pricing in bookOptions.pricing[0].pricing | filter : filterSGT"
                                ng-if="pricing.PtPricing.id && checkAfterSession(bookOptions.data.timings.date, bookOptions.data.timings.time_start, $parent.booking.time, pricing.PtPricing.session_length)"
                        >
                            {{pricing.PtPricing.session_length}} minutes SGT - ${{pricing.PtPricing.sgt_fee}}
                        </option>
                        <option value="{{pricing.BcPricing.id}}" ng-repeat="pricing in bookOptions.pricing[0].pricing" ng-if="pricing.BcPricing.id">{{pricing.BcPricing.name}} - {{pricing.BcPricing.included_sessions}} Sessions - ${{pricing.BcPricing.price}}</option>
                    </select>
                </div>-->
                <div>
                    <label>Duration:</label>
                    {{curBooking.length}}
                </div>
            </div>
            <div class="form-group">
                <label>Participant Notes</label>
                <div>
                    {{curBooking.participant_notes}}
                </div>
            </div>
            <div class="form-group">
                <label>Notes{{!canEdit ? '' : ' (visible to client)'}}</label>
                <div ng-if="!canEdit">
                    {{curBooking.session_notes}}
                </div>
                <div ng-if="canEdit">
                    <textarea ng-model="curBooking.session_notes"></textarea>
                </div>
            </div>
            <div class="form-group" ng-if="canEdit">
                <label>Cancel Booking</label>
                <input type="checkbox" ng-model="curBooking.cancelBooking" />
            </div>
            <!-- NDJ - we may need this
            <div class="form-group" ng-if="canEdit">
                <label>Cancel Payment</label>
                <input type="checkbox" ng-model="curBooking.cancelPayment" />
            </div>-->
            <div class="form-group" ng-if="canEdit">
                <label>Edit Booking</label>
                <input type="checkbox" ng-model="curBooking.editBooking" />
            </div>
            <div class="form-group" ng-if="canEdit">
                <label>Notify Client</label>
                <div ng-if="curBooking.editBooking || curBooking.cancelBooking">
                    <input type="checkbox" checked="checked" disabled="disabled" /> Client must be notified if editing/canceling
                </div>
                <div ng-if="!(curBooking.editBooking || curBooking.cancelBooking)">
                    <input type="checkbox" ng-model="curBooking.notifyClient" />
                </div>
            </div>
            <div class="form-group" ng-if="curBooking.notifyClient || curBooking.editBooking || curBooking.cancelBooking">
                <label>Message to client (session details will automatically be included)</label>
                <textarea ng-model="curBooking.msgToClient">
Hi xxxx, I've updated our booking
                </textarea>
            </div>
            <div class="form-group" ng-if="canEdit">
                <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Submit</button>
            </div>
        </form>
    </div>
</div>