<!-- NDJ - this is not in use, was superceded by booking.html - 26/5/2016 -->
<div class="container eventthing" ng-controller="bookingcreate">
    <div class="loginBox">
        <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
        <form class="well" onSubmit="return false;" ng-submit="saveEvent(event)">
            <div class="form-group">
                <label>
                    Title
                    <input class="form-control" type="text" ng-model="event.title" required>
                </label>
			</div>
            <div class="form-group">
                <label>
                    Location
                     <select ng-model="event.location" class="form-control" required>
                        <option ng-repeat="loc in userLocations" value="{{loc.Location.id}}">{{loc.Location.name}}</option>
                    </select>
                </label>
			</div>
            <div class="form-group">
                <label>
                    Attendees
                    <select class="form-control" ng-model="event.clients">
                        <option value="">Choose a client</option>
                        <option ng-repeat="client in clientList" ng-hide="client.hidden"  value="{{client.TrainerClient.user_id || 0 }},{{client.TrainerClient.email}}">{{client.TrainerClient.name}} ({{client.TrainerClient.email}})</option>
                    </select>
                </label>
			</div>
            <div class="form-group">
                <div class="row" ng-repeat="client in event.selectedClients track by client.TrainerClient.id">
                    <div class="col-xs-12">
                        {{client.TrainerClient.name}} ({{client.TrainerClient.email}})
                        <span class="glyphicon glyphicon-remove pull-right" ng-click="removeClient(client, $index)"></span>
                    </div>
                </div>
			</div>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-6">
                        Send email to clients &nbsp;
                        <input type="checkbox" ng-model="event.sendemail" />
                    </label>
                </div>
            </div>
            <!--<div class="form-group">
                <label>
                    Start Time
                    <select class="form-control" ng-model="event.start">
                        <option value="00">{{event.time}}:00</option>
                        <option value="15">{{event.time}}:15</option>
                        <option value="30">{{event.time}}:30</option>
                        <option value="45">{{event.time}}:45</option>
                    </select>
                </label>
			</div>-->
            <div class="form-group">
                <label>
                    Duration
                    <select class="form-control" ng-model="event.duration">
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                    </select>
                </label>
			</div>
            <div class="form-group">
                <label>
                    Colour
                    <input class="form-control" type="color" ng-model="event.colour" required>
                </label>
			</div>
            <div class="form-group">
                <label>
                    Notes
                    <textarea ng-model="event.notes" class="form-control"></textarea>
                </label>
			</div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label class="col-xs-6">
                            Repeat &nbsp;
                            <input type="checkbox" ng-model="event.repeat" />
                        </label>
                    </div>
                    <div class="col-xs-6">
                        <label ng-if="event.repeat">
                            Frequency
                            <div class="radio">
                                <label><input type="radio" ng-model="event.every" value="daily">Daily</label>
                                <label><input type="radio" ng-model="event.every" value="weekly">Weekly</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
			<div class="row"  ng-if="event.every == 'weekly' && event.repeat">
                <div class="col-xs-12">
                     <label class="col-xs-12">
                        <input type="checkbox" ng-model="event.weekly.monday" />
                        Monday
                    </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.weekly.tuesday" />
                        Tuesday
                    </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.weekly.wednesday" />
                        Wednesday
                    </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.weekly.thursday" />
                        Thursday
                    </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.weekly.friday" />
                        Friday
                    </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.weekly.saturday" />
                        Saturday
                    </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.weekly.sunday" />
                        Sunday
                    </label>
					 
                </div>
            </div>
			<div class="row"  ng-if="event.repeat">
                <div class="col-xs-12">
                    <label ng-if="event.repeat">
                        <div class="input-group">
                            <span class="input-group-addon">Every</span>
                            <input class="form-control" type="number" ng-model="event.frequency" required />
                            <span class="input-group-addon">{{(event.every =='daily') ? 'day(s)' : 'week(s)'}}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label ng-if="event.repeat">
                        <div class="input-group">
                            <input class="form-control" type="number" ng-model="event.repeatduration" required />
                            <span class="input-group-addon">times</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>