<div ng-controller="calendar">
    <div class="calendar">
            <div class="row">
                 <div class="col-cal"></div>
                 <div class="col-cal text-center" ng-repeat="d in DoW"><span class="hidden-xs hidden-sm">{{d}} </span><span class="visible-xs visible-sm">{{d.substr(0,1)}} </span>{{ days[d].dateObj.getDate() | dateNth }}</div>
            </div>
            <div class="row" ng-repeat="(key, hour) in hours | orderObjectBy: 'order'"> 
                 <div class="col-cal text-right key">{{hour.order | addZero}}:00</div>
                 <div class="col-cal" ng-repeat="d in DoW">
                     <div class="innerCal" ng-hide="holiday[d]">
                         <div ng-if="editMode && !hour[d]" class="addAvailability" ng-click="addAvailable(editMode, $parent.$index, key, selectedLocation)"><span class="glyphicon glyphicon-plus-sign"></span> Add</div>
                         <div ng-if="deleteMode && hour[d]" class="addAvailability" ng-click="hour[d] = false"><span class="glyphicon glyphicon glyphicon-minus-sign"></span> Delete</div>
                         <div ng-if="hour[d]" class="length-{{hour[d].length}} type-{{hour[d].type}} available" style="background-color: {{hour[d].location.Location.color}}; opacity: 0.2;"></div>
                     </div>
                      <div class="innerCal holiday" ng-show="holiday[d]">
                         Holiday
                     </div>
                 </div>
            </div>
     </div>
</div>