<div class="container calendar-rule-controller overlay-general overlay-calendar-rule" ng-controller="calendarrule">
    <div class="modal modal-event">
        <h3 class="heading"><i class="fa fa-pencil" aria-hidden="true"></i><strong>Edit</strong> your availability <span ng-click="goBack()" class="closeDialog"></span></h3>

        <form class="well" onSubmit="return false;" ng-submit="saveRule(curRule)">
            <div class="alert alert-danger" ng-if="error_messages">
                <h4>Please Correct:</h4>
                <ul>
                    <li ng-repeat="error_msg in error_messages">{{error_msg}}</li>
                </ul>
            </div>
            <div class="row">
	            <div class="form-group col-xs-12 col-sm-6">
	                <label>
	                    Title
	                    <input class="form-control" type="text" ng-model="curRule.title">
	                </label>
	            </div>
	            <!--<div class="form-group col-xs-12 col-sm-6">
	                <label>
	                    Name
	                    <input class="form-control" type="text" ng-model="curRule.name">
	                </label>
	            </div>-->
	            <div class="form-group col-xs-12">
	                <label>
	                    Location
	                    <select ng-model="curRule.location" class="form-control" required>
	                        <option ng-repeat="loc in userLocations" value="{{loc.Location.id}}" ng-if="!loc.Location.event">{{loc.Location.name}}</option>
	                    </select>
	                </label>
	            </div>
	            <div class="form-group col-xs-12 col-sm-6">
	                <label>
	                    Start Date
	                    <input class="form-control" type="date" ng-model="curRule.date_start">
	                </label>
	            </div>
	            <div class="form-group col-xs-12 col-sm-6">
	                <label>
	                    End Date
	                    <input class="form-control" type="date" ng-model="curRule.date_end">
	                </label>
	            </div>
	            <div class="form-group col-xs-12 col-sm-6">
	                <label>
	                    Start Time
	                    <input ui-timepicker="timePickerOptions" class="form-control rule-timepicker" type="text" ng-model="curRule.time_start" required>
	                </label>
	            </div>
	            <div class="form-group col-xs-12 col-sm-6">
	                <label>
	                    End Time
	                    <input ui-timepicker="timePickerOptions" class="form-control rule-timepicker" type="text" ng-model="curRule.time_end" required>
	                </label>
	            </div>
	            <!-- Removed until a need is found for these
	            <div class="form-group col-xs-12">
	                <label>
	                    Notes
	                    <textarea ng-model="curRule.notes" class="form-control"></textarea>
	                </label>
	            </div>-->
            </div>
            <div class="row">
                <div class="form-group">
                    <!--<div class="col-xs-6">
                        <label class="col-xs-6">
                            Repeat &nbsp;
                            <input type="checkbox" ng-model="curRule.repeat" />
                        </label>
                    </div>-->
                    <div class="col-xs-6">
                        <label ng-if="curRule.repeat || true">
                            Available on:
                            <div class="radio ng-hide">
                                <!--<label><input type="radio" ng-model="curRule.every" value="daily">Daily</label>-->
                                <label><input type="radio" ng-model="curRule.frequency" value="weekly">Weekly</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row"  ng-if="(curRule.every == 'weekly' && curRule.repeat) || true">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Monday" />
                        Monday
                    </label>
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Tuesday" />
                        Tuesday
                    </label>
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Wednesday" />
                        Wednesday
                    </label>
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Thursday" />
                        Thursday
                    </label>
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Friday" />
                        Friday
                    </label>
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Saturday" />
                        Saturday
                    </label>
                    <label class="col-xs-12 col-sm-6">
                        <input type="checkbox" ng-model="curRule.day.Sunday" />
                        Sunday
                    </label>

                </div>
            </div>
            <!--<div class="row"  ng-if="curRule.repeat">
                <div class="col-xs-12">
                    <label ng-if="curRule.repeat">
                        <div class="input-group">
                            <span class="input-group-addon">Every</span>
                            <input class="form-control" type="number" ng-model="curRule.frequency" required />
                            <span class="input-group-addon">{{(curRule.every =='daily') ? 'day(s)' : 'week(s)'}}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label ng-if="curRule.repeat">
                        <div class="input-group">
                            <input class="form-control" type="number" ng-model="curRule.repeatduration" required />
                            <span class="input-group-addon">times</span>
                        </div>
                    </label>
                </div>
            </div>-->
                <div class="form-group buffer-bottom-none">
                    <!--<div class="alert alert-danger gutter-vertical" ng-if="error_messages">Please correct errors then try saving again</div>-->
                    <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Submit</button>
                </div>
        </form>
    </div>
</div>