<h3>{{dayInQuestion.fullDate.toDateString()}} {{}}</h3>
<div class="sessionList">
	<div class="session label label-primary" ng-repeat="available in availability | filter: {date: dayInQuestion.fullDate.getFullYear()+'-'+formatDate(dayInQuestion.fullDate.getMonth() + 1)+'-'+formatDate(dayInQuestion.fullDate.getDate())}" >
		<div ng-if="available.type == 'timeslot'">
			<div>{{available.time_start.slice(0,5)}} - {{ getDuration(available.time_start, available.length)}} {{available.name}}</div>
			<div class="label label-secondary">Do something</div>
		</div>
		<div ng-if="available.type == 'availability'">
			<div>{{available.time_start.slice(0,5) }} - {{ available.time_finish.slice(0,5) }} {{available.name}}</div>
			<div class="label label-secondary">Do something</div>
		</div>
	</div>
</div>

<button class="col-xs-12 btn btn-primary" ng-click="addSessionForm()" ng-if="user.role == 1">Add Session</button>
<button class="col-xs-12 btn btn-primary" ng-click="addAvailableForm()" ng-if="user.role == 2">Add Availability</button>

