<div class="container event-controller overlay-general overlay-calendar-event" ng-controller="events">
    <div class="modal modal-event">
    <div class="instance-holder" ng-hide="event_mode">
        <h3 class="heading"><i class="fa fa-plus" aria-hidden="true"></i><strong ng-if="event_creating">Add</strong><strong ng-if="!event_creating">Edit</strong> event <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></h3>

        <form class="well" onSubmit="return false;" ng-submit="saveEventInstance(instance)">
            <a ng-hide="event_creating" class="btn btn-primary disabled" >Edit just this event</a>
            <a ng-hide="!event_creating" class="btn btn-primary disabled">One off event</a>
            <a ng-hide="event_creating" class="btn btn-primary" ng-click="event_mode = true;console.log('test b');">Edit all future events</a>
            <a ng-hide="!event_creating" class="btn btn-primary" ng-click="event_mode = true;console.log('test a');">Repeating event</a>
            <div class="form-group">
                <label>
                    <h3>One off event</h3>
                    Bookable
                    <select ng-model="instance.bookable" class="form-control" required>
                        <option value="1">Bookable event - Class/Bootcamp</option>
                        <option value="0">Unbookable: removes PT availability</option>
                    </select>
                </label>
            </div>
            <div class="form-group" ng-if="instance.bookable == 1">
                <label>
                    Location (Please add in Location menu item)
                    <select ng-model="instance.location" class="form-control" ng-change="changeLocationInstance();" required>
                        <option ng-repeat="loc in userLocations | filter:{Location:{event: true}}" ng-selected="instance.location == loc.Location.id" value="{{loc.Location.id}}">{{loc.Location.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group" ng-if="instance.bookable == 1">
                <label>
                    Class (Please select Location first)
                    <select ng-model="instance.class" class="form-control" required>
                        <option ng-repeat="price in (userLocations | filter:{Location:{id: instance.location} } )[0].BcPricing" ng-selected="instance.class == price.id" value="{{price.id}}">{{price.name}} (${{price.price}})</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Start Time
                    <input ui-timepicker="timePickerOptions" class="form-control timepicker" ng-model="instance.time_start" required >
                </label>
            </div>
            <div class="form-group">
                <label>
                    Date
                    <input class="form-control" type="date" ng-model="instance.date">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Duration
                    <select class="form-control" ng-model="instance.duration">
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                        <option value="75">75 minutes</option>
                        <option value="90">90 minutes</option>
                        <option value="105">105 minutes</option>
                        <option value="120">120 minutes</option>
                        <option value="135">135 minutes</option>
                        <option value="150">150 minutes</option>
                        <option value="165">165 minutes</option>
                        <option value="180">180 minutes</option>
                        <option value="195">195 minutes</option>
                        <option value="210">210 minutes</option>
                        <option value="225">225 minutes</option>
                        <option value="240">240 minutes</option>
                    </select>
                </label>
            </div>
            <div class="form-group" ng-if="!instance.class">
                <label>
                    Title
                    <input class="form-control" type="text" ng-model="instance.title" required>
                </label>
            </div>
            <div class="form-group" ng-if="instance.bookable == 1">
                <label>
                    Spaces (usually {{event.spaces}})
                    <input class="form-control" type="number" ng-model="instance.spaces"/>
                </label>
            </div>
            <div class="form-group" ng-if="instance.bookable == 1">
                <label>
                    Spaces Used (not including registered attendees)
                    <input class="form-control" type="number" ng-model="instance.spaces_used" />
                </label>
            </div>
            <!--<div class="form-group">
                <label>
                    Attendees
                    <select class="form-control" ng-model="instance.clients">
                        <option value="">Choose a client</option>
                        <option ng-repeat="client in clientList" ng-hide="client.hidden"  value="{{client.TrainerClient.user_id || 0 }},{{client.TrainerClient.email}}">{{client.TrainerClient.name}} ({{client.TrainerClient.email}})</option>
                    </select>
                </label>
            </div>-->
            <div class="form-group" ng-if="instance.bookable == 1">
                <div class="row" ng-repeat="client in instance.selectedClients track by client.TrainerClient.id">
                    <div class="col-xs-12">
                        {{client.TrainerClient.name}} ({{client.TrainerClient.email}})
                        <span class="pay-status" ng-if="client.status">{{client.status}}</span>
                        <span class="registration" ng-if="client.registration_id">Registered</span>
                        <input type="checkbox" ng-model="client.checked_off" />
                        <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeClient(client, $index)"></span>-->
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="form-group">
                    <label class="col-xs-6">
                        Send email to clients &nbsp;
                        <input type="checkbox" ng-model="instance.sendemail" />
                    </label>
                </div>
            </div>-->
            <div class="form-group" ng-if="instance.bookable == 1 && !instance.class && false">
                <label>
                    Price
                    <input class="form-control" type="number" ng-model="instance.price">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Colour
                    <input class="form-control" type="color" ng-model="instance.colour" required>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Notes (visible to clients when booking event)
                    <textarea ng-model="instance.notes" class="form-control"></textarea>
                </label>
            </div>
            <div class="form-group">
                <label>Delete Event</label>
                <input type="checkbox" ng-model="instance.delete" />
                <div class="delete-disclaimer" ng-if="instance.delete">If you are going to delete this event please ensure you have informed anyone registered for this event</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Submit</button>
            </div>
        </form>
    </div>
    <div class="event_holder" ng-hide="!event_mode">

        <h3 class="heading"><i class="fa fa-plus" aria-hidden="true"></i><strong ng-if="event_creating">Add Repeating Event</strong><strong ng-if="!event_creating">Edit all future events</strong> <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></h3>
        <form class="well" onSubmit="return false;" ng-submit="saveEvent(event)">
            <a ng-hide="event_creating" class="btn btn-primary" ng-click="event_mode = false;">Edit just this event</a>
            <a ng-hide="!event_creating" class="btn btn-primary" ng-click="event_mode = false;">One off event</a>        
            <a ng-hide="event_creating" class="btn btn-primary disabled">Edit all future events</a>
            <a ng-hide="!event_creating" class="btn btn-primary disabled">Repeating event</a>
            <div class="form-group">
                <label>
                    <h3>Repeating Event</h3>
                    Bookable
                    <select ng-model="event.bookable" class="form-control" required>
                        <option value="1">Bookable event - Class/Bootcamp</option>
                        <option value="0">Unbookable: removes PT availability</option>
                    </select>
                </label>
            </div>
            <div class="form-group" ng-if="event.bookable == 1">
                <label>
                    Location (Please add in Location menu item)
                    <select ng-model="event.location" class="form-control" ng-change="changeLocationEvent();" required>
                        <option ng-repeat="loc in userLocations | filter:{Location:{event: true}}" ng-selected="instance.location == loc.Location.id" value="{{loc.Location.id}}">{{loc.Location.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group" ng-if="event.bookable == 1" required>
                <label>
                    Class (Please select Location first)
                    <select ng-model="event.class" class="form-control" required>
                        <option ng-repeat="price in (userLocations | filter:{Location:{id: event.location} } )[0].BcPricing" ng-selected="event.class == price.id" value="{{price.id}}">{{price.name}} (${{price.price}})</option>
                    </select>
                </label>
            </div>
            <div>
                <div class="form-group">
                    <label>
                        Start Date
                        <input class="form-control" type="date" ng-model="event.date_start">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        End Date
                        <input class="form-control" type="date" ng-model="event.date_end">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Start Time
                    <input ui-timepicker="timePickerOptions" class="form-control timepicker" ng-model="event.time_start" required >
                    <!--<select class="form-control" ng-model="event.time_start_minute">
                        <option value="00">{{event.time_start_hour}}:00</option>
                        <option value="15">{{event.time_start_hour}}:15</option>
                        <option value="30">{{event.time_start_hour}}:30</option>
                        <option value="45">{{event.time_start_hour}}:45</option>
                    </select>-->
                </label>
            </div>
            <div class="form-group">
                <label>
                    Duration
                    <select class="form-control" ng-model="event.duration">
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                        <option value="75">75 minutes</option>
                        <option value="90">90 minutes</option>
                        <option value="105">105 minutes</option>
                        <option value="120">120 minutes</option>
                        <option value="135">135 minutes</option>
                        <option value="150">150 minutes</option>
                        <option value="165">165 minutes</option>
                        <option value="180">180 minutes</option>
                        <option value="195">195 minutes</option>
                        <option value="210">210 minutes</option>
                        <option value="225">225 minutes</option>
                        <option value="240">240 minutes</option>
                    </select>
                </label>
            </div>
            <div class="form-group" ng-if="!event.class">
                <label>
                    Title
                    <input class="form-control" type="text" ng-model="event.title" required>
                </label>
			</div>
            <div class="form-group" ng-if="event.bookable == 1">
                <label>
                    Spaces
                    <input class="form-control" type="number" ng-model="event.spaces"/>
                </label>
            </div>
            <!--<div class="form-group">
                <label>
                    Attendees
                    <select class="form-control" ng-model="event.clients">
                        <option value="">Choose a client</option>
                        <option ng-repeat="client in clientList" ng-hide="client.hidden"  value="{{client.TrainerClient.user_id || 0 }},{{client.TrainerClient.email}}">{{client.TrainerClient.name}} ({{client.TrainerClient.email}})</option>
                    </select>
                </label>
			</div>
            <div class="form-group">
                <div class="row" ng-repeat="client in event.selectedClients track by client.TrainerClient.id">
                    <div class="col-xs-12">
                        {{client.TrainerClient.name}} ({{client.TrainerClient.email}})
                        <span class="glyphicon glyphicon-remove pull-right" ng-click="removeClient(client, $index)"></span>
                    </div>
                </div>
			</div>-->
            <!--<div class="row">
                <div class="form-group">
                    <label class="col-xs-6">
                        Send email to clients &nbsp;
                        <input type="checkbox" ng-model="event.sendemail" />
                    </label>
                </div>
            </div>-->
            <div class="form-group" ng-if="event.bookable == 1 && !event.class && false">
                <label>
                    Price
                    <input class="form-control" type="number" ng-model="event.price">
                </label>
			</div>
            <div class="form-group">
                <label>
                    Colour
                    <input class="form-control" type="color" ng-model="event.colour" required>
                </label>
			</div>
            <div class="form-group">
                <label>
                    Notes (visible to clients when booking event)
                    <textarea ng-model="event.notes" class="form-control"></textarea>
                </label>
			</div>
            <div class="row">
                <div class="form-group">
                    <!--<div class="col-xs-6">
                        <label class="col-xs-6">
                            Repeat &nbsp;
                            <input type="checkbox" ng-model="event.repeat" />
                        </label>
                    </div>-->
                    <div class="col-xs-12">
                        <label>
                            Frequency
                            <div class="radio">
                                <!--<label><input type="radio" ng-model="event.every" value="daily">Daily</label>-->
                                <label><input type="radio" ng-model="event.frequency" value="weekly" required>Weekly</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
			<div class="row" ng-if="event.frequency == 'weekly'">
                <div class="col-xs-12">
                     <label class="col-xs-12">
                        <input type="checkbox" ng-model="event.day.Monday" />
                        Monday
                     </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.day.Tuesday" />
                        Tuesday
                     </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.day.Wednesday" />
                        Wednesday
                     </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.day.Thursday" />
                        Thursday
                     </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.day.Friday" />
                        Friday
                     </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.day.Saturday" />
                        Saturday
                     </label>
					 <label class="col-xs-12">
						<input type="checkbox" ng-model="event.day.Sunday" />
                        Sunday
                     </label>
					 
                </div>
            </div>
			<!--<div class="row"  ng-if="event.repeat">
                <div class="col-xs-12">
                    <label ng-if="event.repeat">
                        <div class="input-group">
                            <span class="input-group-addon">Every</span>
                            <input class="form-control" type="number" ng-model="event.frequency" required />
                            <span class="input-group-addon">{{(event.every =='daily') ? 'day(s)' : 'week(s)'}}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label ng-if="event.repeat">
                        <div class="input-group">
                            <input class="form-control" type="number" ng-model="event.repeatduration" required />
                            <span class="input-group-addon">times</span>
                        </div>
                    </label>
                </div>
            </div>-->
            <div class="form-group">
                <label>Delete All Future Events</label>
                <input type="checkbox" ng-model="event.delete" />
                <div class="delete-disclaimer" ng-if="event.delete">If you are going to delete this event please ensure you have informed anyone registered for this event</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Submit</button>
            </div>
        </form>
    </div>
    </div>
</div>