<!--
* Created by Jephcott on 5/26/2016.
* This is where the booking modal popup should be, currently it is in calendar.html due to needing functions from calendar
-->
<div class="container calendar-booking-controller overlay-general overlay-calendar-booking" ng-controller="eventattend">
    <div class="modal modal-event">
        <h3 class="heading"><i class="fa fa-pencil" aria-hidden="true"></i><strong>Attend</strong> this event <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></h3>
        <form class="well" ng-if="no_spaces" ng-submit="goBack();">
            No spaces available
        </form>
        <form ng-if="!no_spaces" class="well" onSubmit="return false;" ng-submit="saveAttendee(instance, attendance, registration)">
            <div class="alert alert-danger" ng-if="error_messages.length">
                <h4>Please Correct:</h4>
                <ul>
                    <li ng-repeat="error_msg in error_messages">{{error_msg}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label>
                    Title: {{instance.title}}
                </label>
            </div>
            <!--<div class="form-group">
                <label>
                    Location: {{instance.location}}
                </label>
            </div>-->
            <div class="form-group">
                <label>
                    Start Time: {{instance.time_start.toLocaleTimeString()}}
                </label>
            </div>
            <div class="form-group">
                <label>
                    Date: {{instance.date.getDate() + "-" + (instance.date.getMonth() + 1) + "-" + instance.date.getFullYear()}}
                </label>
            </div>
            <div class="form-group">
                <label>
                    Duration: {{instance.duration}}
                </label>
            </div>
            <div class="form-group">
                <label>
                    Notes
                </label>
                <div>{{instance.notes}}</div>
            </div>
            <div class="attendee-section">
                <!--<h4>Attendee Form</h4>-->
                <input type="hidden" name="event" ng-model="event.id" />
                <input type="hidden" name="instance" ng-model="instance.id" />
                <div class="form-group">
                    Price ${{instance.price}} per session
                </div>
                <div class="form-group" ng-if="attendance.status == 'complete'">
                    You are attending this event
                </div>
                <div class="form-group" ng-if="attendance.status == 'unpaid'">
                    You must pay before your attendance will be confirmed
                </div>
                <div class="form-group">
                    <!--<button type="submit" class="btn btn-primary ladda-button pull-right" ng-if="attendance.status == 'complete'" id="submit" data-style="expand-left">Cancel</button>-->
                    <button type="submit" class="btn btn-primary ladda-button pull-right" ng-if="attendance.status == 'unpaid'" id="submit" data-style="expand-left">Pay</button>
                    <!--<button type="submit" class="btn btn-primary ladda-button pull-right" ng-if="!attendance.status" id="submit" data-style="expand-left">Attend</button>-->
                </div>
            </div>
            <div class="registration-section" ng-if="!attendance.status && event">
                <!--<h4>Registration Form</h4>-->
                <div class="form-group">
                    Number of Sessions
                    <input type="number" ng-model="registration.num_sessions" />
                </div>
                <div class="form-group">
                    Pay for repeat sessions
                    <label><input type="radio" ng-model="registration.frequency_pay" value="one_time" >One Time Payment</label>
                    <label><input type="radio" ng-model="registration.frequency_pay" value="weekly" >Weekly Payments</label>
                </div>
                <div class="form-group" ng-if="registration.date_start">
                    Date Start {{registration.date_start}}
                </div>
                <div class="form-group" ng-if="registration.date_end">
                    Date End {{registration.date_end}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Register</button>
                </div>
            </div>
            <div class="registration-section" ng-if="!attendance.status && !event">
                <!--<h4>Registration Form</h4>-->
                <div class="form-group">
                    Number of Sessions: 1
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Register</button>
                </div>
            </div>
            <div class="registration-section" ng-if="attendance.status == 'unpaid' || registration.id">
                <h4>Registration Details</h4>
                <div class="form-group">
                    Number of Sessions: {{registration.num_sessions}}
                </div>
                <div class="form-group">
                    Pay for repeat sessions: {{registration.rec_payment ? "Weekly" : "One Time"}}
                </div>
                <div class="form-group" ng-if="registration.date_start">
                    Date Start {{registration.date_start}}
                </div>
                <div class="form-group" ng-if="registration.date_end">
                    Date End {{registration.date_end}}
                </div>
            </div>
        </form>
    </div>
</div>