<div class="container" ng-controller="holiday">
    <div class="loginBox">
        <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
        <form class="well" method="" action="" ng-submit="submitHoliday();">
            <div class="form-group">
                <input class="form-control" type="date" ng-model="holiday.date" required>
			</div>
            <div class="input-group">
                <input class="form-control" type="number" ng-model="holiday.length" placholder="duration" required>
                <span class="input-group-addon">Days</span>
			</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left">Submit</button>
            </div>
        </form>
    </div>
</div>