<div class="container">
<div class="loginBox wide">
			<form class="col-xs-12 well" id="BoostCakeDisplayForm" method="post" accept-charset="utf-8" ng-submit="addSession(addSessionFormData)">
					<span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
			
						<div style="display:none;">
									<input type="hidden" name="_method" value="POST">
						</div>
			
						<h2 style="margin-top:0;">{{dayInQuestion.fullDate.toDateString()}}</h2>
			
						<h5>New Session</h5>
			
						<div class="row">
									<div class="col-xs-12 col-sm-6">
												<div class="form-group">
															<label for="BoostCakeUsername">Session Name</label> <input class="form-control" type="text" id="" ng-model="addSessionFormData.name" autocomplete="off">
												</div>
									</div>
			
									<div class="col-xs-12 col-sm-6">
												<div class="form-group">
															<label for="BoostCakeUsername">Location</label> <select class="form-control" type="text" id="" ng-model="addSessionFormData.location">
																		<option value="location.Location.id" ng-repeat="location in userLocations">
																					{{location.Location.name}}
																		</option>
															</select>
												</div>
									</div>
						</div>
			
						<div class="row">
									<div class="col-xs-12 col-sm-6">
												<div class="form-group">
															<label for="BoostCakeUsername">Max Participants (blank for no limit)</label> <input class="form-control" type="number" id="MuseaUsername" ng-model="addSessionFormData.max" autocomplete="off">
												</div>
									</div>
			
									<div class="col-xs-12 col-sm-6">
												<div class="form-group">
															<label for="BoostCakeUsername">Cost</label> <input class="form-control" type="text" id="MuseaUsername" ng-model="addSessionFormData.cost" autocomplete="off">
												</div>
									</div>
						</div>
			
						<div class="row">
									
									<input style="display:none;" class="form-control" type="date" id="MuseaUsername" ng-value="dateFormatForInput(dayInQuestion.fullDate)" autocomplete="off" readonly="readonly">
												
			
									<div class="col-xs-12 col-sm-6">
												<div class="form-group">
															<label for="BoostCakeUsername">Time</label> <input class="form-control" type="time" id="MuseaUsername" ng-model="addSessionFormData.timefield" autocomplete="off">
												</div>
									</div>
					
						
									
			
									<div class="col-xs-12 col-sm-6">
												<div class="form-group">
															<label for="BoostCakeUsername">Length</label> <select class="form-control" type="text" id="" ng-model="addSessionFormData.length">
																		<option value="45">
																					45
																		</option>
			
																		<option value="60">
																					1 Hour
																		</option>
															</select>
												</div>
									</div>
						</div>
			
						<div class="row">
									<div class="col-xs-12">
												<button type="button" ng-click="goBack()" class="btn btn-primary pull-right" style="margin-left:15px;">Cancel</button>
												<button type="submit" class="btn btn-primary ladda-button pull-right" id="" data-style="expand-left">Submit</button>
									</div>
						</div>
			</form>
			
			<div class="alert alert-danger slide" role="alert" ng-if="page.bottomSlider.error">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  {{page.bottomSlider.error}}
			</div>
</div>
</div>
