<div class="loginBox" style="max-width:440px;">
    <div class="well" ng-controller="register">
        <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
        <table class="table table-striped table-hover">
            <tbody>
                <tr ng-repeat="entry in register.data track by entry.User.id">
                    <td><img ng-src="{{(entry.User.clientpic) ? '/users/viewUserImage/' + entry.User.clientpic : '/img/userblank.jpg'}}" class="img-responsive" style="max-width:50px;" src="/img/userblank.jpg"></td>
                    <td>{{entry.User.first_name}} {{entry.User.second_name}} <br />{{entry.Sessions.remaining}} session{{(entry.Sessions.remaining == 1) ? '' : 's'}} remaining</td>
                    <td class="text-right"><input type="checkbox" class="changeme" ng-model="entry.Sessions.thisused" data-index="{{$index}}" /></td>
                </tr>
                <tr ng-if="register.data.length < 1">
                    <td class="text-center">There are no current participants.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>