.backimage {
    //  media queries to do device-sized images go in here
    
    // handset - 640px x 640px;
    background-image:           url('../img/frontImage.jpg');
    
    @media (min-width: @screen-xs) and (max-width: @screen-lg) {
        // tablets - 1200 x 1200px
        background-image:       url('../img/frontImage.jpg');
    }
    @media (min-width: @screen-lg) {
        // widescreen - 2000 x 1200px
        background-image:       url('../img/frontImage.jpg');
    }    
}


.backimage {
    position:                   fixed;
    z-index:                    0;
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-size:            cover;
    background-position:        center;

    width:                      100%;
    height:                     110vh;
    opacity:                    0.55;
}