

img.profilePic{
	border-radius: 200px;
}

#main{
	padding-top:(@navbar-height + 30); 
	    background: #f3f3f3 !important;
}

.well{
	box-shadow: 0px 0px 13px rgba(0,0,0,0.5);
}

.eventthing .form-group label{
	width: 100%; 
}

.termOption{
	margin-left: 30px;
	padding-bottom: 15px;
	input{
		marign-top: 5px;
	} 
}



.cancellations{
	
	ol.lst-kix_list_1-3{list-style-type:none}ol.lst-kix_list_1-4{list-style-type:none}ol.lst-kix_list_1-5{list-style-type:none}ol.lst-kix_list_1-6{list-style-type:none}ol.lst-kix_list_1-0{list-style-type:none}.lst-kix_list_1-4>li{counter-increment:lst-ctn-kix_list_1-4}ol.lst-kix_list_1-1{list-style-type:none}ol.lst-kix_list_1-2{list-style-type:none}ol.lst-kix_list_1-6.start{counter-reset:lst-ctn-kix_list_1-6 0}.lst-kix_list_1-1>li{counter-increment:lst-ctn-kix_list_1-1}ol.lst-kix_list_1-3.start{counter-reset:lst-ctn-kix_list_1-3 0}ol.lst-kix_list_1-2.start{counter-reset:lst-ctn-kix_list_1-2 0}.lst-kix_list_1-0>li:before{content:"" counter(lst-ctn-kix_list_1-0,decimal) ". "}ol.lst-kix_list_1-5.start{counter-reset:lst-ctn-kix_list_1-5 0}ol.lst-kix_list_1-7{list-style-type:none}.lst-kix_list_1-1>li:before{content:"" counter(lst-ctn-kix_list_1-0,decimal) "." counter(lst-ctn-kix_list_1-1,decimal) " "}.lst-kix_list_1-2>li:before{content:"(" counter(lst-ctn-kix_list_1-2,lower-latin) ") "}.lst-kix_list_1-7>li{counter-increment:lst-ctn-kix_list_1-7}ul.lst-kix_list_1-8{list-style-type:none}.lst-kix_list_1-3>li:before{content:"(" counter(lst-ctn-kix_list_1-3,lower-latin) ") "}.lst-kix_list_1-4>li:before{content:"(" counter(lst-ctn-kix_list_1-4,lower-roman) ") "}ol.lst-kix_list_1-0.start{counter-reset:lst-ctn-kix_list_1-0 0}.lst-kix_list_1-0>li{counter-increment:lst-ctn-kix_list_1-0}.lst-kix_list_1-6>li{counter-increment:lst-ctn-kix_list_1-6}.lst-kix_list_1-7>li:before{content:" "}.lst-kix_list_1-3>li{counter-increment:lst-ctn-kix_list_1-3}.lst-kix_list_1-5>li:before{content:" "}.lst-kix_list_1-6>li:before{content:"" counter(lst-ctn-kix_list_1-6,upper-roman) ". "}ol.lst-kix_list_1-7.start{counter-reset:lst-ctn-kix_list_1-7 0}.lst-kix_list_1-2>li{counter-increment:lst-ctn-kix_list_1-2}.lst-kix_list_1-5>li{counter-increment:lst-ctn-kix_list_1-5}ol.lst-kix_list_1-4.start{counter-reset:lst-ctn-kix_list_1-4 0}.lst-kix_list_1-8>li:before{content:"\0025cf  "}ol.lst-kix_list_1-1.start{counter-reset:lst-ctn-kix_list_1-1 0}ol{margin:0;padding:0}table td,table th{padding:0}.c7{margin-left:28.4pt;padding-top:6pt;padding-bottom:3pt;line-height:1.5;orphans:2;widows:2}.c5{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:center}.c12{background-color:#ffffff;max-width:523.3pt;padding:70.9pt 36pt 36pt 36pt}.c0{font-size:10pt;font-family:"Arial";font-weight:bold}.c8{padding-top:0pt;padding-bottom:35.4pt;line-height:1.0}.c11{padding-top:6pt;padding-bottom:3pt;line-height:1.5}.c4{font-size:10pt;font-family:"Arial";font-weight:normal}.c1{orphans:2;widows:2;height:10pt}.c10{padding-top:35.4pt;padding-bottom:0pt;line-height:1.0}.c3{page-break-after:avoid;orphans:2;widows:2}.c2{padding:0;margin:0}.c6{font-weight:bold}.c9{color:#8e2344}.title{padding-top:24pt;color:#000000;font-weight:bold;font-size:36pt;padding-bottom:6pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:18pt;color:#666666;font-size:24pt;padding-bottom:4pt;font-family:"Georgia";line-height:1.0;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:10pt;font-family:"Domine"}p{margin:0;color:#000000;font-size:10pt;font-family:"Domine"}h1{padding-top:6pt;color:#8e2344;font-weight:bold;font-size:12pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:12pt;color:#000000;font-weight:bold;font-size:11pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:12pt;color:#000000;font-weight:bold;font-size:10pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:6pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:3pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:3pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}
	 
}

.privacy{
	@import url('https://themes.googleusercontent.com/fonts/css?kit=SxlsKkqYZHWmNGni7BBpgQ');ol.lst-kix_list_7-0{list-style-type:none}ol.lst-kix_list_9-0.start{counter-reset:lst-ctn-kix_list_9-0 0}ol.lst-kix_list_13-4.start{counter-reset:lst-ctn-kix_list_13-4 0}.lst-kix_list_13-0>li{counter-increment:lst-ctn-kix_list_13-0}ol.lst-kix_list_20-2.start{counter-reset:lst-ctn-kix_list_20-2 0}.lst-kix_list_5-0>li{counter-increment:lst-ctn-kix_list_5-0}ol.lst-kix_list_7-5{list-style-type:none}ol.lst-kix_list_7-6{list-style-type:none}ol.lst-kix_list_7-7{list-style-type:none}ol.lst-kix_list_7-8{list-style-type:none}ol.lst-kix_list_7-1{list-style-type:none}ol.lst-kix_list_7-2{list-style-type:none}ol.lst-kix_list_7-3{list-style-type:none}ol.lst-kix_list_7-4{list-style-type:none}ol.lst-kix_list_23-2.start{counter-reset:lst-ctn-kix_list_23-2 0}ol.lst-kix_list_5-3.start{counter-reset:lst-ctn-kix_list_5-3 0}.lst-kix_list_4-3>li{counter-increment:lst-ctn-kix_list_4-3}ol.lst-kix_list_17-1.start{counter-reset:lst-ctn-kix_list_17-1 0}.lst-kix_list_24-7>li{counter-increment:lst-ctn-kix_list_24-7}ol.lst-kix_list_8-8.start{counter-reset:lst-ctn-kix_list_8-8 0}.lst-kix_list_7-2>li{counter-increment:lst-ctn-kix_list_7-2}.lst-kix_list_24-7>li:before{content:" "}ol.lst-kix_list_16-5{list-style-type:none}.lst-kix_list_1-4>li{counter-increment:lst-ctn-kix_list_1-4}ol.lst-kix_list_16-6{list-style-type:none}.lst-kix_list_24-8>li:before{content:"\0025cf  "}ol.lst-kix_list_16-7{list-style-type:none}ol.lst-kix_list_1-6.start{counter-reset:lst-ctn-kix_list_1-6 0}ol.lst-kix_list_9-5.start{counter-reset:lst-ctn-kix_list_9-5 0}ol.lst-kix_list_16-1{list-style-type:none}ol.lst-kix_list_16-2{list-style-type:none}ol.lst-kix_list_16-3{list-style-type:none}ol.lst-kix_list_16-4{list-style-type:none}.lst-kix_list_24-2>li:before{content:"(" counter(lst-ctn-kix_list_24-2,lower-latin) ") "}ol.lst-kix_list_16-0{list-style-type:none}ol.lst-kix_list_20-7.start{counter-reset:lst-ctn-kix_list_20-7 0}.lst-kix_list_24-3>li:before{content:"(" counter(lst-ctn-kix_list_24-3,lower-latin) ") "}.lst-kix_list_24-4>li:before{content:"(" counter(lst-ctn-kix_list_24-4,lower-roman) ") "}.lst-kix_list_9-4>li{counter-increment:lst-ctn-kix_list_9-4}.lst-kix_list_24-5>li:before{content:" "}.lst-kix_list_24-6>li:before{content:"" counter(lst-ctn-kix_list_24-6,upper-roman) ". "}ol.lst-kix_list_16-4.start{counter-reset:lst-ctn-kix_list_16-4 0}ol.lst-kix_list_14-1.start{counter-reset:lst-ctn-kix_list_14-1 0}.lst-kix_list_23-6>li:before{content:"" counter(lst-ctn-kix_list_23-6,upper-roman) ". "}.lst-kix_list_23-3>li:before{content:"(" counter(lst-ctn-kix_list_23-3,lower-latin) ") "}.lst-kix_list_23-7>li:before{content:" "}.lst-kix_list_23-2>li:before{content:"(" counter(lst-ctn-kix_list_23-2,lower-latin) ") "}ol.lst-kix_list_23-7.start{counter-reset:lst-ctn-kix_list_23-7 0}.lst-kix_list_23-0>li:before{content:"" counter(lst-ctn-kix_list_23-0,decimal) ". "}.lst-kix_list_23-8>li:before{content:"\0025cf  "}.lst-kix_list_3-6>li{counter-increment:lst-ctn-kix_list_3-6}.lst-kix_list_23-1>li:before{content:"" counter(lst-ctn-kix_list_23-0,decimal) "." counter(lst-ctn-kix_list_23-1,decimal) " "}.lst-kix_list_24-1>li:before{content:"" counter(lst-ctn-kix_list_24-0,decimal) "." counter(lst-ctn-kix_list_24-1,decimal) " "}ul.lst-kix_list_16-8{list-style-type:none}.lst-kix_list_24-0>li:before{content:"" counter(lst-ctn-kix_list_24-0,decimal) ". "}.lst-kix_list_23-4>li:before{content:"(" counter(lst-ctn-kix_list_23-4,lower-roman) ") "}.lst-kix_list_23-5>li:before{content:" "}.lst-kix_list_22-2>li:before{content:"(" counter(lst-ctn-kix_list_22-2,lower-latin) ") "}.lst-kix_list_22-6>li:before{content:"" counter(lst-ctn-kix_list_22-6,upper-roman) ". "}.lst-kix_list_8-6>li{counter-increment:lst-ctn-kix_list_8-6}.lst-kix_list_22-0>li:before{content:"" counter(lst-ctn-kix_list_22-0,decimal) ". "}.lst-kix_list_22-8>li:before{content:"\0025cf  "}ol.lst-kix_list_4-6.start{counter-reset:lst-ctn-kix_list_4-6 0}ol.lst-kix_list_9-7{list-style-type:none}ol.lst-kix_list_9-8{list-style-type:none}ol.lst-kix_list_22-5.start{counter-reset:lst-ctn-kix_list_22-5 0}ol.lst-kix_list_3-0.start{counter-reset:lst-ctn-kix_list_3-0 0}ol.lst-kix_list_9-3{list-style-type:none}ol.lst-kix_list_9-4{list-style-type:none}.lst-kix_list_5-7>li{counter-increment:lst-ctn-kix_list_5-7}ol.lst-kix_list_9-5{list-style-type:none}ol.lst-kix_list_9-6{list-style-type:none}ol.lst-kix_list_9-0{list-style-type:none}ol.lst-kix_list_9-1{list-style-type:none}ol.lst-kix_list_9-2{list-style-type:none}.lst-kix_list_22-4>li:before{content:"(" counter(lst-ctn-kix_list_22-4,lower-roman) ") "}.lst-kix_list_3-5>li{counter-increment:lst-ctn-kix_list_3-5}ol.lst-kix_list_1-1.start{counter-reset:lst-ctn-kix_list_1-1 0}ol.lst-kix_list_18-3.start{counter-reset:lst-ctn-kix_list_18-3 0}ol.lst-kix_list_24-4.start{counter-reset:lst-ctn-kix_list_24-4 0}ol.lst-kix_list_18-7{list-style-type:none}ol.lst-kix_list_18-3{list-style-type:none}ol.lst-kix_list_18-4{list-style-type:none}ol.lst-kix_list_18-5{list-style-type:none}ol.lst-kix_list_18-6{list-style-type:none}ol.lst-kix_list_18-0{list-style-type:none}ol.lst-kix_list_18-1{list-style-type:none}.lst-kix_list_9-3>li{counter-increment:lst-ctn-kix_list_9-3}ol.lst-kix_list_18-2{list-style-type:none}ol.lst-kix_list_15-2.start{counter-reset:lst-ctn-kix_list_15-2 0}ol.lst-kix_list_7-6.start{counter-reset:lst-ctn-kix_list_7-6 0}ol.lst-kix_list_15-3.start{counter-reset:lst-ctn-kix_list_15-3 0}.lst-kix_list_1-3>li{counter-increment:lst-ctn-kix_list_1-3}ul.lst-kix_list_18-8{list-style-type:none}ol.lst-kix_list_12-2.start{counter-reset:lst-ctn-kix_list_12-2 0}ol.lst-kix_list_6-0.start{counter-reset:lst-ctn-kix_list_6-0 0}.lst-kix_list_4-2>li{counter-increment:lst-ctn-kix_list_4-2}ol.lst-kix_list_3-1{list-style-type:none}ol.lst-kix_list_3-2{list-style-type:none}ol.lst-kix_list_3-3{list-style-type:none}ol.lst-kix_list_3-4.start{counter-reset:lst-ctn-kix_list_3-4 0}.lst-kix_list_5-1>li{counter-increment:lst-ctn-kix_list_5-1}ol.lst-kix_list_3-4{list-style-type:none}ol.lst-kix_list_19-0.start{counter-reset:lst-ctn-kix_list_19-0 0}ol.lst-kix_list_21-3.start{counter-reset:lst-ctn-kix_list_21-3 0}ol.lst-kix_list_3-0{list-style-type:none}.lst-kix_list_7-1>li{counter-increment:lst-ctn-kix_list_7-1}ul.lst-kix_list_5-8{list-style-type:none}.lst-kix_list_21-8>li:before{content:"\0025cf  "}.lst-kix_list_16-0>li{counter-increment:lst-ctn-kix_list_16-0}.lst-kix_list_8-0>li{counter-increment:lst-ctn-kix_list_8-0}ol.lst-kix_list_18-2.start{counter-reset:lst-ctn-kix_list_18-2 0}ol.lst-kix_list_3-5{list-style-type:none}ol.lst-kix_list_3-6{list-style-type:none}ol.lst-kix_list_3-7{list-style-type:none}ol.lst-kix_list_3-8{list-style-type:none}.lst-kix_list_21-0>li:before{content:"" counter(lst-ctn-kix_list_21-0,decimal) ". "}.lst-kix_list_13-1>li{counter-increment:lst-ctn-kix_list_13-1}.lst-kix_list_21-1>li:before{content:"" counter(lst-ctn-kix_list_21-0,decimal) "." counter(lst-ctn-kix_list_21-1,decimal) " "}.lst-kix_list_21-5>li:before{content:" "}.lst-kix_list_21-4>li:before{content:"(" counter(lst-ctn-kix_list_21-4,lower-roman) ") "}ol.lst-kix_list_7-2.start{counter-reset:lst-ctn-kix_list_7-2 0}ol.lst-kix_list_19-5.start{counter-reset:lst-ctn-kix_list_19-5 0}ol.lst-kix_list_12-5{list-style-type:none}ol.lst-kix_list_12-6{list-style-type:none}ol.lst-kix_list_12-7{list-style-type:none}ol.lst-kix_list_12-1{list-style-type:none}ol.lst-kix_list_12-2{list-style-type:none}ol.lst-kix_list_12-3{list-style-type:none}ol.lst-kix_list_12-4{list-style-type:none}ol.lst-kix_list_12-0{list-style-type:none}.lst-kix_list_21-0>li{counter-increment:lst-ctn-kix_list_21-0}ul.lst-kix_list_23-8{list-style-type:none}ol.lst-kix_list_7-1.start{counter-reset:lst-ctn-kix_list_7-1 0}ol.lst-kix_list_23-6{list-style-type:none}ol.lst-kix_list_23-5{list-style-type:none}ol.lst-kix_list_23-7{list-style-type:none}ol.lst-kix_list_23-2{list-style-type:none}.lst-kix_list_16-7>li{counter-increment:lst-ctn-kix_list_16-7}ol.lst-kix_list_21-4.start{counter-reset:lst-ctn-kix_list_21-4 0}ol.lst-kix_list_23-1{list-style-type:none}ol.lst-kix_list_23-4{list-style-type:none}ol.lst-kix_list_23-3{list-style-type:none}ol.lst-kix_list_23-0{list-style-type:none}ul.lst-kix_list_12-8{list-style-type:none}ol.lst-kix_list_20-6.start{counter-reset:lst-ctn-kix_list_20-6 0}ol.lst-kix_list_4-7.start{counter-reset:lst-ctn-kix_list_4-7 0}.lst-kix_list_16-5>li{counter-increment:lst-ctn-kix_list_16-5}ol.lst-kix_list_5-0{list-style-type:none}.lst-kix_list_3-7>li{counter-increment:lst-ctn-kix_list_3-7}ol.lst-kix_list_5-1{list-style-type:none}ol.lst-kix_list_5-2{list-style-type:none}.lst-kix_list_22-5>li:before{content:" "}.lst-kix_list_21-2>li{counter-increment:lst-ctn-kix_list_21-2}.lst-kix_list_22-1>li:before{content:"" counter(lst-ctn-kix_list_22-0,decimal) "." counter(lst-ctn-kix_list_22-1,decimal) " "}.lst-kix_list_20-2>li{counter-increment:lst-ctn-kix_list_20-2}ol.lst-kix_list_15-7.start{counter-reset:lst-ctn-kix_list_15-7 0}.lst-kix_list_23-3>li{counter-increment:lst-ctn-kix_list_23-3}.lst-kix_list_13-6>li{counter-increment:lst-ctn-kix_list_13-6}ol.lst-kix_list_14-6.start{counter-reset:lst-ctn-kix_list_14-6 0}ol.lst-kix_list_5-7{list-style-type:none}ol.lst-kix_list_5-3{list-style-type:none}.lst-kix_list_8-7>li{counter-increment:lst-ctn-kix_list_8-7}.lst-kix_list_19-6>li{counter-increment:lst-ctn-kix_list_19-6}ol.lst-kix_list_5-4{list-style-type:none}ol.lst-kix_list_5-5{list-style-type:none}ol.lst-kix_list_5-6{list-style-type:none}.lst-kix_list_20-4>li{counter-increment:lst-ctn-kix_list_20-4}.lst-kix_list_9-5>li{counter-increment:lst-ctn-kix_list_9-5}ol.lst-kix_list_19-4.start{counter-reset:lst-ctn-kix_list_19-4 0}ol.lst-kix_list_20-1.start{counter-reset:lst-ctn-kix_list_20-1 0}.lst-kix_list_19-4>li{counter-increment:lst-ctn-kix_list_19-4}.lst-kix_list_24-1>li{counter-increment:lst-ctn-kix_list_24-1}ol.lst-kix_list_14-7{list-style-type:none}ol.lst-kix_list_14-3{list-style-type:none}ol.lst-kix_list_14-4{list-style-type:none}ol.lst-kix_list_14-5{list-style-type:none}ol.lst-kix_list_14-6{list-style-type:none}.lst-kix_list_15-2>li{counter-increment:lst-ctn-kix_list_15-2}ol.lst-kix_list_14-0{list-style-type:none}.lst-kix_list_22-5>li{counter-increment:lst-ctn-kix_list_22-5}ol.lst-kix_list_14-1{list-style-type:none}ol.lst-kix_list_14-2{list-style-type:none}.lst-kix_list_20-5>li:before{content:" "}.lst-kix_list_20-1>li:before{content:"" counter(lst-ctn-kix_list_20-0,decimal) "." counter(lst-ctn-kix_list_20-1,decimal) " "}.lst-kix_list_12-3>li{counter-increment:lst-ctn-kix_list_12-3}.lst-kix_list_24-6>li{counter-increment:lst-ctn-kix_list_24-6}.lst-kix_list_17-3>li{counter-increment:lst-ctn-kix_list_17-3}ol.lst-kix_list_8-4.start{counter-reset:lst-ctn-kix_list_8-4 0}ol.lst-kix_list_3-5.start{counter-reset:lst-ctn-kix_list_3-5 0}.lst-kix_list_21-7>li{counter-increment:lst-ctn-kix_list_21-7}ol.lst-kix_list_13-0.start{counter-reset:lst-ctn-kix_list_13-0 0}.lst-kix_list_14-4>li{counter-increment:lst-ctn-kix_list_14-4}ul.lst-kix_list_14-8{list-style-type:none}.lst-kix_list_18-1>li{counter-increment:lst-ctn-kix_list_18-1}ol.lst-kix_list_8-3.start{counter-reset:lst-ctn-kix_list_8-3 0}.lst-kix_list_11-5>li{counter-increment:lst-ctn-kix_list_11-5}ol.lst-kix_list_14-5.start{counter-reset:lst-ctn-kix_list_14-5 0}ol.lst-kix_list_20-3.start{counter-reset:lst-ctn-kix_list_20-3 0}.lst-kix_list_4-1>li{counter-increment:lst-ctn-kix_list_4-1}.lst-kix_list_19-1>li:before{content:"" counter(lst-ctn-kix_list_19-0,decimal) "." counter(lst-ctn-kix_list_19-1,decimal) " "}.lst-kix_list_19-4>li:before{content:"(" counter(lst-ctn-kix_list_19-4,lower-roman) ") "}.lst-kix_list_19-3>li:before{content:"(" counter(lst-ctn-kix_list_19-3,lower-latin) ") "}.lst-kix_list_15-0>li{counter-increment:lst-ctn-kix_list_15-0}ol.lst-kix_list_24-5.start{counter-reset:lst-ctn-kix_list_24-5 0}.lst-kix_list_11-0>li{counter-increment:lst-ctn-kix_list_11-0}ol.lst-kix_list_1-5.start{counter-reset:lst-ctn-kix_list_1-5 0}ul.lst-kix_list_1-8{list-style-type:none}ol.lst-kix_list_9-6.start{counter-reset:lst-ctn-kix_list_9-6 0}ol.lst-kix_list_16-3.start{counter-reset:lst-ctn-kix_list_16-3 0}ol.lst-kix_list_22-4.start{counter-reset:lst-ctn-kix_list_22-4 0}.lst-kix_list_22-7>li{counter-increment:lst-ctn-kix_list_22-7}ol.lst-kix_list_4-5.start{counter-reset:lst-ctn-kix_list_4-5 0}ol.lst-kix_list_11-2.start{counter-reset:lst-ctn-kix_list_11-2 0}.lst-kix_list_5-2>li{counter-increment:lst-ctn-kix_list_5-2}.lst-kix_list_19-6>li:before{content:"" counter(lst-ctn-kix_list_19-6,upper-roman) ". "}ol.lst-kix_list_8-7.start{counter-reset:lst-ctn-kix_list_8-7 0}.lst-kix_list_17-2>li{counter-increment:lst-ctn-kix_list_17-2}.lst-kix_list_20-5>li{counter-increment:lst-ctn-kix_list_20-5}.lst-kix_list_22-0>li{counter-increment:lst-ctn-kix_list_22-0}ol.lst-kix_list_24-0.start{counter-reset:lst-ctn-kix_list_24-0 0}.lst-kix_list_18-3>li{counter-increment:lst-ctn-kix_list_18-3}.lst-kix_list_21-6>li{counter-increment:lst-ctn-kix_list_21-6}ol.lst-kix_list_1-0.start{counter-reset:lst-ctn-kix_list_1-0 0}.lst-kix_list_18-0>li:before{content:"" counter(lst-ctn-kix_list_18-0,decimal) ". "}ol.lst-kix_list_13-3.start{counter-reset:lst-ctn-kix_list_13-3 0}.lst-kix_list_3-0>li{counter-increment:lst-ctn-kix_list_3-0}.lst-kix_list_18-2>li:before{content:"(" counter(lst-ctn-kix_list_18-2,lower-latin) ") "}ol.lst-kix_list_4-0.start{counter-reset:lst-ctn-kix_list_4-0 0}ol.lst-kix_list_11-7.start{counter-reset:lst-ctn-kix_list_11-7 0}ol.lst-kix_list_14-2.start{counter-reset:lst-ctn-kix_list_14-2 0}.lst-kix_list_16-1>li{counter-increment:lst-ctn-kix_list_16-1}.lst-kix_list_17-5>li{counter-increment:lst-ctn-kix_list_17-5}ol.lst-kix_list_9-4.start{counter-reset:lst-ctn-kix_list_9-4 0}.lst-kix_list_21-3>li{counter-increment:lst-ctn-kix_list_21-3}.lst-kix_list_18-8>li:before{content:"\0025cf  "}.lst-kix_list_17-6>li{counter-increment:lst-ctn-kix_list_17-6}ol.lst-kix_list_4-3.start{counter-reset:lst-ctn-kix_list_4-3 0}.lst-kix_list_10-7>li:before{content:"o  "}.lst-kix_list_7-8>li{counter-increment:lst-ctn-kix_list_7-8}.lst-kix_list_20-1>li{counter-increment:lst-ctn-kix_list_20-1}.lst-kix_list_10-5>li:before{content:"\0025aa  "}ol.lst-kix_list_13-5.start{counter-reset:lst-ctn-kix_list_13-5 0}ol.lst-kix_list_18-6.start{counter-reset:lst-ctn-kix_list_18-6 0}ol.lst-kix_list_20-5{list-style-type:none}ol.lst-kix_list_20-4{list-style-type:none}ol.lst-kix_list_20-7{list-style-type:none}.lst-kix_list_11-7>li{counter-increment:lst-ctn-kix_list_11-7}ol.lst-kix_list_20-6{list-style-type:none}.lst-kix_list_9-2>li:before{content:"" counter(lst-ctn-kix_list_9-2,lower-roman) ". "}ol.lst-kix_list_20-1{list-style-type:none}ol.lst-kix_list_20-0{list-style-type:none}ol.lst-kix_list_20-3{list-style-type:none}ol.lst-kix_list_20-2{list-style-type:none}ol.lst-kix_list_14-0.start{counter-reset:lst-ctn-kix_list_14-0 0}.lst-kix_list_12-5>li{counter-increment:lst-ctn-kix_list_12-5}.lst-kix_list_5-5>li{counter-increment:lst-ctn-kix_list_5-5}.lst-kix_list_9-0>li:before{content:"Item " counter(lst-ctn-kix_list_9-0,decimal) ". "}ul.lst-kix_list_21-8{list-style-type:none}ol.lst-kix_list_24-3.start{counter-reset:lst-ctn-kix_list_24-3 0}.lst-kix_list_23-5>li{counter-increment:lst-ctn-kix_list_23-5}.lst-kix_list_11-3>li:before{content:"(" counter(lst-ctn-kix_list_11-3,lower-latin) ") "}.lst-kix_list_6-3>li{counter-increment:lst-ctn-kix_list_6-3}ol.lst-kix_list_18-4.start{counter-reset:lst-ctn-kix_list_18-4 0}ol.lst-kix_list_1-3.start{counter-reset:lst-ctn-kix_list_1-3 0}ol.lst-kix_list_1-2.start{counter-reset:lst-ctn-kix_list_1-2 0}.lst-kix_list_20-4>li:before{content:"(" counter(lst-ctn-kix_list_20-4,lower-roman) ") "}ol.lst-kix_list_22-7.start{counter-reset:lst-ctn-kix_list_22-7 0}ol.lst-kix_list_6-1.start{counter-reset:lst-ctn-kix_list_6-1 0}.lst-kix_list_20-2>li:before{content:"(" counter(lst-ctn-kix_list_20-2,lower-latin) ") "}.lst-kix_list_9-8>li:before{content:"" counter(lst-ctn-kix_list_9-8,lower-roman) ". "}ul.lst-kix_list_10-0{list-style-type:none}ul.lst-kix_list_10-8{list-style-type:none}ul.lst-kix_list_10-7{list-style-type:none}.lst-kix_list_1-7>li:before{content:" "}ul.lst-kix_list_10-6{list-style-type:none}ul.lst-kix_list_10-5{list-style-type:none}ul.lst-kix_list_10-4{list-style-type:none}ul.lst-kix_list_10-3{list-style-type:none}.lst-kix_list_1-5>li:before{content:" "}ul.lst-kix_list_10-2{list-style-type:none}ul.lst-kix_list_10-1{list-style-type:none}ol.lst-kix_list_9-1.start{counter-reset:lst-ctn-kix_list_9-1 0}ol.lst-kix_list_24-2.start{counter-reset:lst-ctn-kix_list_24-2 0}.lst-kix_list_5-6>li{counter-increment:lst-ctn-kix_list_5-6}ol.lst-kix_list_22-6.start{counter-reset:lst-ctn-kix_list_22-6 0}.lst-kix_list_2-1>li:before{content:"o  "}.lst-kix_list_2-3>li:before{content:"\0025cf  "}.lst-kix_list_9-1>li{counter-increment:lst-ctn-kix_list_9-1}.lst-kix_list_3-2>li:before{content:"" counter(lst-ctn-kix_list_3-2,lower-roman) ". "}.lst-kix_list_8-1>li:before{content:"" counter(lst-ctn-kix_list_8-1,lower-latin) ". "}.lst-kix_list_6-0>li{counter-increment:lst-ctn-kix_list_6-0}.lst-kix_list_3-5>li:before{content:"" counter(lst-ctn-kix_list_3-5,lower-roman) ". "}.lst-kix_list_18-0>li{counter-increment:lst-ctn-kix_list_18-0}ol.lst-kix_list_11-5.start{counter-reset:lst-ctn-kix_list_11-5 0}.lst-kix_list_11-1>li{counter-increment:lst-ctn-kix_list_11-1}.lst-kix_list_8-6>li:before{content:"" counter(lst-ctn-kix_list_8-6,decimal) ". "}.lst-kix_list_21-6>li:before{content:"" counter(lst-ctn-kix_list_21-6,upper-roman) ". "}ol.lst-kix_list_16-6.start{counter-reset:lst-ctn-kix_list_16-6 0}ol.lst-kix_list_22-1.start{counter-reset:lst-ctn-kix_list_22-1 0}ol.lst-kix_list_4-2.start{counter-reset:lst-ctn-kix_list_4-2 0}ol.lst-kix_list_16-0.start{counter-reset:lst-ctn-kix_list_16-0 0}.lst-kix_list_21-3>li:before{content:"(" counter(lst-ctn-kix_list_21-3,lower-latin) ") "}ol.lst-kix_list_18-7.start{counter-reset:lst-ctn-kix_list_18-7 0}ol.lst-kix_list_11-6.start{counter-reset:lst-ctn-kix_list_11-6 0}.lst-kix_list_4-4>li{counter-increment:lst-ctn-kix_list_4-4}.lst-kix_list_17-1>li:before{content:"" counter(lst-ctn-kix_list_17-0,decimal) "." counter(lst-ctn-kix_list_17-1,decimal) " "}ol.lst-kix_list_4-1.start{counter-reset:lst-ctn-kix_list_4-1 0}.lst-kix_list_16-2>li:before{content:"(" counter(lst-ctn-kix_list_16-2,lower-latin) ") "}.lst-kix_list_16-5>li:before{content:" "}.lst-kix_list_15-3>li{counter-increment:lst-ctn-kix_list_15-3}ol.lst-kix_list_22-2.start{counter-reset:lst-ctn-kix_list_22-2 0}ol.lst-kix_list_11-0.start{counter-reset:lst-ctn-kix_list_11-0 0}.lst-kix_list_3-3>li{counter-increment:lst-ctn-kix_list_3-3}.lst-kix_list_16-4>li{counter-increment:lst-ctn-kix_list_16-4}ol.lst-kix_list_6-3.start{counter-reset:lst-ctn-kix_list_6-3 0}ol.lst-kix_list_16-5.start{counter-reset:lst-ctn-kix_list_16-5 0}.lst-kix_list_17-6>li:before{content:"" counter(lst-ctn-kix_list_17-6,upper-roman) ". "}.lst-kix_list_2-6>li:before{content:"\0025cf  "}ol.lst-kix_list_16-2.start{counter-reset:lst-ctn-kix_list_16-2 0}.lst-kix_list_14-5>li{counter-increment:lst-ctn-kix_list_14-5}.lst-kix_list_7-5>li:before{content:" "}.lst-kix_list_19-5>li{counter-increment:lst-ctn-kix_list_19-5}.lst-kix_list_22-7>li:before{content:" "}.lst-kix_list_23-2>li{counter-increment:lst-ctn-kix_list_23-2}ol.lst-kix_list_11-1.start{counter-reset:lst-ctn-kix_list_11-1 0}.lst-kix_list_18-5>li:before{content:" "}.lst-kix_list_13-6>li:before{content:"" counter(lst-ctn-kix_list_13-6,upper-roman) ". "}.lst-kix_list_6-7>li{counter-increment:lst-ctn-kix_list_6-7}.lst-kix_list_1-7>li{counter-increment:lst-ctn-kix_list_1-7}.lst-kix_list_7-5>li{counter-increment:lst-ctn-kix_list_7-5}.lst-kix_list_15-6>li:before{content:"" counter(lst-ctn-kix_list_15-6,upper-roman) ". "}.lst-kix_list_11-4>li{counter-increment:lst-ctn-kix_list_11-4}ol.lst-kix_list_24-7.start{counter-reset:lst-ctn-kix_list_24-7 0}.lst-kix_list_22-4>li{counter-increment:lst-ctn-kix_list_22-4}ol.lst-kix_list_6-8.start{counter-reset:lst-ctn-kix_list_6-8 0}.lst-kix_list_10-2>li:before{content:"\0025aa  "}.lst-kix_list_13-7>li{counter-increment:lst-ctn-kix_list_13-7}ol.lst-kix_list_1-7.start{counter-reset:lst-ctn-kix_list_1-7 0}.lst-kix_list_20-7>li:before{content:" "}.lst-kix_list_4-6>li:before{content:"" counter(lst-ctn-kix_list_4-6,upper-roman) ". "}ol.lst-kix_list_6-7.start{counter-reset:lst-ctn-kix_list_6-7 0}.lst-kix_list_12-2>li{counter-increment:lst-ctn-kix_list_12-2}.lst-kix_list_9-5>li:before{content:"" counter(lst-ctn-kix_list_9-5,lower-roman) ". "}ol.lst-kix_list_22-0.start{counter-reset:lst-ctn-kix_list_22-0 1}.lst-kix_list_24-0>li{counter-increment:lst-ctn-kix_list_24-0}.lst-kix_list_12-2>li:before{content:"(" counter(lst-ctn-kix_list_12-2,lower-latin) ") "}.lst-kix_list_11-6>li:before{content:"" counter(lst-ctn-kix_list_11-6,upper-roman) ". "}ol.lst-kix_list_11-3.start{counter-reset:lst-ctn-kix_list_11-3 0}.lst-kix_list_1-2>li:before{content:"(" counter(lst-ctn-kix_list_1-2,lower-latin) ") "}.lst-kix_list_1-0>li{counter-increment:lst-ctn-kix_list_1-0}ol.lst-kix_list_16-1.start{counter-reset:lst-ctn-kix_list_16-1 0}.lst-kix_list_18-7>li{counter-increment:lst-ctn-kix_list_18-7}ol.lst-kix_list_11-4.start{counter-reset:lst-ctn-kix_list_11-4 0}.lst-kix_list_14-1>li:before{content:"" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) " "}.lst-kix_list_14-3>li:before{content:"(" counter(lst-ctn-kix_list_14-3,lower-latin) ") "}ol.lst-kix_list_15-6{list-style-type:none}ol.lst-kix_list_15-7{list-style-type:none}.lst-kix_list_14-0>li:before{content:"" counter(lst-ctn-kix_list_14-0,decimal) ". "}.lst-kix_list_14-4>li:before{content:"(" counter(lst-ctn-kix_list_14-4,lower-roman) ") "}ol.lst-kix_list_15-2{list-style-type:none}ol.lst-kix_list_15-3{list-style-type:none}ol.lst-kix_list_15-4{list-style-type:none}ol.lst-kix_list_18-5.start{counter-reset:lst-ctn-kix_list_18-5 0}.lst-kix_list_6-1>li{counter-increment:lst-ctn-kix_list_6-1}.lst-kix_list_14-5>li:before{content:" "}.lst-kix_list_14-7>li:before{content:" "}ol.lst-kix_list_15-5{list-style-type:none}ol.lst-kix_list_15-0{list-style-type:none}.lst-kix_list_14-6>li:before{content:"" counter(lst-ctn-kix_list_14-6,upper-roman) ". "}ol.lst-kix_list_15-1{list-style-type:none}ol.lst-kix_list_7-4.start{counter-reset:lst-ctn-kix_list_7-4 0}.lst-kix_list_17-0>li{counter-increment:lst-ctn-kix_list_17-0}.lst-kix_list_9-0>li{counter-increment:lst-ctn-kix_list_9-0}.lst-kix_list_14-2>li:before{content:"(" counter(lst-ctn-kix_list_14-2,lower-latin) ") "}.lst-kix_list_20-7>li{counter-increment:lst-ctn-kix_list_20-7}ol.lst-kix_list_12-0.start{counter-reset:lst-ctn-kix_list_12-0 0}ul.lst-kix_list_17-8{list-style-type:none}ol.lst-kix_list_21-6.start{counter-reset:lst-ctn-kix_list_21-6 0}ol.lst-kix_list_3-7.start{counter-reset:lst-ctn-kix_list_3-7 0}.lst-kix_list_14-8>li:before{content:"\0025cf  "}.lst-kix_list_3-2>li{counter-increment:lst-ctn-kix_list_3-2}ol.lst-kix_list_15-5.start{counter-reset:lst-ctn-kix_list_15-5 0}.lst-kix_list_5-0>li:before{content:"" counter(lst-ctn-kix_list_5-0,decimal) ". "}ol.lst-kix_list_6-0{list-style-type:none}ol.lst-kix_list_6-1{list-style-type:none}ol.lst-kix_list_22-3.start{counter-reset:lst-ctn-kix_list_22-3 0}.lst-kix_list_5-4>li{counter-increment:lst-ctn-kix_list_5-4}.lst-kix_list_5-3>li:before{content:"" counter(lst-ctn-kix_list_5-0,decimal) "." counter(lst-ctn-kix_list_5-1,decimal) "." counter(lst-ctn-kix_list_5-2,decimal) "." counter(lst-ctn-kix_list_5-3,decimal) " "}ol.lst-kix_list_24-6.start{counter-reset:lst-ctn-kix_list_24-6 0}.lst-kix_list_5-2>li:before{content:"" counter(lst-ctn-kix_list_5-0,decimal) "." counter(lst-ctn-kix_list_5-1,decimal) "." counter(lst-ctn-kix_list_5-2,decimal) " "}.lst-kix_list_8-3>li{counter-increment:lst-ctn-kix_list_8-3}.lst-kix_list_5-1>li:before{content:"" counter(lst-ctn-kix_list_5-0,decimal) "." counter(lst-ctn-kix_list_5-1,decimal) " "}ol.lst-kix_list_18-0.start{counter-reset:lst-ctn-kix_list_18-0 0}.lst-kix_list_5-7>li:before{content:"" counter(lst-ctn-kix_list_5-7,lower-roman) ". "}.lst-kix_list_5-6>li:before{content:"" counter(lst-ctn-kix_list_5-6,lower-latin) ". "}.lst-kix_list_5-8>li:before{content:"\0025aa  "}ol.lst-kix_list_6-7{list-style-type:none}.lst-kix_list_5-4>li:before{content:"" counter(lst-ctn-kix_list_5-0,decimal) "." counter(lst-ctn-kix_list_5-1,decimal) "." counter(lst-ctn-kix_list_5-2,decimal) "." counter(lst-ctn-kix_list_5-3,decimal) "." counter(lst-ctn-kix_list_5-4,decimal) " "}ol.lst-kix_list_6-8{list-style-type:none}.lst-kix_list_5-5>li:before{content:"" counter(lst-ctn-kix_list_5-0,decimal) "." counter(lst-ctn-kix_list_5-1,decimal) "." counter(lst-ctn-kix_list_5-2,decimal) "." counter(lst-ctn-kix_list_5-3,decimal) "." counter(lst-ctn-kix_list_5-4,decimal) "." counter(lst-ctn-kix_list_5-5,decimal) " "}ol.lst-kix_list_6-2{list-style-type:none}ol.lst-kix_list_6-3{list-style-type:none}ol.lst-kix_list_12-5.start{counter-reset:lst-ctn-kix_list_12-5 0}.lst-kix_list_6-1>li:before{content:"Item " counter(lst-ctn-kix_list_6-1,decimal) " "}.lst-kix_list_6-3>li:before{content:"" counter(lst-ctn-kix_list_6-3,lower-roman) ") "}.lst-kix_list_6-8>li{counter-increment:lst-ctn-kix_list_6-8}.lst-kix_list_6-0>li:before{content:"Schedule " counter(lst-ctn-kix_list_6-0,decimal) " "}.lst-kix_list_6-4>li:before{content:"\0025cf  "}.lst-kix_list_6-2>li:before{content:"" counter(lst-ctn-kix_list_6-2,lower-latin) ") "}ol.lst-kix_list_15-0.start{counter-reset:lst-ctn-kix_list_15-0 0}ol.lst-kix_list_3-2.start{counter-reset:lst-ctn-kix_list_3-2 0}.lst-kix_list_6-8>li:before{content:"" counter(lst-ctn-kix_list_6-8,lower-roman) ". "}.lst-kix_list_6-5>li:before{content:"\0025cf  "}.lst-kix_list_6-7>li:before{content:"" counter(lst-ctn-kix_list_6-7,lower-latin) ". "}.lst-kix_list_6-6>li:before{content:"\0025cf  "}.lst-kix_list_7-4>li:before{content:"(" counter(lst-ctn-kix_list_7-4,lower-latin) ") "}.lst-kix_list_7-6>li:before{content:"" counter(lst-ctn-kix_list_7-6,decimal) ". "}ol.lst-kix_list_17-4{list-style-type:none}.lst-kix_list_18-5>li{counter-increment:lst-ctn-kix_list_18-5}ol.lst-kix_list_19-7.start{counter-reset:lst-ctn-kix_list_19-7 0}ol.lst-kix_list_17-5{list-style-type:none}ol.lst-kix_list_6-2.start{counter-reset:lst-ctn-kix_list_6-2 0}.lst-kix_list_15-5>li{counter-increment:lst-ctn-kix_list_15-5}ol.lst-kix_list_17-6{list-style-type:none}ol.lst-kix_list_24-1.start{counter-reset:lst-ctn-kix_list_24-1 0}ol.lst-kix_list_17-7{list-style-type:none}ol.lst-kix_list_17-0{list-style-type:none}.lst-kix_list_22-2>li{counter-increment:lst-ctn-kix_list_22-2}ol.lst-kix_list_17-1{list-style-type:none}ol.lst-kix_list_17-2{list-style-type:none}.lst-kix_list_7-2>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) "." counter(lst-ctn-kix_list_7-2,decimal) " "}ol.lst-kix_list_17-3{list-style-type:none}.lst-kix_list_7-6>li{counter-increment:lst-ctn-kix_list_7-6}.lst-kix_list_12-6>li{counter-increment:lst-ctn-kix_list_12-6}.lst-kix_list_24-3>li{counter-increment:lst-ctn-kix_list_24-3}.lst-kix_list_13-7>li:before{content:" "}.lst-kix_list_7-8>li:before{content:"" counter(lst-ctn-kix_list_7-8,lower-roman) ". "}ol.lst-kix_list_23-0.start{counter-reset:lst-ctn-kix_list_23-0 1}.lst-kix_list_15-6>li{counter-increment:lst-ctn-kix_list_15-6}.lst-kix_list_4-7>li{counter-increment:lst-ctn-kix_list_4-7}.lst-kix_list_15-5>li:before{content:" "}.lst-kix_list_9-8>li{counter-increment:lst-ctn-kix_list_9-8}.lst-kix_list_13-4>li{counter-increment:lst-ctn-kix_list_13-4}.lst-kix_list_4-1>li:before{content:"" counter(lst-ctn-kix_list_4-0,decimal) "." counter(lst-ctn-kix_list_4-1,decimal) " "}.lst-kix_list_15-7>li:before{content:" "}.lst-kix_list_17-7>li{counter-increment:lst-ctn-kix_list_17-7}.lst-kix_list_4-3>li:before{content:"(" counter(lst-ctn-kix_list_4-3,lower-latin) ") "}.lst-kix_list_4-5>li:before{content:" "}.lst-kix_list_15-1>li:before{content:"" counter(lst-ctn-kix_list_15-0,decimal) "." counter(lst-ctn-kix_list_15-1,decimal) " "}ol.lst-kix_list_1-4.start{counter-reset:lst-ctn-kix_list_1-4 0}.lst-kix_list_24-4>li{counter-increment:lst-ctn-kix_list_24-4}.lst-kix_list_15-3>li:before{content:"(" counter(lst-ctn-kix_list_15-3,lower-latin) ") "}.lst-kix_list_22-1>li{counter-increment:lst-ctn-kix_list_22-1}ul.lst-kix_list_19-8{list-style-type:none}ol.lst-kix_list_4-4.start{counter-reset:lst-ctn-kix_list_4-4 0}.lst-kix_list_16-2>li{counter-increment:lst-ctn-kix_list_16-2}ol.lst-kix_list_9-2.start{counter-reset:lst-ctn-kix_list_9-2 0}.lst-kix_list_20-0>li{counter-increment:lst-ctn-kix_list_20-0}ol.lst-kix_list_16-7.start{counter-reset:lst-ctn-kix_list_16-7 0}.lst-kix_list_11-2>li{counter-increment:lst-ctn-kix_list_11-2}.lst-kix_list_19-2>li{counter-increment:lst-ctn-kix_list_19-2}ol.lst-kix_list_8-8{list-style-type:none}.lst-kix_list_12-3>li:before{content:"(" counter(lst-ctn-kix_list_12-3,lower-latin) ") "}ol.lst-kix_list_8-4{list-style-type:none}.lst-kix_list_12-1>li:before{content:"" counter(lst-ctn-kix_list_12-0,decimal) "." counter(lst-ctn-kix_list_12-1,decimal) " "}ol.lst-kix_list_8-5{list-style-type:none}ol.lst-kix_list_8-6{list-style-type:none}ol.lst-kix_list_8-7{list-style-type:none}ol.lst-kix_list_8-0{list-style-type:none}.lst-kix_list_16-3>li{counter-increment:lst-ctn-kix_list_16-3}ol.lst-kix_list_8-1{list-style-type:none}.lst-kix_list_23-6>li{counter-increment:lst-ctn-kix_list_23-6}ol.lst-kix_list_8-2{list-style-type:none}.lst-kix_list_13-3>li{counter-increment:lst-ctn-kix_list_13-3}ol.lst-kix_list_13-6.start{counter-reset:lst-ctn-kix_list_13-6 0}ol.lst-kix_list_8-3{list-style-type:none}.lst-kix_list_14-1>li{counter-increment:lst-ctn-kix_list_14-1}.lst-kix_list_21-4>li{counter-increment:lst-ctn-kix_list_21-4}.lst-kix_list_13-3>li:before{content:"(" counter(lst-ctn-kix_list_13-3,lower-latin) ") "}.lst-kix_list_13-5>li:before{content:" "}.lst-kix_list_12-5>li:before{content:" "}ol.lst-kix_list_13-7.start{counter-reset:lst-ctn-kix_list_13-7 0}.lst-kix_list_18-4>li{counter-increment:lst-ctn-kix_list_18-4}.lst-kix_list_12-7>li:before{content:" "}ol.lst-kix_list_21-1.start{counter-reset:lst-ctn-kix_list_21-1 0}.lst-kix_list_13-1>li:before{content:"" counter(lst-ctn-kix_list_13-0,decimal) "." counter(lst-ctn-kix_list_13-1,decimal) " "}ol.lst-kix_list_11-6{list-style-type:none}ol.lst-kix_list_11-7{list-style-type:none}.lst-kix_list_1-1>li{counter-increment:lst-ctn-kix_list_1-1}ol.lst-kix_list_11-2{list-style-type:none}ol.lst-kix_list_11-3{list-style-type:none}.lst-kix_list_3-0>li:before{content:"Annexure " counter(lst-ctn-kix_list_3-0,upper-latin) ": "}ol.lst-kix_list_11-4{list-style-type:none}ol.lst-kix_list_11-5{list-style-type:none}ol.lst-kix_list_20-5.start{counter-reset:lst-ctn-kix_list_20-5 0}ol.lst-kix_list_13-1.start{counter-reset:lst-ctn-kix_list_13-1 0}ol.lst-kix_list_11-0{list-style-type:none}ol.lst-kix_list_11-1{list-style-type:none}.lst-kix_list_4-0>li{counter-increment:lst-ctn-kix_list_4-0}.lst-kix_list_3-4>li:before{content:"" counter(lst-ctn-kix_list_3-4,lower-latin) ". "}ul.lst-kix_list_24-8{list-style-type:none}.lst-kix_list_3-3>li:before{content:"" counter(lst-ctn-kix_list_3-3,decimal) ". "}.lst-kix_list_8-0>li:before{content:"Schedule " counter(lst-ctn-kix_list_8-0,decimal) ": "}.lst-kix_list_8-7>li:before{content:"" counter(lst-ctn-kix_list_8-7,lower-latin) ". "}.lst-kix_list_3-8>li:before{content:"" counter(lst-ctn-kix_list_3-8,lower-roman) ". "}.lst-kix_list_8-3>li:before{content:"" counter(lst-ctn-kix_list_8-3,decimal) ". "}ol.lst-kix_list_22-7{list-style-type:none}ol.lst-kix_list_22-6{list-style-type:none}.lst-kix_list_3-7>li:before{content:"" counter(lst-ctn-kix_list_3-7,lower-latin) ". "}ol.lst-kix_list_22-3{list-style-type:none}ol.lst-kix_list_22-2{list-style-type:none}.lst-kix_list_8-4>li:before{content:"" counter(lst-ctn-kix_list_8-4,lower-latin) ". "}ol.lst-kix_list_22-5{list-style-type:none}ol.lst-kix_list_22-4{list-style-type:none}.lst-kix_list_19-1>li{counter-increment:lst-ctn-kix_list_19-1}ol.lst-kix_list_22-1{list-style-type:none}ol.lst-kix_list_22-0{list-style-type:none}ol.lst-kix_list_8-5.start{counter-reset:lst-ctn-kix_list_8-5 0}ul.lst-kix_list_13-8{list-style-type:none}.lst-kix_list_17-1>li{counter-increment:lst-ctn-kix_list_17-1}.lst-kix_list_11-1>li:before{content:"" counter(lst-ctn-kix_list_11-0,decimal) "." counter(lst-ctn-kix_list_11-1,decimal) " "}.lst-kix_list_11-0>li:before{content:"" counter(lst-ctn-kix_list_11-0,decimal) ". "}ol.lst-kix_list_9-3.start{counter-reset:lst-ctn-kix_list_9-3 0}.lst-kix_list_8-8>li:before{content:"" counter(lst-ctn-kix_list_8-8,lower-roman) ". "}.lst-kix_list_16-8>li:before{content:"\0025cf  "}.lst-kix_list_16-7>li:before{content:" "}.lst-kix_list_4-8>li:before{content:"\0025cf  "}.lst-kix_list_21-5>li{counter-increment:lst-ctn-kix_list_21-5}.lst-kix_list_4-7>li:before{content:" "}.lst-kix_list_14-2>li{counter-increment:lst-ctn-kix_list_14-2}ol.lst-kix_list_20-0.start{counter-reset:lst-ctn-kix_list_20-0 0}.lst-kix_list_17-0>li:before{content:"" counter(lst-ctn-kix_list_17-0,decimal) ". "}ul.lst-kix_list_4-8{list-style-type:none}.lst-kix_list_16-0>li:before{content:"" counter(lst-ctn-kix_list_16-0,decimal) ". "}.lst-kix_list_8-4>li{counter-increment:lst-ctn-kix_list_8-4}.lst-kix_list_16-4>li:before{content:"(" counter(lst-ctn-kix_list_16-4,lower-roman) ") "}ol.lst-kix_list_3-3.start{counter-reset:lst-ctn-kix_list_3-3 0}.lst-kix_list_16-3>li:before{content:"(" counter(lst-ctn-kix_list_16-3,lower-latin) ") "}.lst-kix_list_11-3>li{counter-increment:lst-ctn-kix_list_11-3}ol.lst-kix_list_18-1.start{counter-reset:lst-ctn-kix_list_18-1 0}ol.lst-kix_list_8-6.start{counter-reset:lst-ctn-kix_list_8-6 0}.lst-kix_list_17-7>li:before{content:" "}.lst-kix_list_17-8>li:before{content:"\0025cf  "}.lst-kix_list_17-3>li:before{content:"(" counter(lst-ctn-kix_list_17-3,lower-latin) ") "}.lst-kix_list_17-4>li:before{content:"(" counter(lst-ctn-kix_list_17-4,lower-roman) ") "}ol.lst-kix_list_8-0.start{counter-reset:lst-ctn-kix_list_8-0 0}.lst-kix_list_7-0>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) ". "}ol.lst-kix_list_19-6.start{counter-reset:lst-ctn-kix_list_19-6 0}ol.lst-kix_list_9-7.start{counter-reset:lst-ctn-kix_list_9-7 0}.lst-kix_list_2-4>li:before{content:"o  "}.lst-kix_list_2-8>li:before{content:"\0025aa  "}ol.lst-kix_list_13-4{list-style-type:none}ol.lst-kix_list_13-5{list-style-type:none}ol.lst-kix_list_13-6{list-style-type:none}ol.lst-kix_list_13-7{list-style-type:none}ol.lst-kix_list_13-0{list-style-type:none}ol.lst-kix_list_13-1{list-style-type:none}ol.lst-kix_list_13-2{list-style-type:none}.lst-kix_list_7-3>li:before{content:" "}ol.lst-kix_list_13-3{list-style-type:none}.lst-kix_list_10-0>li:before{content:"\0025cf  "}.lst-kix_list_9-7>li{counter-increment:lst-ctn-kix_list_9-7}ol.lst-kix_list_21-7.start{counter-reset:lst-ctn-kix_list_21-7 0}.lst-kix_list_13-8>li:before{content:"\0025cf  "}.lst-kix_list_18-3>li:before{content:"(" counter(lst-ctn-kix_list_18-3,lower-latin) ") "}.lst-kix_list_18-7>li:before{content:" "}.lst-kix_list_18-6>li{counter-increment:lst-ctn-kix_list_18-6}ol.lst-kix_list_3-8.start{counter-reset:lst-ctn-kix_list_3-8 0}.lst-kix_list_7-7>li:before{content:"" counter(lst-ctn-kix_list_7-7,lower-latin) ". "}ol.lst-kix_list_8-1.start{counter-reset:lst-ctn-kix_list_8-1 0}.lst-kix_list_15-4>li:before{content:"(" counter(lst-ctn-kix_list_15-4,lower-roman) ") "}ol.lst-kix_list_19-1.start{counter-reset:lst-ctn-kix_list_19-1 0}.lst-kix_list_10-4>li:before{content:"o  "}.lst-kix_list_10-8>li:before{content:"\0025aa  "}ol.lst-kix_list_20-4.start{counter-reset:lst-ctn-kix_list_20-4 0}.lst-kix_list_4-0>li:before{content:"" counter(lst-ctn-kix_list_4-0,decimal) ". "}ol.lst-kix_list_24-5{list-style-type:none}ol.lst-kix_list_24-4{list-style-type:none}ol.lst-kix_list_24-7{list-style-type:none}.lst-kix_list_15-0>li:before{content:"" counter(lst-ctn-kix_list_15-0,decimal) ". "}.lst-kix_list_15-8>li:before{content:"\0025cf  "}ol.lst-kix_list_24-6{list-style-type:none}ol.lst-kix_list_24-1{list-style-type:none}ol.lst-kix_list_14-3.start{counter-reset:lst-ctn-kix_list_14-3 0}ol.lst-kix_list_24-0{list-style-type:none}ol.lst-kix_list_24-3{list-style-type:none}.lst-kix_list_15-7>li{counter-increment:lst-ctn-kix_list_15-7}ol.lst-kix_list_24-2{list-style-type:none}.lst-kix_list_4-4>li:before{content:"(" counter(lst-ctn-kix_list_4-4,lower-roman) ") "}ul.lst-kix_list_15-8{list-style-type:none}.lst-kix_list_9-3>li:before{content:"" counter(lst-ctn-kix_list_9-3,decimal) ". "}ol.lst-kix_list_7-0.start{counter-reset:lst-ctn-kix_list_7-0 0}ol.lst-kix_list_13-2.start{counter-reset:lst-ctn-kix_list_13-2 0}ol.lst-kix_list_4-0{list-style-type:none}ol.lst-kix_list_4-1{list-style-type:none}ol.lst-kix_list_4-2{list-style-type:none}ol.lst-kix_list_4-3{list-style-type:none}ol.lst-kix_list_14-4.start{counter-reset:lst-ctn-kix_list_14-4 0}.lst-kix_list_9-7>li:before{content:"" counter(lst-ctn-kix_list_9-7,lower-latin) ". "}ol.lst-kix_list_3-6.start{counter-reset:lst-ctn-kix_list_3-6 0}.lst-kix_list_11-4>li:before{content:"(" counter(lst-ctn-kix_list_11-4,lower-roman) ") "}.lst-kix_list_12-4>li:before{content:"(" counter(lst-ctn-kix_list_12-4,lower-roman) ") "}ul.lst-kix_list_6-6{list-style-type:none}.lst-kix_list_5-3>li{counter-increment:lst-ctn-kix_list_5-3}ul.lst-kix_list_6-4{list-style-type:none}ul.lst-kix_list_6-5{list-style-type:none}.lst-kix_list_7-4>li{counter-increment:lst-ctn-kix_list_7-4}.lst-kix_list_1-0>li:before{content:"" counter(lst-ctn-kix_list_1-0,decimal) ". "}ol.lst-kix_list_19-2.start{counter-reset:lst-ctn-kix_list_19-2 0}ol.lst-kix_list_4-4{list-style-type:none}.lst-kix_list_11-8>li:before{content:"\0025cf  "}ol.lst-kix_list_4-5{list-style-type:none}ol.lst-kix_list_4-6{list-style-type:none}.lst-kix_list_12-0>li:before{content:"" counter(lst-ctn-kix_list_12-0,decimal) ". "}ol.lst-kix_list_4-7{list-style-type:none}.lst-kix_list_1-4>li:before{content:"(" counter(lst-ctn-kix_list_1-4,lower-roman) ") "}.lst-kix_list_13-0>li:before{content:"" counter(lst-ctn-kix_list_13-0,decimal) ". "}.lst-kix_list_1-6>li{counter-increment:lst-ctn-kix_list_1-6}.lst-kix_list_13-4>li:before{content:"(" counter(lst-ctn-kix_list_13-4,lower-roman) ") "}ol.lst-kix_list_19-3.start{counter-reset:lst-ctn-kix_list_19-3 0}.lst-kix_list_2-0>li:before{content:"\0025cf  "}.lst-kix_list_4-5>li{counter-increment:lst-ctn-kix_list_4-5}ol.lst-kix_list_9-8.start{counter-reset:lst-ctn-kix_list_9-8 0}.lst-kix_list_1-8>li:before{content:"\0025cf  "}.lst-kix_list_12-8>li:before{content:"\0025cf  "}.lst-kix_list_8-2>li{counter-increment:lst-ctn-kix_list_8-2}.lst-kix_list_19-0>li:before{content:"" counter(lst-ctn-kix_list_19-0,decimal) ". "}ol.lst-kix_list_17-7.start{counter-reset:lst-ctn-kix_list_17-7 0}ol.lst-kix_list_12-6.start{counter-reset:lst-ctn-kix_list_12-6 0}ul.lst-kix_list_20-8{list-style-type:none}.lst-kix_list_8-1>li{counter-increment:lst-ctn-kix_list_8-1}ol.lst-kix_list_8-2.start{counter-reset:lst-ctn-kix_list_8-2 0}.lst-kix_list_19-2>li:before{content:"(" counter(lst-ctn-kix_list_19-2,lower-latin) ") "}ol.lst-kix_list_3-1.start{counter-reset:lst-ctn-kix_list_3-1 0}ol.lst-kix_list_21-0.start{counter-reset:lst-ctn-kix_list_21-0 1}.lst-kix_list_7-0>li{counter-increment:lst-ctn-kix_list_7-0}.lst-kix_list_19-0>li{counter-increment:lst-ctn-kix_list_19-0}.lst-kix_list_1-2>li{counter-increment:lst-ctn-kix_list_1-2}.lst-kix_list_19-8>li:before{content:"\0025cf  "}ol.lst-kix_list_14-7.start{counter-reset:lst-ctn-kix_list_14-7 0}.lst-kix_list_19-5>li:before{content:" "}.lst-kix_list_19-7>li:before{content:" "}.lst-kix_list_9-2>li{counter-increment:lst-ctn-kix_list_9-2}.lst-kix_list_24-5>li{counter-increment:lst-ctn-kix_list_24-5}ol.lst-kix_list_17-2.start{counter-reset:lst-ctn-kix_list_17-2 0}.lst-kix_list_13-2>li{counter-increment:lst-ctn-kix_list_13-2}ol.lst-kix_list_21-5.start{counter-reset:lst-ctn-kix_list_21-5 0}.lst-kix_list_19-7>li{counter-increment:lst-ctn-kix_list_19-7}.lst-kix_list_14-3>li{counter-increment:lst-ctn-kix_list_14-3}ol.lst-kix_list_15-6.start{counter-reset:lst-ctn-kix_list_15-6 0}.lst-kix_list_12-1>li{counter-increment:lst-ctn-kix_list_12-1}.lst-kix_list_18-1>li:before{content:"" counter(lst-ctn-kix_list_18-0,decimal) "." counter(lst-ctn-kix_list_18-1,decimal) " "}.lst-kix_list_23-4>li{counter-increment:lst-ctn-kix_list_23-4}ol.lst-kix_list_23-1.start{counter-reset:lst-ctn-kix_list_23-1 0}.lst-kix_list_23-1>li{counter-increment:lst-ctn-kix_list_23-1}ol.lst-kix_list_1-3{list-style-type:none}ol.lst-kix_list_1-4{list-style-type:none}.lst-kix_list_2-7>li:before{content:"o  "}ol.lst-kix_list_1-5{list-style-type:none}.lst-kix_list_24-2>li{counter-increment:lst-ctn-kix_list_24-2}ol.lst-kix_list_1-6{list-style-type:none}ol.lst-kix_list_1-0{list-style-type:none}.lst-kix_list_2-5>li:before{content:"\0025aa  "}ol.lst-kix_list_1-1{list-style-type:none}ol.lst-kix_list_1-2{list-style-type:none}ol.lst-kix_list_17-0.start{counter-reset:lst-ctn-kix_list_17-0 0}.lst-kix_list_22-3>li{counter-increment:lst-ctn-kix_list_22-3}.lst-kix_list_18-6>li:before{content:"" counter(lst-ctn-kix_list_18-6,upper-roman) ". "}.lst-kix_list_14-6>li{counter-increment:lst-ctn-kix_list_14-6}.lst-kix_list_10-1>li:before{content:"o  "}.lst-kix_list_18-4>li:before{content:"(" counter(lst-ctn-kix_list_18-4,lower-roman) ") "}ul.lst-kix_list_22-8{list-style-type:none}.lst-kix_list_7-7>li{counter-increment:lst-ctn-kix_list_7-7}ol.lst-kix_list_15-1.start{counter-reset:lst-ctn-kix_list_15-1 0}ol.lst-kix_list_15-4.start{counter-reset:lst-ctn-kix_list_15-4 0}ol.lst-kix_list_1-7{list-style-type:none}.lst-kix_list_10-3>li:before{content:"\0025cf  "}.lst-kix_list_15-4>li{counter-increment:lst-ctn-kix_list_15-4}ol.lst-kix_list_7-3.start{counter-reset:lst-ctn-kix_list_7-3 0}ol.lst-kix_list_5-7.start{counter-reset:lst-ctn-kix_list_5-7 0}ul.lst-kix_list_11-8{list-style-type:none}.lst-kix_list_20-8>li:before{content:"\0025cf  "}.lst-kix_list_3-4>li{counter-increment:lst-ctn-kix_list_3-4}.lst-kix_list_20-0>li:before{content:"" counter(lst-ctn-kix_list_20-0,decimal) ". "}.lst-kix_list_9-6>li:before{content:"" counter(lst-ctn-kix_list_9-6,decimal) ". "}.lst-kix_list_9-4>li:before{content:"" counter(lst-ctn-kix_list_9-4,lower-latin) ". "}.lst-kix_list_20-6>li:before{content:"" counter(lst-ctn-kix_list_20-6,upper-roman) ". "}.lst-kix_list_23-0>li{counter-increment:lst-ctn-kix_list_23-0}ul.lst-kix_list_2-8{list-style-type:none}ol.lst-kix_list_12-1.start{counter-reset:lst-ctn-kix_list_12-1 0}.lst-kix_list_11-5>li:before{content:" "}ul.lst-kix_list_2-2{list-style-type:none}ol.lst-kix_list_21-2.start{counter-reset:lst-ctn-kix_list_21-2 0}ul.lst-kix_list_2-3{list-style-type:none}ul.lst-kix_list_2-0{list-style-type:none}ul.lst-kix_list_2-1{list-style-type:none}ul.lst-kix_list_2-6{list-style-type:none}.lst-kix_list_20-6>li{counter-increment:lst-ctn-kix_list_20-6}.lst-kix_list_1-1>li:before{content:"" counter(lst-ctn-kix_list_1-0,decimal) "." counter(lst-ctn-kix_list_1-1,decimal) " "}ul.lst-kix_list_2-7{list-style-type:none}.lst-kix_list_11-7>li:before{content:" "}ul.lst-kix_list_2-4{list-style-type:none}ul.lst-kix_list_2-5{list-style-type:none}.lst-kix_list_8-5>li{counter-increment:lst-ctn-kix_list_8-5}.lst-kix_list_1-3>li:before{content:"(" counter(lst-ctn-kix_list_1-3,lower-latin) ") "}ol.lst-kix_list_21-7{list-style-type:none}ol.lst-kix_list_21-4{list-style-type:none}ol.lst-kix_list_21-3{list-style-type:none}ol.lst-kix_list_21-6{list-style-type:none}.lst-kix_list_14-7>li{counter-increment:lst-ctn-kix_list_14-7}ol.lst-kix_list_21-5{list-style-type:none}ol.lst-kix_list_21-0{list-style-type:none}ol.lst-kix_list_7-5.start{counter-reset:lst-ctn-kix_list_7-5 0}ol.lst-kix_list_21-2{list-style-type:none}ol.lst-kix_list_21-1{list-style-type:none}ol.lst-kix_list_19-6{list-style-type:none}ol.lst-kix_list_19-7{list-style-type:none}.lst-kix_list_3-1>li{counter-increment:lst-ctn-kix_list_3-1}ol.lst-kix_list_19-2{list-style-type:none}ol.lst-kix_list_19-3{list-style-type:none}ol.lst-kix_list_19-4{list-style-type:none}ol.lst-kix_list_19-5{list-style-type:none}ol.lst-kix_list_19-0{list-style-type:none}ol.lst-kix_list_19-1{list-style-type:none}ol.lst-kix_list_7-7.start{counter-reset:lst-ctn-kix_list_7-7 0}.lst-kix_list_3-1>li:before{content:"" counter(lst-ctn-kix_list_3-1,lower-latin) ". "}.lst-kix_list_14-0>li{counter-increment:lst-ctn-kix_list_14-0}ol.lst-kix_list_17-4.start{counter-reset:lst-ctn-kix_list_17-4 0}.lst-kix_list_8-2>li:before{content:"" counter(lst-ctn-kix_list_8-2,lower-roman) ". "}.lst-kix_list_12-0>li{counter-increment:lst-ctn-kix_list_12-0}ol.lst-kix_list_12-3.start{counter-reset:lst-ctn-kix_list_12-3 0}.lst-kix_list_21-2>li:before{content:"(" counter(lst-ctn-kix_list_21-2,lower-latin) ") "}.lst-kix_list_8-5>li:before{content:"" counter(lst-ctn-kix_list_8-5,lower-roman) ". "}.lst-kix_list_15-1>li{counter-increment:lst-ctn-kix_list_15-1}.lst-kix_list_3-6>li:before{content:"" counter(lst-ctn-kix_list_3-6,decimal) ". "}.lst-kix_list_21-7>li:before{content:" "}ol.lst-kix_list_5-0.start{counter-reset:lst-ctn-kix_list_5-0 0}.lst-kix_list_11-2>li:before{content:"(" counter(lst-ctn-kix_list_11-2,lower-latin) ") "}ol.lst-kix_list_12-4.start{counter-reset:lst-ctn-kix_list_12-4 0}.lst-kix_list_16-6>li:before{content:"" counter(lst-ctn-kix_list_16-6,upper-roman) ". "}.lst-kix_list_18-2>li{counter-increment:lst-ctn-kix_list_18-2}ol.lst-kix_list_5-6.start{counter-reset:lst-ctn-kix_list_5-6 0}.lst-kix_list_22-6>li{counter-increment:lst-ctn-kix_list_22-6}.lst-kix_list_16-1>li:before{content:"" counter(lst-ctn-kix_list_16-0,decimal) "." counter(lst-ctn-kix_list_16-1,decimal) " "}.lst-kix_list_7-3>li{counter-increment:lst-ctn-kix_list_7-3}.lst-kix_list_19-3>li{counter-increment:lst-ctn-kix_list_19-3}ol.lst-kix_list_7-8.start{counter-reset:lst-ctn-kix_list_7-8 0}.lst-kix_list_12-4>li{counter-increment:lst-ctn-kix_list_12-4}.lst-kix_list_23-7>li{counter-increment:lst-ctn-kix_list_23-7}.lst-kix_list_12-7>li{counter-increment:lst-ctn-kix_list_12-7}.lst-kix_list_17-2>li:before{content:"(" counter(lst-ctn-kix_list_17-2,lower-latin) ") "}ol.lst-kix_list_5-5.start{counter-reset:lst-ctn-kix_list_5-5 0}ol.lst-kix_list_17-3.start{counter-reset:lst-ctn-kix_list_17-3 0}.lst-kix_list_17-5>li:before{content:" "}.lst-kix_list_6-2>li{counter-increment:lst-ctn-kix_list_6-2}.lst-kix_list_22-3>li:before{content:"(" counter(lst-ctn-kix_list_22-3,lower-latin) ") "}.lst-kix_list_7-1>li:before{content:" "}.lst-kix_list_13-5>li{counter-increment:lst-ctn-kix_list_13-5}.lst-kix_list_9-6>li{counter-increment:lst-ctn-kix_list_9-6}ol.lst-kix_list_23-3.start{counter-reset:lst-ctn-kix_list_23-3 0}ol.lst-kix_list_5-4.start{counter-reset:lst-ctn-kix_list_5-4 0}ol.lst-kix_list_5-1.start{counter-reset:lst-ctn-kix_list_5-1 0}.lst-kix_list_20-3>li{counter-increment:lst-ctn-kix_list_20-3}.lst-kix_list_16-6>li{counter-increment:lst-ctn-kix_list_16-6}.lst-kix_list_11-6>li{counter-increment:lst-ctn-kix_list_11-6}.lst-kix_list_3-8>li{counter-increment:lst-ctn-kix_list_3-8}.lst-kix_list_4-6>li{counter-increment:lst-ctn-kix_list_4-6}.lst-kix_list_1-5>li{counter-increment:lst-ctn-kix_list_1-5}ol.lst-kix_list_17-5.start{counter-reset:lst-ctn-kix_list_17-5 0}.lst-kix_list_4-2>li:before{content:"(" counter(lst-ctn-kix_list_4-2,lower-latin) ") "}ol.lst-kix_list_23-6.start{counter-reset:lst-ctn-kix_list_23-6 0}.lst-kix_list_17-4>li{counter-increment:lst-ctn-kix_list_17-4}.lst-kix_list_15-2>li:before{content:"(" counter(lst-ctn-kix_list_15-2,lower-latin) ") "}.lst-kix_list_10-6>li:before{content:"\0025cf  "}.lst-kix_list_9-1>li:before{content:"" counter(lst-ctn-kix_list_9-1,lower-latin) ". "}ol.lst-kix_list_12-7.start{counter-reset:lst-ctn-kix_list_12-7 0}.lst-kix_list_20-3>li:before{content:"(" counter(lst-ctn-kix_list_20-3,lower-latin) ") "}ol.lst-kix_list_23-5.start{counter-reset:lst-ctn-kix_list_23-5 0}.lst-kix_list_21-1>li{counter-increment:lst-ctn-kix_list_21-1}.lst-kix_list_8-8>li{counter-increment:lst-ctn-kix_list_8-8}ol.lst-kix_list_17-6.start{counter-reset:lst-ctn-kix_list_17-6 0}.lst-kix_list_1-6>li:before{content:"" counter(lst-ctn-kix_list_1-6,upper-roman) ". "}.lst-kix_list_12-6>li:before{content:"" counter(lst-ctn-kix_list_12-6,upper-roman) ". "}ol.lst-kix_list_23-4.start{counter-reset:lst-ctn-kix_list_23-4 0}.lst-kix_list_2-2>li:before{content:"\0025aa  "}.lst-kix_list_13-2>li:before{content:"(" counter(lst-ctn-kix_list_13-2,lower-latin) ") "}ol.lst-kix_list_5-2.start{counter-reset:lst-ctn-kix_list_5-2 0}ol{margin:0;padding:0}table td,table th{padding:0}.c29{border-right-style:solid;padding:3.6pt 5.8pt 3.6pt 5.8pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:1pt;border-left-color:#8c2352;vertical-align:middle;border-right-color:#8c2352;border-left-width:1pt;border-top-style:solid;background-color:#8c2352;border-left-style:solid;border-bottom-width:0pt;width:102.4pt;border-top-color:#8c2352;border-bottom-style:solid}.c2{border-right-style:solid;padding:3.6pt 5.8pt 3.6pt 5.8pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:1pt;border-left-color:#000000;vertical-align:middle;border-right-color:#8c2352;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:379.2pt;border-top-color:#8c2352;border-bottom-style:solid}.c6{margin-left:28.4pt;padding-top:6pt;padding-bottom:3pt;line-height:1.5;orphans:2;widows:2}.c7{margin-left:56.7pt;padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2}.c14{padding-top:6pt;padding-bottom:3pt;line-height:1.5;orphans:2;widows:2}.c33{margin-left:-5.8pt;border-spacing:0;border-collapse:collapse;margin-right:auto}.c31{padding-top:0pt;padding-bottom:35.5pt;line-height:1.5;text-align:left}.c32{padding-top:0pt;padding-bottom:35.5pt;line-height:1.5;text-align:right}.c22{margin-left:56.7pt;padding-top:0pt;padding-bottom:3pt;line-height:1.0}.c19{color:#000000;text-decoration:none;vertical-align:baseline;font-style:normal}.c20{padding-top:0pt;padding-bottom:0pt;line-height:1.5;text-align:right}.c1{font-size:8pt;font-family:"Arial";color:#888888;font-weight:normal}.c21{padding-top:0pt;padding-bottom:35.5pt;line-height:1.5;text-align:justify}.c16{padding-top:35.5pt;padding-bottom:0pt;line-height:1.5;text-align:right}.c9{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left}.c10{font-size:8pt;font-family:"Arial";font-weight:normal}.c27{font-size:11pt;font-family:"Arial";font-weight:bold}.c17{background-color:#ffffff;max-width:481.9pt;padding:56.7pt 56.7pt 56.7pt 56.7pt}.c26{font-weight:normal;font-size:11pt;font-family:"Domine"}.c4{font-size:10pt;font-family:"Arial";font-weight:normal}.c3{page-break-after:avoid;orphans:2;widows:2}.c11{font-size:10pt;font-family:"Arial";font-weight:bold}.c13{color:inherit;text-decoration:inherit}.c23{color:#0000ff;text-decoration:underline}.c24{background-color:#ff0000;color:#000000}.c12{margin-left:18pt;padding-left:10.4pt}.c5{margin-left:46.4pt;padding-left:10.4pt}.c15{orphans:2;widows:2}.c18{margin-left:18pt;text-indent:-18pt}.c0{padding:0;margin:0}.c28{color:#8e2344}.c25{height:17pt}.c30{font-style:italic}.c8{height:11pt}.title{padding-top:12pt;color:#8e2344;font-weight:bold;font-size:16pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:18pt;color:#666666;font-size:24pt;padding-bottom:4pt;font-family:"Georgia";line-height:1.0;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Domine"}p{margin:0;color:#000000;font-size:11pt;font-family:"Domine"}h1{padding-top:12pt;color:#8e2344;font-weight:bold;font-size:14pt;padding-bottom:0pt;font-family:"Galdeano";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:12pt;color:#000000;font-weight:bold;font-size:11pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:12pt;color:#000000;font-weight:bold;font-size:11pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:6pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:3pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:3pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left;}
}

.terms{
	@import url('https://themes.googleusercontent.com/fonts/css?kit=SxlsKkqYZHWmNGni7BBpgQ');ol.lst-kix_list_7-0{list-style-type:none}.lst-kix_list_14-1>li:before{content:"o  "}.lst-kix_list_14-3>li:before{content:"\0025cf  "}.lst-kix_list_2-1>li{counter-increment:lst-ctn-kix_list_2-1}ol.lst-kix_list_15-6{list-style-type:none}ol.lst-kix_list_15-7{list-style-type:none}ol.lst-kix_list_15-8{list-style-type:none}ol.lst-kix_list_9-0.start{counter-reset:lst-ctn-kix_list_9-0 0}.lst-kix_list_14-0>li:before{content:"\0025cf  "}.lst-kix_list_14-4>li:before{content:"o  "}ol.lst-kix_list_15-2{list-style-type:none}ol.lst-kix_list_15-3{list-style-type:none}ol.lst-kix_list_15-4{list-style-type:none}.lst-kix_list_6-1>li{counter-increment:lst-ctn-kix_list_6-1}.lst-kix_list_14-5>li:before{content:"\0025aa  "}.lst-kix_list_14-7>li:before{content:"o  "}ol.lst-kix_list_15-5{list-style-type:none}ol.lst-kix_list_13-4.start{counter-reset:lst-ctn-kix_list_13-4 0}.lst-kix_list_14-6>li:before{content:"\0025cf  "}ol.lst-kix_list_15-1{list-style-type:none}.lst-kix_list_13-0>li{counter-increment:lst-ctn-kix_list_13-0}ol.lst-kix_list_7-4.start{counter-reset:lst-ctn-kix_list_7-4 0}.lst-kix_list_17-0>li{counter-increment:lst-ctn-kix_list_17-0}.lst-kix_list_5-0>li{counter-increment:lst-ctn-kix_list_5-0}.lst-kix_list_9-0>li{counter-increment:lst-ctn-kix_list_9-0}ul.lst-kix_list_9-6{list-style-type:none}ol.lst-kix_list_2-3.start{counter-reset:lst-ctn-kix_list_2-3 0}ol.lst-kix_list_7-5{list-style-type:none}ol.lst-kix_list_7-6{list-style-type:none}ol.lst-kix_list_7-7{list-style-type:none}ol.lst-kix_list_7-1{list-style-type:none}ol.lst-kix_list_7-2{list-style-type:none}ol.lst-kix_list_11-8.start{counter-reset:lst-ctn-kix_list_11-8 0}ol.lst-kix_list_7-3{list-style-type:none}ol.lst-kix_list_7-4{list-style-type:none}.lst-kix_list_14-2>li:before{content:"\0025aa  "}ol.lst-kix_list_5-3.start{counter-reset:lst-ctn-kix_list_5-3 0}ol.lst-kix_list_12-0.start{counter-reset:lst-ctn-kix_list_12-0 0}ol.lst-kix_list_17-1.start{counter-reset:lst-ctn-kix_list_17-1 0}ol.lst-kix_list_3-7.start{counter-reset:lst-ctn-kix_list_3-7 0}.lst-kix_list_14-8>li:before{content:"\0025aa  "}ol.lst-kix_list_8-8.start{counter-reset:lst-ctn-kix_list_8-8 0}.lst-kix_list_3-2>li{counter-increment:lst-ctn-kix_list_3-2}ol.lst-kix_list_15-5.start{counter-reset:lst-ctn-kix_list_15-5 0}ol.lst-kix_list_10-4.start{counter-reset:lst-ctn-kix_list_10-4 0}.lst-kix_list_7-2>li{counter-increment:lst-ctn-kix_list_7-2}.lst-kix_list_5-0>li:before{content:"Annexure " counter(lst-ctn-kix_list_5-0,upper-latin) ": "}ol.lst-kix_list_6-0{list-style-type:none}ol.lst-kix_list_6-1{list-style-type:none}.lst-kix_list_5-4>li{counter-increment:lst-ctn-kix_list_5-4}.lst-kix_list_5-3>li:before{content:"" counter(lst-ctn-kix_list_5-3,decimal) ". "}ol.lst-kix_list_9-5.start{counter-reset:lst-ctn-kix_list_9-5 0}.lst-kix_list_5-2>li:before{content:"" counter(lst-ctn-kix_list_5-2,lower-roman) ". "}.lst-kix_list_8-3>li{counter-increment:lst-ctn-kix_list_8-3}.lst-kix_list_5-1>li:before{content:"" counter(lst-ctn-kix_list_5-1,lower-latin) ". "}.lst-kix_list_5-7>li:before{content:"" counter(lst-ctn-kix_list_5-7,lower-latin) ". "}ul.lst-kix_list_8-4{list-style-type:none}ul.lst-kix_list_8-5{list-style-type:none}.lst-kix_list_5-6>li:before{content:"" counter(lst-ctn-kix_list_5-6,decimal) ". "}.lst-kix_list_5-8>li:before{content:"" counter(lst-ctn-kix_list_5-8,lower-roman) ". "}ul.lst-kix_list_8-6{list-style-type:none}.lst-kix_list_9-4>li{counter-increment:lst-ctn-kix_list_9-4}ol.lst-kix_list_6-6{list-style-type:none}ol.lst-kix_list_6-7{list-style-type:none}.lst-kix_list_5-4>li:before{content:"" counter(lst-ctn-kix_list_5-4,lower-latin) ". "}.lst-kix_list_5-5>li:before{content:"" counter(lst-ctn-kix_list_5-5,lower-roman) ". "}ol.lst-kix_list_6-2{list-style-type:none}ol.lst-kix_list_6-3{list-style-type:none}ol.lst-kix_list_6-4{list-style-type:none}ol.lst-kix_list_6-5{list-style-type:none}ol.lst-kix_list_12-5.start{counter-reset:lst-ctn-kix_list_12-5 0}.lst-kix_list_6-1>li:before{content:"" counter(lst-ctn-kix_list_6-0,decimal) "." counter(lst-ctn-kix_list_6-1,decimal) " "}.lst-kix_list_6-3>li:before{content:"(" counter(lst-ctn-kix_list_6-3,lower-latin) ") "}.lst-kix_list_6-5>li{counter-increment:lst-ctn-kix_list_6-5}.lst-kix_list_6-0>li:before{content:"" counter(lst-ctn-kix_list_6-0,decimal) ". "}.lst-kix_list_6-4>li:before{content:"(" counter(lst-ctn-kix_list_6-4,lower-roman) ") "}ul.lst-kix_list_16-2{list-style-type:none}ul.lst-kix_list_16-1{list-style-type:none}ul.lst-kix_list_16-0{list-style-type:none}.lst-kix_list_3-6>li{counter-increment:lst-ctn-kix_list_3-6}.lst-kix_list_6-2>li:before{content:"(" counter(lst-ctn-kix_list_6-2,lower-latin) ") "}ul.lst-kix_list_16-8{list-style-type:none}ul.lst-kix_list_16-7{list-style-type:none}ul.lst-kix_list_16-6{list-style-type:none}.lst-kix_list_2-5>li{counter-increment:lst-ctn-kix_list_2-5}.lst-kix_list_2-8>li{counter-increment:lst-ctn-kix_list_2-8}ol.lst-kix_list_3-2.start{counter-reset:lst-ctn-kix_list_3-2 0}ul.lst-kix_list_16-5{list-style-type:none}ul.lst-kix_list_16-4{list-style-type:none}.lst-kix_list_6-8>li:before{content:"\0025cf  "}ul.lst-kix_list_16-3{list-style-type:none}.lst-kix_list_6-5>li:before{content:" "}.lst-kix_list_6-7>li:before{content:" "}.lst-kix_list_6-6>li:before{content:"" counter(lst-ctn-kix_list_6-6,upper-roman) ". "}ol.lst-kix_list_17-8{list-style-type:none}ol.lst-kix_list_10-6.start{counter-reset:lst-ctn-kix_list_10-6 0}.lst-kix_list_7-4>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) "." counter(lst-ctn-kix_list_7-1,decimal) "." counter(lst-ctn-kix_list_7-2,decimal) "." counter(lst-ctn-kix_list_7-3,decimal) "." counter(lst-ctn-kix_list_7-4,decimal) " "}.lst-kix_list_7-6>li:before{content:"" counter(lst-ctn-kix_list_7-6,lower-latin) ". "}ol.lst-kix_list_17-4{list-style-type:none}ol.lst-kix_list_17-5{list-style-type:none}ol.lst-kix_list_6-2.start{counter-reset:lst-ctn-kix_list_6-2 0}.lst-kix_list_15-5>li{counter-increment:lst-ctn-kix_list_15-5}ol.lst-kix_list_17-6{list-style-type:none}ol.lst-kix_list_17-7{list-style-type:none}ol.lst-kix_list_17-0{list-style-type:none}ol.lst-kix_list_17-1{list-style-type:none}ol.lst-kix_list_17-2{list-style-type:none}.lst-kix_list_7-2>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) "." counter(lst-ctn-kix_list_7-1,decimal) "." counter(lst-ctn-kix_list_7-2,decimal) " "}ol.lst-kix_list_17-3{list-style-type:none}.lst-kix_list_7-6>li{counter-increment:lst-ctn-kix_list_7-6}.lst-kix_list_12-6>li{counter-increment:lst-ctn-kix_list_12-6}ol.lst-kix_list_9-7{list-style-type:none}ol.lst-kix_list_9-8{list-style-type:none}.lst-kix_list_13-7>li:before{content:"" counter(lst-ctn-kix_list_13-7,lower-latin) ". "}ol.lst-kix_list_3-0.start{counter-reset:lst-ctn-kix_list_3-0 0}ol.lst-kix_list_9-3{list-style-type:none}ol.lst-kix_list_9-4{list-style-type:none}.lst-kix_list_5-7>li{counter-increment:lst-ctn-kix_list_5-7}ol.lst-kix_list_9-5{list-style-type:none}.lst-kix_list_7-8>li:before{content:"\0025aa  "}.lst-kix_list_15-6>li{counter-increment:lst-ctn-kix_list_15-6}ol.lst-kix_list_9-0{list-style-type:none}ol.lst-kix_list_9-1{list-style-type:none}ol.lst-kix_list_9-2{list-style-type:none}ol.lst-kix_list_2-5.start{counter-reset:lst-ctn-kix_list_2-5 0}.lst-kix_list_15-5>li:before{content:"(" counter(lst-ctn-kix_list_15-5,lower-roman) ") "}.lst-kix_list_9-8>li{counter-increment:lst-ctn-kix_list_9-8}.lst-kix_list_13-4>li{counter-increment:lst-ctn-kix_list_13-4}.lst-kix_list_4-1>li:before{content:"o  "}.lst-kix_list_15-7>li:before{content:"" counter(lst-ctn-kix_list_15-7,lower-latin) ". "}.lst-kix_list_17-7>li{counter-increment:lst-ctn-kix_list_17-7}.lst-kix_list_4-3>li:before{content:"\0025cf  "}.lst-kix_list_4-5>li:before{content:"\0025aa  "}.lst-kix_list_10-5>li{counter-increment:lst-ctn-kix_list_10-5}.lst-kix_list_15-1>li:before{content:"" counter(lst-ctn-kix_list_15-1,lower-latin) ") "}.lst-kix_list_3-5>li{counter-increment:lst-ctn-kix_list_3-5}.lst-kix_list_15-3>li:before{content:"(" counter(lst-ctn-kix_list_15-3,decimal) ") "}.lst-kix_list_6-4>li{counter-increment:lst-ctn-kix_list_6-4}ol.lst-kix_list_9-2.start{counter-reset:lst-ctn-kix_list_9-2 0}.lst-kix_list_9-3>li{counter-increment:lst-ctn-kix_list_9-3}.lst-kix_list_11-2>li{counter-increment:lst-ctn-kix_list_11-2}ol.lst-kix_list_15-2.start{counter-reset:lst-ctn-kix_list_15-2 0}ol.lst-kix_list_2-8.start{counter-reset:lst-ctn-kix_list_2-8 0}ol.lst-kix_list_8-8{list-style-type:none}.lst-kix_list_12-3>li:before{content:"" counter(lst-ctn-kix_list_12-3,decimal) ". "}ol.lst-kix_list_7-6.start{counter-reset:lst-ctn-kix_list_7-6 0}.lst-kix_list_12-1>li:before{content:"" counter(lst-ctn-kix_list_12-1,lower-latin) ". "}ol.lst-kix_list_8-7{list-style-type:none}ol.lst-kix_list_8-0{list-style-type:none}ol.lst-kix_list_8-1{list-style-type:none}ol.lst-kix_list_8-2{list-style-type:none}.lst-kix_list_13-3>li{counter-increment:lst-ctn-kix_list_13-3}ol.lst-kix_list_13-6.start{counter-reset:lst-ctn-kix_list_13-6 0}ol.lst-kix_list_8-3{list-style-type:none}.lst-kix_list_10-4>li{counter-increment:lst-ctn-kix_list_10-4}ol.lst-kix_list_15-3.start{counter-reset:lst-ctn-kix_list_15-3 0}.lst-kix_list_13-3>li:before{content:"" counter(lst-ctn-kix_list_13-3,decimal) ". "}ol.lst-kix_list_5-8.start{counter-reset:lst-ctn-kix_list_5-8 0}.lst-kix_list_13-5>li:before{content:"" counter(lst-ctn-kix_list_13-5,lower-roman) ". "}.lst-kix_list_12-5>li:before{content:"" counter(lst-ctn-kix_list_12-5,lower-roman) ". "}ol.lst-kix_list_13-7.start{counter-reset:lst-ctn-kix_list_13-7 0}ol.lst-kix_list_12-2.start{counter-reset:lst-ctn-kix_list_12-2 0}.lst-kix_list_12-7>li:before{content:"" counter(lst-ctn-kix_list_12-7,lower-latin) ". "}ol.lst-kix_list_6-0.start{counter-reset:lst-ctn-kix_list_6-0 0}.lst-kix_list_13-1>li:before{content:"" counter(lst-ctn-kix_list_13-1,lower-latin) ". "}ol.lst-kix_list_3-1{list-style-type:none}ol.lst-kix_list_3-2{list-style-type:none}ol.lst-kix_list_3-3{list-style-type:none}ol.lst-kix_list_3-4.start{counter-reset:lst-ctn-kix_list_3-4 0}.lst-kix_list_5-1>li{counter-increment:lst-ctn-kix_list_5-1}ol.lst-kix_list_3-4{list-style-type:none}ol.lst-kix_list_3-0{list-style-type:none}ol.lst-kix_list_11-6{list-style-type:none}ol.lst-kix_list_11-7{list-style-type:none}ol.lst-kix_list_11-8{list-style-type:none}.lst-kix_list_7-1>li{counter-increment:lst-ctn-kix_list_7-1}ol.lst-kix_list_11-2{list-style-type:none}ol.lst-kix_list_11-3{list-style-type:none}.lst-kix_list_3-0>li:before{content:"" counter(lst-ctn-kix_list_3-0,decimal) ". "}ol.lst-kix_list_11-4{list-style-type:none}ol.lst-kix_list_11-5{list-style-type:none}ol.lst-kix_list_13-1.start{counter-reset:lst-ctn-kix_list_13-1 0}ol.lst-kix_list_11-0{list-style-type:none}ol.lst-kix_list_11-1{list-style-type:none}.lst-kix_list_8-0>li{counter-increment:lst-ctn-kix_list_8-0}.lst-kix_list_10-0>li{counter-increment:lst-ctn-kix_list_10-0}.lst-kix_list_3-4>li:before{content:"(" counter(lst-ctn-kix_list_3-4,lower-roman) ") "}.lst-kix_list_3-3>li:before{content:"(" counter(lst-ctn-kix_list_3-3,lower-latin) ") "}ol.lst-kix_list_3-5{list-style-type:none}ol.lst-kix_list_3-6{list-style-type:none}.lst-kix_list_8-0>li:before{content:"Schedule " counter(lst-ctn-kix_list_8-0,decimal) " "}ol.lst-kix_list_3-7{list-style-type:none}.lst-kix_list_8-7>li:before{content:"" counter(lst-ctn-kix_list_8-7,lower-latin) ". "}.lst-kix_list_3-8>li:before{content:"\0025cf  "}ol.lst-kix_list_10-7.start{counter-reset:lst-ctn-kix_list_10-7 0}.lst-kix_list_13-1>li{counter-increment:lst-ctn-kix_list_13-1}ol.lst-kix_list_15-8.start{counter-reset:lst-ctn-kix_list_15-8 0}.lst-kix_list_8-3>li:before{content:"" counter(lst-ctn-kix_list_8-3,lower-roman) ") "}.lst-kix_list_3-7>li:before{content:" "}.lst-kix_list_8-4>li:before{content:"\0025cf  "}.lst-kix_list_10-2>li{counter-increment:lst-ctn-kix_list_10-2}.lst-kix_list_17-1>li{counter-increment:lst-ctn-kix_list_17-1}.lst-kix_list_11-1>li:before{content:"" counter(lst-ctn-kix_list_11-0,decimal) "." counter(lst-ctn-kix_list_11-1,decimal) " "}.lst-kix_list_11-0>li:before{content:"" counter(lst-ctn-kix_list_11-0,decimal) ". "}ol.lst-kix_list_9-3.start{counter-reset:lst-ctn-kix_list_9-3 0}.lst-kix_list_8-8>li:before{content:"" counter(lst-ctn-kix_list_8-8,lower-roman) ". "}ol.lst-kix_list_2-2{list-style-type:none}.lst-kix_list_16-8>li:before{content:"\0025aa  "}ol.lst-kix_list_2-3{list-style-type:none}ol.lst-kix_list_2-4{list-style-type:none}.lst-kix_list_16-7>li:before{content:"\0025aa  "}ol.lst-kix_list_7-2.start{counter-reset:lst-ctn-kix_list_7-2 0}ol.lst-kix_list_2-5{list-style-type:none}.lst-kix_list_17-8>li{counter-increment:lst-ctn-kix_list_17-8}ol.lst-kix_list_2-0{list-style-type:none}ol.lst-kix_list_2-1{list-style-type:none}.lst-kix_list_4-8>li:before{content:"\0025aa  "}ol.lst-kix_list_12-5{list-style-type:none}ol.lst-kix_list_12-6{list-style-type:none}.lst-kix_list_4-7>li:before{content:"o  "}ol.lst-kix_list_12-7{list-style-type:none}.lst-kix_list_17-0>li:before{content:"" counter(lst-ctn-kix_list_17-0,decimal) ". "}ol.lst-kix_list_12-8{list-style-type:none}ol.lst-kix_list_12-1{list-style-type:none}ol.lst-kix_list_12-2{list-style-type:none}ol.lst-kix_list_12-3{list-style-type:none}ol.lst-kix_list_12-4{list-style-type:none}ul.lst-kix_list_4-8{list-style-type:none}.lst-kix_list_16-0>li:before{content:"\0025cf  "}ul.lst-kix_list_4-6{list-style-type:none}ul.lst-kix_list_4-7{list-style-type:none}ol.lst-kix_list_12-0{list-style-type:none}ul.lst-kix_list_4-0{list-style-type:none}.lst-kix_list_16-4>li:before{content:"\0025aa  "}ul.lst-kix_list_4-1{list-style-type:none}ol.lst-kix_list_3-3.start{counter-reset:lst-ctn-kix_list_3-3 0}ol.lst-kix_list_10-8.start{counter-reset:lst-ctn-kix_list_10-8 0}.lst-kix_list_16-3>li:before{content:"\0025aa  "}ul.lst-kix_list_4-4{list-style-type:none}ul.lst-kix_list_4-5{list-style-type:none}ol.lst-kix_list_2-7{list-style-type:none}ul.lst-kix_list_4-2{list-style-type:none}ol.lst-kix_list_2-8{list-style-type:none}ul.lst-kix_list_4-3{list-style-type:none}.lst-kix_list_11-3>li{counter-increment:lst-ctn-kix_list_11-3}ol.lst-kix_list_7-1.start{counter-reset:lst-ctn-kix_list_7-1 0}.lst-kix_list_17-7>li:before{content:"" counter(lst-ctn-kix_list_17-7,lower-latin) ". "}.lst-kix_list_17-8>li:before{content:"" counter(lst-ctn-kix_list_17-8,lower-roman) ". "}.lst-kix_list_17-3>li:before{content:" "}.lst-kix_list_17-4>li:before{content:"(" counter(lst-ctn-kix_list_17-4,lower-latin) ") "}ol.lst-kix_list_8-0.start{counter-reset:lst-ctn-kix_list_8-0 0}.lst-kix_list_7-0>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) ". "}.lst-kix_list_13-8>li{counter-increment:lst-ctn-kix_list_13-8}.lst-kix_list_2-2>li{counter-increment:lst-ctn-kix_list_2-2}ol.lst-kix_list_5-0{list-style-type:none}.lst-kix_list_3-7>li{counter-increment:lst-ctn-kix_list_3-7}ol.lst-kix_list_5-1{list-style-type:none}ol.lst-kix_list_9-7.start{counter-reset:lst-ctn-kix_list_9-7 0}ol.lst-kix_list_5-2{list-style-type:none}ol.lst-kix_list_13-8{list-style-type:none}.lst-kix_list_2-4>li:before{content:"(" counter(lst-ctn-kix_list_2-4,lower-latin) ") "}.lst-kix_list_2-8>li:before{content:"" counter(lst-ctn-kix_list_2-8,upper-roman) " "}ol.lst-kix_list_13-4{list-style-type:none}ol.lst-kix_list_13-5{list-style-type:none}ol.lst-kix_list_13-6{list-style-type:none}ol.lst-kix_list_13-7{list-style-type:none}ol.lst-kix_list_13-0{list-style-type:none}ol.lst-kix_list_13-1{list-style-type:none}.lst-kix_list_6-6>li{counter-increment:lst-ctn-kix_list_6-6}ol.lst-kix_list_13-2{list-style-type:none}ol.lst-kix_list_15-7.start{counter-reset:lst-ctn-kix_list_15-7 0}.lst-kix_list_7-3>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) "." counter(lst-ctn-kix_list_7-1,decimal) "." counter(lst-ctn-kix_list_7-2,decimal) "." counter(lst-ctn-kix_list_7-3,decimal) " "}ol.lst-kix_list_13-3{list-style-type:none}.lst-kix_list_10-0>li:before{content:"" counter(lst-ctn-kix_list_10-0,decimal) ". "}.lst-kix_list_9-7>li{counter-increment:lst-ctn-kix_list_9-7}.lst-kix_list_13-6>li{counter-increment:lst-ctn-kix_list_13-6}.lst-kix_list_13-8>li:before{content:"" counter(lst-ctn-kix_list_13-8,lower-roman) ". "}ul.lst-kix_list_7-8{list-style-type:none}ol.lst-kix_list_5-7{list-style-type:none}ol.lst-kix_list_5-8{list-style-type:none}ol.lst-kix_list_5-3{list-style-type:none}.lst-kix_list_8-7>li{counter-increment:lst-ctn-kix_list_8-7}ol.lst-kix_list_5-4{list-style-type:none}ol.lst-kix_list_5-5{list-style-type:none}ol.lst-kix_list_5-6{list-style-type:none}.lst-kix_list_7-7>li:before{content:"" counter(lst-ctn-kix_list_7-7,lower-roman) ". "}ol.lst-kix_list_8-1.start{counter-reset:lst-ctn-kix_list_8-1 0}.lst-kix_list_15-4>li:before{content:"(" counter(lst-ctn-kix_list_15-4,lower-latin) ") "}.lst-kix_list_9-5>li{counter-increment:lst-ctn-kix_list_9-5}.lst-kix_list_5-8>li{counter-increment:lst-ctn-kix_list_5-8}.lst-kix_list_10-4>li:before{content:"(" counter(lst-ctn-kix_list_10-4,lower-latin) ") "}.lst-kix_list_10-8>li:before{content:"" counter(lst-ctn-kix_list_10-8,lower-roman) ". "}.lst-kix_list_4-0>li:before{content:"\0025cf  "}.lst-kix_list_15-0>li:before{content:"\0025cf  "}.lst-kix_list_15-8>li:before{content:"" counter(lst-ctn-kix_list_15-8,lower-roman) ". "}ul.lst-kix_list_15-0{list-style-type:none}.lst-kix_list_15-7>li{counter-increment:lst-ctn-kix_list_15-7}.lst-kix_list_4-4>li:before{content:"o  "}ol.lst-kix_list_2-2.start{counter-reset:lst-ctn-kix_list_2-2 0}.lst-kix_list_9-3>li:before{content:"(" counter(lst-ctn-kix_list_9-3,lower-latin) ") "}ol.lst-kix_list_7-0.start{counter-reset:lst-ctn-kix_list_7-0 0}.lst-kix_list_12-8>li{counter-increment:lst-ctn-kix_list_12-8}ol.lst-kix_list_13-2.start{counter-reset:lst-ctn-kix_list_13-2 0}.lst-kix_list_9-7>li:before{content:"" counter(lst-ctn-kix_list_9-7,upper-latin) ". "}.lst-kix_list_2-4>li{counter-increment:lst-ctn-kix_list_2-4}ol.lst-kix_list_3-6.start{counter-reset:lst-ctn-kix_list_3-6 0}.lst-kix_list_11-4>li:before{content:"(" counter(lst-ctn-kix_list_11-4,upper-latin) ") "}.lst-kix_list_15-2>li{counter-increment:lst-ctn-kix_list_15-2}.lst-kix_list_12-4>li:before{content:"" counter(lst-ctn-kix_list_12-4,lower-latin) ". "}.lst-kix_list_5-3>li{counter-increment:lst-ctn-kix_list_5-3}ul.lst-kix_list_6-8{list-style-type:none}.lst-kix_list_7-4>li{counter-increment:lst-ctn-kix_list_7-4}.lst-kix_list_1-0>li:before{content:"\0025cf  "}.lst-kix_list_11-8>li:before{content:"" counter(lst-ctn-kix_list_11-8,decimal) " "}.lst-kix_list_12-3>li{counter-increment:lst-ctn-kix_list_12-3}ol.lst-kix_list_2-0.start{counter-reset:lst-ctn-kix_list_2-0 0}.lst-kix_list_12-0>li:before{content:"Schedule " counter(lst-ctn-kix_list_12-0,decimal) ": "}.lst-kix_list_17-3>li{counter-increment:lst-ctn-kix_list_17-3}.lst-kix_list_1-4>li:before{content:"o  "}.lst-kix_list_13-0>li:before{content:"Item " counter(lst-ctn-kix_list_13-0,decimal) ". "}ol.lst-kix_list_3-5.start{counter-reset:lst-ctn-kix_list_3-5 0}ul.lst-kix_list_14-4{list-style-type:none}ul.lst-kix_list_14-3{list-style-type:none}ol.lst-kix_list_13-0.start{counter-reset:lst-ctn-kix_list_13-0 0}ul.lst-kix_list_14-2{list-style-type:none}.lst-kix_list_13-4>li:before{content:"" counter(lst-ctn-kix_list_13-4,lower-latin) ". "}ul.lst-kix_list_14-1{list-style-type:none}ul.lst-kix_list_14-0{list-style-type:none}.lst-kix_list_10-7>li{counter-increment:lst-ctn-kix_list_10-7}ul.lst-kix_list_14-8{list-style-type:none}ul.lst-kix_list_14-7{list-style-type:none}.lst-kix_list_2-0>li:before{content:"" counter(lst-ctn-kix_list_2-0,decimal) ". "}ol.lst-kix_list_2-1.start{counter-reset:lst-ctn-kix_list_2-1 0}ol.lst-kix_list_8-3.start{counter-reset:lst-ctn-kix_list_8-3 0}ul.lst-kix_list_14-6{list-style-type:none}.lst-kix_list_11-5>li{counter-increment:lst-ctn-kix_list_11-5}ul.lst-kix_list_14-5{list-style-type:none}ol.lst-kix_list_9-8.start{counter-reset:lst-ctn-kix_list_9-8 0}.lst-kix_list_1-8>li:before{content:"\0025aa  "}.lst-kix_list_12-8>li:before{content:"" counter(lst-ctn-kix_list_12-8,lower-roman) ". "}.lst-kix_list_8-2>li{counter-increment:lst-ctn-kix_list_8-2}ol.lst-kix_list_17-7.start{counter-reset:lst-ctn-kix_list_17-7 0}ul.lst-kix_list_1-0{list-style-type:none}ol.lst-kix_list_12-6.start{counter-reset:lst-ctn-kix_list_12-6 0}.lst-kix_list_8-1>li{counter-increment:lst-ctn-kix_list_8-1}ol.lst-kix_list_8-2.start{counter-reset:lst-ctn-kix_list_8-2 0}ol.lst-kix_list_3-1.start{counter-reset:lst-ctn-kix_list_3-1 0}ol.lst-kix_list_6-6.start{counter-reset:lst-ctn-kix_list_6-6 0}.lst-kix_list_7-0>li{counter-increment:lst-ctn-kix_list_7-0}.lst-kix_list_11-0>li{counter-increment:lst-ctn-kix_list_11-0}ul.lst-kix_list_1-3{list-style-type:none}ul.lst-kix_list_1-4{list-style-type:none}ul.lst-kix_list_1-1{list-style-type:none}ul.lst-kix_list_1-2{list-style-type:none}ul.lst-kix_list_1-7{list-style-type:none}ul.lst-kix_list_1-8{list-style-type:none}ul.lst-kix_list_1-5{list-style-type:none}ul.lst-kix_list_1-6{list-style-type:none}.lst-kix_list_2-3>li{counter-increment:lst-ctn-kix_list_2-3}ol.lst-kix_list_11-2.start{counter-reset:lst-ctn-kix_list_11-2 0}.lst-kix_list_5-2>li{counter-increment:lst-ctn-kix_list_5-2}.lst-kix_list_9-2>li{counter-increment:lst-ctn-kix_list_9-2}ol.lst-kix_list_8-7.start{counter-reset:lst-ctn-kix_list_8-7 0}.lst-kix_list_17-2>li{counter-increment:lst-ctn-kix_list_17-2}ol.lst-kix_list_17-2.start{counter-reset:lst-ctn-kix_list_17-2 0}.lst-kix_list_13-2>li{counter-increment:lst-ctn-kix_list_13-2}ol.lst-kix_list_15-6.start{counter-reset:lst-ctn-kix_list_15-6 0}.lst-kix_list_10-3>li{counter-increment:lst-ctn-kix_list_10-3}.lst-kix_list_12-1>li{counter-increment:lst-ctn-kix_list_12-1}ol.lst-kix_list_13-3.start{counter-reset:lst-ctn-kix_list_13-3 0}.lst-kix_list_3-0>li{counter-increment:lst-ctn-kix_list_3-0}ol.lst-kix_list_11-7.start{counter-reset:lst-ctn-kix_list_11-7 0}ol.lst-kix_list_2-4.start{counter-reset:lst-ctn-kix_list_2-4 0}.lst-kix_list_2-7>li:before{content:"" counter(lst-ctn-kix_list_2-7,upper-latin) ". "}.lst-kix_list_2-7>li{counter-increment:lst-ctn-kix_list_2-7}.lst-kix_list_2-5>li:before{content:"(" counter(lst-ctn-kix_list_2-5,lower-roman) ") "}.lst-kix_list_17-5>li{counter-increment:lst-ctn-kix_list_17-5}ol.lst-kix_list_17-0.start{counter-reset:lst-ctn-kix_list_17-0 0}ol.lst-kix_list_10-3.start{counter-reset:lst-ctn-kix_list_10-3 0}ol.lst-kix_list_9-4.start{counter-reset:lst-ctn-kix_list_9-4 0}ul.lst-kix_list_3-8{list-style-type:none}.lst-kix_list_10-1>li:before{content:" "}.lst-kix_list_17-6>li{counter-increment:lst-ctn-kix_list_17-6}.lst-kix_list_7-7>li{counter-increment:lst-ctn-kix_list_7-7}ol.lst-kix_list_15-1.start{counter-reset:lst-ctn-kix_list_15-1 0}ol.lst-kix_list_15-4.start{counter-reset:lst-ctn-kix_list_15-4 0}.lst-kix_list_10-7>li:before{content:"" counter(lst-ctn-kix_list_10-7,lower-latin) ". "}.lst-kix_list_10-5>li:before{content:" "}ol.lst-kix_list_13-5.start{counter-reset:lst-ctn-kix_list_13-5 0}.lst-kix_list_10-3>li:before{content:" "}.lst-kix_list_15-4>li{counter-increment:lst-ctn-kix_list_15-4}ol.lst-kix_list_7-3.start{counter-reset:lst-ctn-kix_list_7-3 0}ol.lst-kix_list_13-8.start{counter-reset:lst-ctn-kix_list_13-8 0}.lst-kix_list_11-7>li{counter-increment:lst-ctn-kix_list_11-7}.lst-kix_list_9-2>li:before{content:"" counter(lst-ctn-kix_list_9-0,decimal) "." counter(lst-ctn-kix_list_9-2,decimal) " "}ol.lst-kix_list_5-7.start{counter-reset:lst-ctn-kix_list_5-7 0}.lst-kix_list_12-5>li{counter-increment:lst-ctn-kix_list_12-5}.lst-kix_list_5-5>li{counter-increment:lst-ctn-kix_list_5-5}.lst-kix_list_9-0>li:before{content:"" counter(lst-ctn-kix_list_9-0,decimal) ". "}.lst-kix_list_3-4>li{counter-increment:lst-ctn-kix_list_3-4}ol.lst-kix_list_10-7{list-style-type:none}.lst-kix_list_9-6>li:before{content:"\0025cf  "}ol.lst-kix_list_10-8{list-style-type:none}ol.lst-kix_list_10-3{list-style-type:none}.lst-kix_list_9-4>li:before{content:"(" counter(lst-ctn-kix_list_9-4,lower-latin) ") "}ol.lst-kix_list_10-4{list-style-type:none}ol.lst-kix_list_10-5{list-style-type:none}.lst-kix_list_11-3>li:before{content:"" counter(lst-ctn-kix_list_11-3,lower-roman) ") "}ol.lst-kix_list_10-6{list-style-type:none}.lst-kix_list_6-3>li{counter-increment:lst-ctn-kix_list_6-3}ol.lst-kix_list_10-0{list-style-type:none}ol.lst-kix_list_10-1{list-style-type:none}ol.lst-kix_list_10-2{list-style-type:none}ol.lst-kix_list_12-1.start{counter-reset:lst-ctn-kix_list_12-1 0}.lst-kix_list_11-5>li:before{content:"(" counter(lst-ctn-kix_list_11-5,upper-roman) ") "}ol.lst-kix_list_6-1.start{counter-reset:lst-ctn-kix_list_6-1 0}.lst-kix_list_9-8>li:before{content:"" counter(lst-ctn-kix_list_9-8,upper-roman) " "}ul.lst-kix_list_2-6{list-style-type:none}.lst-kix_list_1-1>li:before{content:"o  "}.lst-kix_list_11-7>li:before{content:"" counter(lst-ctn-kix_list_11-7,decimal) " "}.lst-kix_list_1-3>li:before{content:"\0025cf  "}ol.lst-kix_list_10-5.start{counter-reset:lst-ctn-kix_list_10-5 0}.lst-kix_list_1-7>li:before{content:"o  "}ol.lst-kix_list_2-7.start{counter-reset:lst-ctn-kix_list_2-7 0}.lst-kix_list_1-5>li:before{content:"\0025aa  "}ol.lst-kix_list_9-1.start{counter-reset:lst-ctn-kix_list_9-1 0}.lst-kix_list_5-6>li{counter-increment:lst-ctn-kix_list_5-6}ol.lst-kix_list_7-5.start{counter-reset:lst-ctn-kix_list_7-5 0}.lst-kix_list_2-1>li:before{content:"" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) " "}.lst-kix_list_2-3>li:before{content:"(" counter(lst-ctn-kix_list_2-3,lower-latin) ") "}.lst-kix_list_11-8>li{counter-increment:lst-ctn-kix_list_11-8}.lst-kix_list_3-1>li{counter-increment:lst-ctn-kix_list_3-1}.lst-kix_list_9-1>li{counter-increment:lst-ctn-kix_list_9-1}ol.lst-kix_list_7-7.start{counter-reset:lst-ctn-kix_list_7-7 0}.lst-kix_list_3-1>li:before{content:"" counter(lst-ctn-kix_list_3-0,decimal) "." counter(lst-ctn-kix_list_3-1,decimal) " "}.lst-kix_list_3-2>li:before{content:"(" counter(lst-ctn-kix_list_3-2,lower-latin) ") "}.lst-kix_list_8-1>li:before{content:"Item " counter(lst-ctn-kix_list_8-1,decimal) " "}ol.lst-kix_list_17-4.start{counter-reset:lst-ctn-kix_list_17-4 0}.lst-kix_list_8-2>li:before{content:"" counter(lst-ctn-kix_list_8-2,lower-latin) ") "}.lst-kix_list_6-0>li{counter-increment:lst-ctn-kix_list_6-0}.lst-kix_list_3-5>li:before{content:" "}.lst-kix_list_12-0>li{counter-increment:lst-ctn-kix_list_12-0}ol.lst-kix_list_12-3.start{counter-reset:lst-ctn-kix_list_12-3 0}ol.lst-kix_list_11-5.start{counter-reset:lst-ctn-kix_list_11-5 0}.lst-kix_list_8-5>li:before{content:"\0025cf  "}.lst-kix_list_11-1>li{counter-increment:lst-ctn-kix_list_11-1}.lst-kix_list_8-6>li:before{content:"\0025cf  "}.lst-kix_list_2-0>li{counter-increment:lst-ctn-kix_list_2-0}.lst-kix_list_15-1>li{counter-increment:lst-ctn-kix_list_15-1}.lst-kix_list_3-6>li:before{content:"" counter(lst-ctn-kix_list_3-6,upper-roman) ". "}ol.lst-kix_list_5-0.start{counter-reset:lst-ctn-kix_list_5-0 0}.lst-kix_list_11-2>li:before{content:"(" counter(lst-ctn-kix_list_11-2,lower-latin) ") "}ol.lst-kix_list_11-6.start{counter-reset:lst-ctn-kix_list_11-6 0}ol.lst-kix_list_12-4.start{counter-reset:lst-ctn-kix_list_12-4 0}.lst-kix_list_16-6>li:before{content:"\0025aa  "}ol.lst-kix_list_10-1.start{counter-reset:lst-ctn-kix_list_10-1 0}ol.lst-kix_list_6-4.start{counter-reset:lst-ctn-kix_list_6-4 0}.lst-kix_list_17-1>li:before{content:" "}ol.lst-kix_list_5-6.start{counter-reset:lst-ctn-kix_list_5-6 0}.lst-kix_list_16-1>li:before{content:"o  "}.lst-kix_list_7-3>li{counter-increment:lst-ctn-kix_list_7-3}.lst-kix_list_16-2>li:before{content:"\0025aa  "}.lst-kix_list_16-5>li:before{content:"\0025aa  "}.lst-kix_list_15-3>li{counter-increment:lst-ctn-kix_list_15-3}.lst-kix_list_12-4>li{counter-increment:lst-ctn-kix_list_12-4}ol.lst-kix_list_11-0.start{counter-reset:lst-ctn-kix_list_11-0 0}.lst-kix_list_3-3>li{counter-increment:lst-ctn-kix_list_3-3}ol.lst-kix_list_6-3.start{counter-reset:lst-ctn-kix_list_6-3 0}ol.lst-kix_list_10-2.start{counter-reset:lst-ctn-kix_list_10-2 0}.lst-kix_list_12-7>li{counter-increment:lst-ctn-kix_list_12-7}.lst-kix_list_17-2>li:before{content:"" counter(lst-ctn-kix_list_17-0,decimal) "." counter(lst-ctn-kix_list_17-2,decimal) " "}ol.lst-kix_list_5-5.start{counter-reset:lst-ctn-kix_list_5-5 0}ol.lst-kix_list_17-3.start{counter-reset:lst-ctn-kix_list_17-3 0}.lst-kix_list_17-6>li:before{content:"" counter(lst-ctn-kix_list_17-6,decimal) ". "}.lst-kix_list_17-5>li:before{content:" "}.lst-kix_list_6-2>li{counter-increment:lst-ctn-kix_list_6-2}.lst-kix_list_2-6>li:before{content:"\0025cf  "}.lst-kix_list_7-1>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) "." counter(lst-ctn-kix_list_7-1,decimal) " "}.lst-kix_list_7-5>li:before{content:"" counter(lst-ctn-kix_list_7-0,decimal) "." counter(lst-ctn-kix_list_7-1,decimal) "." counter(lst-ctn-kix_list_7-2,decimal) "." counter(lst-ctn-kix_list_7-3,decimal) "." counter(lst-ctn-kix_list_7-4,decimal) "." counter(lst-ctn-kix_list_7-5,decimal) " "}.lst-kix_list_13-5>li{counter-increment:lst-ctn-kix_list_13-5}ol.lst-kix_list_5-4.start{counter-reset:lst-ctn-kix_list_5-4 0}ol.lst-kix_list_11-1.start{counter-reset:lst-ctn-kix_list_11-1 0}.lst-kix_list_13-6>li:before{content:"" counter(lst-ctn-kix_list_13-6,decimal) ". "}ol.lst-kix_list_5-1.start{counter-reset:lst-ctn-kix_list_5-1 0}.lst-kix_list_6-7>li{counter-increment:lst-ctn-kix_list_6-7}.lst-kix_list_10-6>li{counter-increment:lst-ctn-kix_list_10-6}.lst-kix_list_11-6>li{counter-increment:lst-ctn-kix_list_11-6}ol.lst-kix_list_10-0.start{counter-reset:lst-ctn-kix_list_10-0 0}.lst-kix_list_7-5>li{counter-increment:lst-ctn-kix_list_7-5}.lst-kix_list_15-6>li:before{content:"" counter(lst-ctn-kix_list_15-6,decimal) ". "}ol.lst-kix_list_17-8.start{counter-reset:lst-ctn-kix_list_17-8 0}.lst-kix_list_11-4>li{counter-increment:lst-ctn-kix_list_11-4}.lst-kix_list_10-2>li:before{content:"" counter(lst-ctn-kix_list_10-0,decimal) "." counter(lst-ctn-kix_list_10-2,decimal) " "}.lst-kix_list_13-7>li{counter-increment:lst-ctn-kix_list_13-7}ol.lst-kix_list_17-5.start{counter-reset:lst-ctn-kix_list_17-5 0}ol.lst-kix_list_6-5.start{counter-reset:lst-ctn-kix_list_6-5 0}.lst-kix_list_4-2>li:before{content:"\0025aa  "}.lst-kix_list_4-6>li:before{content:"\0025cf  "}.lst-kix_list_17-4>li{counter-increment:lst-ctn-kix_list_17-4}.lst-kix_list_15-2>li:before{content:"" counter(lst-ctn-kix_list_15-2,lower-roman) ") "}.lst-kix_list_10-8>li{counter-increment:lst-ctn-kix_list_10-8}.lst-kix_list_10-6>li:before{content:"" counter(lst-ctn-kix_list_10-6,decimal) ". "}.lst-kix_list_9-1>li:before{content:"" counter(lst-ctn-kix_list_9-0,decimal) "." counter(lst-ctn-kix_list_9-1,decimal) " "}ol.lst-kix_list_12-7.start{counter-reset:lst-ctn-kix_list_12-7 0}.lst-kix_list_15-8>li{counter-increment:lst-ctn-kix_list_15-8}ol.lst-kix_list_6-7.start{counter-reset:lst-ctn-kix_list_6-7 0}.lst-kix_list_12-2>li{counter-increment:lst-ctn-kix_list_12-2}.lst-kix_list_9-5>li:before{content:"(" counter(lst-ctn-kix_list_9-5,lower-roman) ") "}.lst-kix_list_12-2>li:before{content:"" counter(lst-ctn-kix_list_12-2,lower-roman) ". "}ol.lst-kix_list_12-8.start{counter-reset:lst-ctn-kix_list_12-8 0}.lst-kix_list_11-6>li:before{content:"" counter(lst-ctn-kix_list_11-6,decimal) " "}ol.lst-kix_list_11-3.start{counter-reset:lst-ctn-kix_list_11-3 0}.lst-kix_list_1-2>li:before{content:"\0025aa  "}.lst-kix_list_10-1>li{counter-increment:lst-ctn-kix_list_10-1}.lst-kix_list_8-8>li{counter-increment:lst-ctn-kix_list_8-8}ol.lst-kix_list_17-6.start{counter-reset:lst-ctn-kix_list_17-6 0}.lst-kix_list_1-6>li:before{content:"\0025cf  "}.lst-kix_list_12-6>li:before{content:"" counter(lst-ctn-kix_list_12-6,decimal) ". "}ol.lst-kix_list_11-4.start{counter-reset:lst-ctn-kix_list_11-4 0}.lst-kix_list_2-2>li:before{content:"" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) " "}.lst-kix_list_13-2>li:before{content:"" counter(lst-ctn-kix_list_13-2,lower-roman) ". "}ol.lst-kix_list_5-2.start{counter-reset:lst-ctn-kix_list_5-2 0}ol{margin:0;padding:0}table td,table th{padding:0}.c22{border-right-style:solid;padding:3.6pt 5.8pt 3.6pt 5.8pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:1pt;border-left-color:#8c2352;vertical-align:middle;border-right-color:#8c2352;border-left-width:1pt;border-top-style:solid;background-color:#8c2352;border-left-style:solid;border-bottom-width:0pt;width:104.9pt;border-top-color:#8c2352;border-bottom-style:solid}.c1{border-right-style:solid;padding:3.6pt 5.8pt 3.6pt 5.8pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:1pt;border-left-color:#000000;vertical-align:middle;border-right-color:#8c2352;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:388.5pt;border-top-color:#8c2352;border-bottom-style:solid}.c9{color:#000000;font-weight:normal;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Domine";font-style:normal}.c7{margin-left:28.4pt;padding-top:6pt;padding-bottom:3pt;line-height:1.5;orphans:2;widows:2}.c28{padding-top:0pt;padding-bottom:16.2pt;line-height:1.5;orphans:2;widows:2;text-align:right}.c19{padding-top:0pt;padding-bottom:0pt;line-height:1.5;orphans:2;widows:2;height:11pt}.c35{padding-top:0pt;padding-bottom:16.2pt;line-height:1.0;orphans:2;widows:2;text-align:left}.c12{margin-left:56.7pt;padding-top:6pt;padding-bottom:3pt;line-height:1.0;orphans:2;widows:2}.c33{margin-left:28.4pt;padding-top:6pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2}.c34{margin-left:28.4pt;padding-top:6pt;line-height:1.0;orphans:2;widows:2}.c31{padding-top:28.4pt;padding-bottom:0pt;line-height:1.5;orphans:2;widows:2}.c17{color:#ffffff;text-decoration:none;vertical-align:baseline;font-style:normal}.c32{margin-left:-5.8pt;border-spacing:0;border-collapse:collapse;margin-right:auto}.c37{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left}.c23{orphans:2;widows:2;height:11pt}.c2{font-size:10pt;font-family:"Domine";font-weight:normal}.c5{font-size:14pt;color:#8e2344;font-weight:bold}.c3{font-size:10pt;font-family:"Arial";font-weight:normal}.c0{page-break-after:avoid;orphans:2;widows:2}.c26{background-color:#ffffff;max-width:481.9pt;padding:56.7pt 56.7pt 56.7pt 56.7pt}.c30{padding-top:0pt;padding-bottom:16.2pt;line-height:1.5}.c10{padding:0;margin:0}.c15{color:inherit;text-decoration:inherit}.c8{font-size:8pt;font-weight:normal}.c14{background-color:#ff0000;color:#000000}.c20{color:#0000ff;text-decoration:underline}.c18{margin-left:56.7pt;text-indent:-28.4pt}.c6{font-weight:bold}.c13{font-size:10pt}.c11{font-size:11pt}.c4{font-family:"Arial"}.c29{color:#888888}.c36{color:#ffffff}.c16{font-style:italic}.c25{height:11pt}.c24{padding-bottom:6pt}.c21{color:#8e2344}.c27{height:17pt}.title{padding-top:12pt;color:#8e2344;font-weight:bold;font-size:16pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:18pt;color:#666666;font-size:24pt;padding-bottom:4pt;font-family:"Georgia";line-height:1.0;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Domine"}p{margin:0;color:#000000;font-size:11pt;font-family:"Domine"}h1{padding-top:12pt;color:#8e2344;font-weight:bold;font-size:14pt;padding-bottom:0pt;font-family:"Galdeano";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:12pt;color:#000000;font-weight:bold;font-size:11pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:12pt;color:#000000;font-weight:bold;font-size:11pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:6pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:3pt;color:#000000;font-size:10pt;padding-bottom:3pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:3pt;color:#000000;font-size:10pt;padding-bottom:0pt;font-family:"Domine";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}
}
