// .greyBack{
//     background: rgba(0,0,0,0.1);
// }
// .pac-container {
//     z-index: 1051 !important;
// }



.topSlider > .container{
    position:relative;
}

#bottomSlider{
    -webkit-perspective:    1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform:      translateZ(0);
    -ms-transform:      translateZ(0);
    transform:      translateZ(0);
    padding-top:            @navbar-height * 2;

    width:100%;
    height:100%;
    overflow: auto;
    position:fixed;
    // background: #363636;
    z-index: 9999;
    top:0%;
    .transition-duration(1s);

    &.inactive{
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
}


#leftSlider{
    height:100%;
    width:100%;
    overflow:auto;
    position:fixed;
    background:rgba(255,255,255,1);
    z-index:998;
    top:0;
    left:0;
    padding:30px 15px;
    .transition-duration(0.4s);
    border-right: 1px solid rgba(0,0,0,0.5);

     @media(min-width: @screen-md-min){
        box-shadow: 0 0 20px rgba(0,0,0,0.6);
        border-right: none;
        width:300px;

     }

    .close-left{
        position:absolute;
        top:15px;
        right: 15px;
        cursor: pointer;
    }

    .sessionList{
        margin:15px 0;
        .session{
            display:block;
            font-size:14px;
            margin:5px 0;
            text-align: left;
            padding-top:10px;
            padding-bottom:10px;
            font-weight: 200;
            cursor: pointer;
            &:hover{
                background: darken(@brand-primary, 10%);
            }

            .meta{
                span{
                    cursor: pointer;
                    &:hover{
                        color:#000;
                    }
                }
            }
        }
    }
}

#leftSlider.inactive{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#rightSlider{
    width:300px;
    overflow: auto;
    height:100%;
    position:fixed;
    background:#000;
    z-index:998;
    top:0;
    right:0;
    .transition-duration(0.4s);
}

#rightSlider.inactive{
    right:-100%;
}

.uiblocker{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:100;
}



#topSlider{
    width:100%;
    height:100%;
    overflow: auto;
    position:fixed;
    background:@brand-primary;
    z-index: 99999;
    top:0%;
    padding-top: @header-height;
    .transition-duration(1s);
    &.inactive{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }

    .close{
        margin:15px;
    }
}
