.calendar {
    background-color: #fff;
    color: @brand-primary;
    margin-top: 30px;

    @media (max-width: @screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
    }

    .row {
        margin: 0;

        &:first-child {
            background-color: #ebebeb;

            .col-cal {
                background: none;
                height: 100%;
                color: #9a9a9a;
                font-size: 17px;
                padding: 15px 0 12px;

                &:after {
                    display: none;
                }
            }
        }

    }


}

.col-cal{
  width: 13.4%;

  @media (max-width: @screen-xs-max) {
      width: 13.1%;
  }

  @media (max-width: 567px) {
      width: 13.24%;
  }

  /*position: relative;*/
  float:left;
  border-top: 1px #efefef solid;
  border-left: 1px #efefef solid;
  background-color: #fff;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;

  .innerCal{
    height:60px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    color: #fff;

    @media (max-width: @screen-xs-max) {
      height: 95px;
    }
  }

  &.key{
    padding-top: 10px;
    padding-right: 17px;
    color: #9a9a9a;
    font-size: 16px;
    border-left: none;

    @media (max-width: @screen-xs-max) {
      padding-right: 7px;
      font-size: 16px;
    }
    @media (max-width: 567px) {
      padding-right: 3px;
      font-size: 12px;
    }
  }

  .innerCal{

    .length-30{
      .bookButton{
        line-height: 30px;
      }
    }

    .length-45{
      .bookButton{
        line-height: 45px;
      }
    }

    /* This parent can be any width and height */
    .event {
      text-align: center;
      background: #ccc;
      color: #888 !important;
      font-size:10px;
      /* May want to do this if there is risk the container may be narrower than the element inside */
      white-space: nowrap;
      .centered {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
    }

    /* The ghost, nudged to maintain perfect centering */
    .event:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    /* The element to be centered, can also be of any width and height */


    .addAvailability{
        display:none;
        width:100%;
        height:auto;
        background: @brand-primary;
        color: @brand-secondary;
        top: 0;
        bottom: 0;
        text-align: center;
        z-index: 2;

        &.deleteEvent {
            position: absolute;
            z-index: 3;
        }
    }
    .available:hover{
      .addAvailability:not(.editAvailability){
        display:block;
      }
    }

    &.holiday{
      background: #cccccc;
      color: #888888;
      line-height: 60px;
      text-align:center;
      font-weight:bold;
    }

    .length-15{
      height:25%;
    }

    .length-30{
      height:50%;
    }

    .length-45{
      height:75%;
    }

    .length-60{
      height:100%;
    }

    .start-15 {
      top: 25%;
    }

    .start-30 {
      top: 50%;
    }

    .start-45 {
      top: 75%;
    }

  }

  &:not(.key):after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      border-top: 1px #efefef dashed;
      z-index: -1;
  }

  .start-30 ~ .addAvailability.addEvent {
      bottom: 50%;
      height: 50% !important;
  }

  .start-00.length-30 ~ .addAvailability.addEvent {
      top: 50%;
      height: 50%;
  }

  .start-00 ~ .start-30 ~ .addAvailability.addEvent,
  .booking-item ~ .addAvailability.addEvent,
  .available.location-gym:hover ~ .addAvailability.addEvent {
      display: none !important;
  }

}

.col-cal.key, .col-cal:empty {
  width: 6.2065%;

  @media (max-width: @screen-xs-max) {
      width: 8.3%;
  }
  @media (max-width: 567px) {
      width: 7.3%;
  }
}

.tick-am, .tick-pm {
    position: relative;

    &:before {
        position: absolute;
        color: #fff;
        right: 100%;
        top: 0;
        display: block;
        border-top: 1px #efefef solid;
        padding-right: 10px;
    }
}

.tick-am:before {
    content: 'am';
}

.tick-pm:before {
    content: 'pm';
}

.viewcalendar{
  .available{
    opacity: 1 !important;
  }
}

.available{
    position:relative;
    height: 100%;
    
    ~ .available {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    &:hover{
      .bookButton{
        display:block;
      }
    }

    .bookavail{
      line-height:60px;
      text-align:center;
    }

    .bookButton{
      display:none;
    }

    .bookButton, & .fullButton{
      width:100%;
      height:100%;
      line-height:60px;
      text-align:center;
      color: @brand-secondary;
      background: @brand-primary;
      position:absolute;
      top: 0;
      z-index: 1;
    }

    .hourspace{
      position: absolute;
      height:25%;
      left:0;
      width:100%;
      background:@brand-primary;
      &.viewing{
        background: #fff !important;
      }

    }

    .hourspace.hour-00{
      top:0;
    }

    .hourspace.hour-15{
      top:25%;
    }

    .hourspace.hour-30{
      top:50%;
    }

    .hourspace.hour-45{
      top:75%;
    }

    .spacesleftButton{
      width:100%;
      height:100%;
      line-height:60px;
      text-align:center;
      position:absolute;
      top: 0;
      span{
        color: @brand-secondary;
        background: @brand-primary;
        padding:5px;
        display:inline-block;
        line-height: normal;
      }
    }
  }

.bookingModal {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(255,255,255,0.4);
    z-index:99;
    opacity: 0;
    pointer-events: none;
    .transition-duration(0.2s);

    &.active{
      opacity: 1;
      pointer-events: all;
    }

    .innerModal{
      //.well;
      float:none;
      display:block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);

      .heading {
          margin-top: 0;
      }
    }


}

.whiteButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
        z-index: 1;
}

.location-key {

    h4 {
        padding-bottom: 10px;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin-bottom: 20px;

        &:before {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50%;
            font: normal normal normal 20px/42px FontAwesome;
            border-width: 3px;
            border-style: solid;
            margin-bottom: 20px;
        }
    }
}

.location-key-gym {
    h4 {
        // color: @calendar-gym-color;
        // border-bottom-color: @calendar-gym-color;
        border-bottom-color: #000;
        
        .icon-holder {
            background-color: #1e1289;
            background-image: url('/img/dumbell-invert2.png');
            background-position: center center;
            background-size: 50px 50px;
            background-repeat: no-repeat;
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50%;
            border-width: 3px;
            border-style: solid;
            margin-bottom: 20px;
        }
        
        &:before {
            display: none;
        }

        /*&:before {
            // border-color: @calendar-gym-color
            background-image: url('../img/dumbell-blue.png');
            background-repeat: no-repeat;
            background-size: 21px 14px;
            background-position: center;
        }*/
    }

    h6 {
        // color: @calendar-gym-color;
    }
}

.location-key-outdoor {
    h4 {
        // color: @calendar-outdoor-color;
        // border-bottom-color: @calendar-outdoor-color;
        border-bottom-color: #000;

        &:before {
            content: "\f1bb";
            // border-color: @calendar-outdoor-color;
            // color: @calendar-outdoor-color;
        }
    }

    h6 {
        // color: @calendar-outdoor-color;
    }
}

.location-key-mobile {
    h4 {
        // color: @calendar-mobile-color;
        // border-bottom-color: @calendar-mobile-color;
        border-bottom-color: #000;

        &:before {
            content: "\f1b9";
            // border-color: @calendar-mobile-color;
            // color: @calendar-mobile-color;
        }
    }

    h6 {
        // color: @calendar-mobile-color;
    }
}

.location-gym, .location-outdoor, .location-mobile {
    &:before {
        content: '';
        position: absolute;
        top: 5px;
        right: 5px;
        font: normal normal normal 14px/1 FontAwesome;

        @media (max-width: @screen-xs-max) {
            top: 3px;
            right: 3px;
            font-size: 13px;
        }
        @media (max-width: 567px) {
            top: 2px;
            right: 2px;
            font-size: 12px;
        }
    }
}

.location-gym {
    background-color: @calendar-gym-color;
    color: #fff;
    &:before {
        background-image: url('../img/dumbell.png');
        background-repeat: no-repeat;
        background-size: 19px 12px;
        width: 19px;
        height: 12px;

        @media (max-width: @screen-xs-max) {
            background-size: 17px 11px;
            width: 17px;
            height: 11px;
        }
        @media (max-width: 567px) {
            background-size: 15px 10px;
            width: 15px;
            height: 10px;
        }
  }
}

.location-outdoor {
  background-color: @calendar-outdoor-color;
  color: #fff;
  &:before {
      content: "\f1bb";
  }
}

.location-mobile {
  background-color: @calendar-mobile-color;
  color: #fff;
  &:before {
      content: "\f1b9";
  }
}

.booking-item {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  background: -webkit-repeating-linear-gradient(45deg, rgba(255,255,255,0.21), rgba(250,250,255,0.21) 10px, rgba(255, 255, 255, 0) 10px, rgba(255, 255, 255, 0) 20px);
  background: repeating-linear-gradient(45deg, rgba(255,255,255,0.21), rgba(250,250,255,0.21) 10px, rgba(255, 255, 255, 0) 10px, rgba(255, 255, 255, 0) 20px);
  &:hover {
      .addAvailability.editAvailability {
          display: block;
      }
  }
}

.booking-item[class*="length"]:hover ~ .available .addAvailability:not(.editAvailability) {
  display: none !important;
}

.addInner, .centered {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

    @media (max-width: @screen-xs-max) {
        font-size: 13px;
    }
}

.centered {
    padding: 0 22px;

    @media (max-width: @screen-xs-max) {
        padding: 0 10px;
        font-size: 12px;
        line-height: 1.2;
    }
    @media (max-width: 567px) {
        padding: 0 4px;
        line-height: 1.1;
    }
}

.calendar-nav {
    color: #9a9a9a;
    font-size: 16px;
    transition: color 0.3s;

    .fa {
        color: #fff;
        font-size: 30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #7b7777;
        text-align: center;
        line-height: 60px;
        vertical-align: middle;
        transition: background-color 0.3s;
    }

    &.pull-left .fa {
        margin-right: 20px;
    }

    &.pull-right .fa {
        margin-left: 20px;
    }

    &:hover .fa {
        background-color: lighten(#7b7777,15%);
    }
}

.col-cal .innerCal:hover .addEvent {
  display: block;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.events-holder {
  position: relative;
  height: 100%;
  z-index: 3;
}
