
footer{
    position:           relative;
    z-index:            @zindex-dropdown;
    bottom:             0;
    display:            block;
    width:              100%;
    background:         @brand-primary;
    padding:            @padding-large @padding-small;
    color:              @text-inverse-color;
    font-size:          @font-size-small;
    text-align:         center;

    .container {
        max-width:      @screen-lg;
        margin:         0 auto;
    }
    a {
        color:          @link-inverse-color;
        &:hover {
            color:      @link-inverse-hover-color;
        }
    }
}

.home footer {
    position: fixed;
    left: 0;
}

footer .pill {
    background-color:   @brand-white;
    display:            inline-block;
    width:              auto;
    margin:             @padding-small auto;
    padding:            @padding-xs @padding-base;
    color:              @text-color;
    text-align:         center;
    border-radius:      @border-radius-base;
    
    p {
        display:        inline-block;
        margin-right:   @padding-xs;
        line-height:    @padding-base * 2;
        vertical-align: middle;
    }
    .external-logo {
        max-width:      @padding-base * 3;
        max-height:     @padding-base * 2;
        display:        inline-block;
        line-height:    @padding-base * 2;
        vertical-align: middle;        
    }
    .external-logo + .external-logo {
        margin-left:    @padding-xs;
    }
}

footer .columns {
    @media (min-width:  @screen-md) {
        display:        inline-block;
        width:          @col-base-6;
        float:          left;
        
        .pill {
            float:          right;
            margin-right:   @padding-small;
        }
        .legals {
            text-align:     left;
            margin:         @padding-small auto @padding-small @padding-small;
        }        
    }
}

.social {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 3px @brand-secondary solid;
    line-height: 45px;
    color: @brand-secondary;
    border-radius: 50%;
    margin-right: 7px;
    margin-bottom: 10px;
    font-size: 19px;
    transition: all 0.3s;
    
    &:hover {
      background-color: @brand-secondary;
      color: @brand-primary;
    }
}