header {
    background:         @brand-primary;
    padding:            @navbar-padding-vertical @navbar-padding-horizontal;
    @media (max-height: 768px) {
        padding-bottom: 0;
    }
    position:           fixed;
    z-index:            @zindex-navbar;
    top:                0%;
    left:               0%;
    width:              100%;
    display:            block; 
    .transition-duration(0.4s);
    box-shadow:         0 0 @padding-large rgba(0,0,0,0.25); 
}

header .container {
    max-width:          @screen-lg;
    margin:             0 auto;
    min-height:         @navbar-height;
}

header .logo {
    width:              @col-base-6;
    position:           relative;
    text-align:         left;
    float:              left;
    max-height:         @navbar-height;
    
    img {
        max-height:     @navbar-height;
        display:        inline-block;
        position:       absolute;
        top:            0;
        bottom:         0;
    }
    img + img {
        margin-left: @padding-xs;
    }
    img.wordmark {
        max-height:     @navbar-height / 2;
    }    
}

header .headIcon {
    width:              @col-base-6;
    text-align:         right;
    float:              right;
    
    .btn {
        float:          right;
        & + .btn {
            margin-left: @padding-xs;
        }
    }
}

.settings-button {
    
}
.notifications-button {
    // display:            none;
    &:before {
        display:        none;
        /* Remove original bell icon; make notifications appear as part of menu hamburger */
    }
}


.hideMe{
    transform:          translateY(-100%);
    -webkit-transform:  translateY(-100%);
}

/* *************************************************************** */
     
// header#header{
//     background:@brand-primary;
//     padding:15px 0;
//     position:fixed;
//     top:0%;
//     left:0%;
//     width:100%;
//     z-index: 99999999;
//     height: @navbar-height;
//     padding:7px 15px 9px 15px;
//     .transition-duration(0.4s);
//         box-shadow: 0 0 29px rgba(0,0,0,0.6); 
//     &.hideMe{
//         transform: translateY(-100%);
//         -webkit-transform: translateY(-100%);
//     }
//     .header-icon{
//         font-size:20px;
//         color:#fff;
//         cursor: pointer;
//         .transition-duration(1s);
//         margin: 5px;
//         vertical-align: middle;
//         &.active{
//             color: @brand-secondary;
//         }

//     }
//     .iconText{
//         vertical-align: middle;
//         color: #fff;
//         font-size: 21px;
//         .transition-duration(1s);
//         cursor: pointer;
//         &.active{
//             color: @brand-secondary;
//         }
//     }
//     .headIcon{
//         margin-right:15px;

//         @media(min-width: @screen-sm-min){
//             margin-top:28px;
//         }
        
//         .btn{
//             margin:5px;
//         }
//     }
//     .logo{
//         font-size: 24px;
//         color: #fff;
//         display:block;
//         @media(min-width: @screen-xs-min){
//             transform: translateX(-50%);
//             position:absolute;
//             left:50%;
//             top: 0;
//             padding: 7px 0 9px 0;
//             height:100%;
//             display:inline-block;
//         }
        
//         img{    
//             height:100%;
//             width:auto;
//         }
//     }
// }


