.jumbotron {
    background-color: @brand-primary;
    .row:nth-of-type(1) {
        @var_chrome_height: (@navbar-height + @input-height-base + @padding-base * 2);
        min-height:         ~"calc(100vh - @{var_chrome_height})";
    }
    .row {
        padding:            @padding-base @padding-base * 2;
        position:           relative;
        vertical-align:     middle;
        text-align:         left;
        margin: 0;
        
        @media (min-width: @screen-md) {
            padding-left:   @col-base-2;
        }
    }
    
    .content-holder {
        position: absolute;
        bottom: 50%;
    }
    
    h1, h2 {
        font-family:    @font-family-sans-serif;
        @media (min-width: @screen-md) {
            font-size:          @font-size-h2 * 1.75;
            line-height:        @font-size-h2 * 1.75;
            margin-bottom:      @padding-base-vertical;
            br { 
                display:       none; 
            }
        }
    }
    
    
    .btn {
        margin: 0 @padding-xs @padding-xs 0;
    }
}

.home .jumbotron .row:nth-of-type(1) {
    @var_chrome_height: ((@navbar-height + @input-height-base + @padding-base * 2) + 174);
    min-height:         ~"calc(100vh - @{var_chrome_height})";
}