.form-group.deal-holder {
    span.btn {
        margin-top: 10px;
    }
    .deal {
        clear: both;
        textarea {
            width: 85%;
        }
        span.btn {
            float: right;
            margin-top: 5px;
        }
    }
}