// All Custom LESS/CSS Here.
// @import "variables.less";
// @import "base.less";
@import "header.less";
@import "footer.less";
@import "login.less";
@import "page.less";
// @import "buttons.less";


// Files to be deferred 
@import "type-deferred.less";
@import "jumbotron.less";
@import "background-images.less";
@import "panels.less"; 
@import "bottomSlider.less";
@import "spinners.less";
@import "notifications.less";
@import "locations.less";

@import "columns.less";
@import "singup.less";
@import "calendar-grid.less";
@import "timepicker.less";

// @import "pages/home.less";
@import "pages/signup.less";
@import "pages/profileview.less";
@import "pages/search.less";
@import "../plugins/ladda.less";

// @import "../bower_components/angular-upload/src/directives/btnUpload.less"; /* or .min.css */ 

.ng-cloak {
    display: none;
}


.container .container{
	width: 100%;
}

.whiteback{ 
	background: #fff;
}

.bodyLock{
	overflow:hidden;
}

img.fullWidth{
	width:100%;
}

.offScreen{
	position: fixed;
	top: -100%;
}

.pricing {
	.checkbox{
		margin-top: 30px;
	}
	.btn{
		margin-top: 26px;
		padding: 5px 13px;
	}
}