.notificationList{
	.notification{
		margin:15px;
		overflow:hidden;
		position:relative;
		min-height:83px;
		padding: 0;

		.notification-image{
            padding: 0 !important;
            margin-left: 15px;
            height: 130px;
            position: relative;
            background: #ccc;

			img{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
			}
		}

		.replyIcons{
			margin-top:20px;
			font-size: 22px;
			@media(min-width: @screen-sm-min){
				position: absolute;
				top:50%;
				right:0;
				transform: translateY(-50%);
				margin-top:0;
			}

			.glyphicon{
				font-size:20px;
				cursor: pointer;
			}
		}
	}
}

.notifications {
    position:               absolute;
    background:             @btn-danger-bg;
    color:                  @text-inverse-color;
    border-radius:          50%;
    padding:                0;
    font-size:              @font-size-small;
    font-weight:            bold;
    width:                  22px;
    height:                 22px;
    line-height:            22px;
    text-align:             center;
}
header .notifications {
    margin-left:            -(@navbar-height + (@padding-base / 2));
    margin-top:             @padding-base / 2;
}
