#main{
    .transition-duration(1s);
    margin-top:             (@navbar-height * 1.5 - 1);
    padding-top: 1px;
    /*min-height:             @screen-md;
    min-height:             110vh;*/
    /*background:             @brand-primary;*/
    background:             #fff;
}

/*#content {
    background:             @brand-white;
    margin:                 0 @padding-small-horizontal @padding-base-vertical @padding-small-horizontal;
    max-width:              @screen-lg;
    @media (min-width: @screen-xs) {
        margin:             0 @padding-base-horizontal @padding-base-vertical * 2 @padding-base-horizontal;
    }
    @media (min-width: @screen-lg) {
        margin:             0 auto @padding-base-vertical * 2 auto;
    }
} */

.overlay-general {
    width: 100%;
    margin:                 0 auto @padding-base-vertical auto;
    max-width:              @screen-sm;
}

#settings{
    padding-top: @header-height;
    .transition-duration(1s);
    position:           fixed;
    z-index:            @zindex-popover;
    top:                0;
    bottom:             0;
    left:               100%;
    width:              300px;
    background:         @brand-primary;
    overflow-y:         auto;


    ul{
        list-style: none;
        margin:0;
        padding:0;
        li{
            position:relative;
            a{
                color: #fff;
                padding:15px;
                border-bottom:1px solid rgba(0,0,0,0.1);
                display:block;
                position:relative;

                .glyphicon{
                    .transition-duration(0.4s);
                }

                &:hover{
                    background: rgba(0,0,0,0.1);
                    text-decoration: none;
                    .glyphicon{
                        transform: translateX(5px);
                        -webkit-transform: translateX(5px);
                    }
                }
            }
        }
    }
}

#settings {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
body.settings{
    #main{
        transform: translateX(0);
        -webkit-transform: translateX(0); // 300px
    }

    #settings{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px); // 300px
    }

    #bottomSlider{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        &.inactive{
            transform: translateX(0) translateY(100%);
            -webkit-transform: translateX(0) translateY(100%);
        }
    }

    #topSlider{
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
        &.inactive{
            transform: translateX(300px) translateY(-100%);
            -webkit-transform: translateX(300px) translateY(-100%);
        }
    }
}

.settings-button{
    -webkit-transform: rotateY(-360deg);
}

.divider {
  display: inline;
  color: @brand-secondary;
}

.heading {
    background-color: @brand-secondary;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    clear: both;
    color: @brand-primary;
    
    @media (max-width: @screen-xs-max) {
        margin-bottom: 25px;
        font-size: 25px;
    }
    
    @media (max-height: 768px) {
        margin-top: 5px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fa {
        border: 3px #000 solid;
        border-radius: 50%;
        width: 53px;
        height: 53px;
        text-align: center;
        line-height: 46px;
        font-size: 25px;
        margin-right: 25px;
  
        @media (max-width: @screen-xs-max) {
            font-size: 23px;
            width: 50px;
            height: 50px;
            line-height: 44px;
            margin-right: 15px;
        }
        
        @media (max-height: 768px) {
            line-height: 39px;
            font-size: 20px;
            width: 45px;
            height: 45px;
        }
    }
}

h3.heading {
    margin-bottom: 0;
    padding: 12px 14px;
    font-size: 25px;
  
    @media (max-width: @screen-xs-max) {
        font-size: 19px;
    }

    .fa {
        margin-right: 20px;
  
        @media (max-width: @screen-xs-max) {
            margin-right: 10px;
        }
    }

  ~ form {
    background-color: @brand-primary;
    padding: 45px 35px;
    color: #fff;
    
    @media (max-width: @screen-xs-max) {
        padding: 25px 20px;
    }
  }
}

.toggler .fa {
    color: @brand-primary;
}

.top-buffer { margin-top:40px; }

.top-buffer-sm { margin-top: 20px; }

.right-buffer-sm { margin-right: 20px; }

.bottom-buffer-sm { margin-bottom: 20px; }

.buffer-top-none {
    margin-top: 0 !important;
}

.buffer-bottom-none {
    margin-bottom: 0 !important;
}

.gutter-none {
    padding: 0;
}

.gutter-vertical {
    margin-top: @padding-base-vertical;
    margin-bottom: @padding-base-vertical;
}

.greyback{
    background: #f2f2f2;
}

.blackback {
    background-color: @brand-primary;
    color: #fff;
}

.whiteback {
    color: @brand-primary;
    background-color: #fff;
}

.bookings, .events, .events-attending {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ang-grid {width: 100%; height: 300px;}

ol.letter-list {
    list-style-type: lower-alpha;
}

ol.roman-list {
    list-style-type: lower-roman;
}

