.panel {
    .panel-title,
    .panel-body {
        padding:                    @padding-small;
        @media (min-width: @screen-xs) {
            padding:                @padding-base;
        }
    }

    .panel-title {
        background-color:           @brand-secondary;
        font-family:                @headings-font-family;
        h2,
        h3 {
            color:                      @text-color !important;
        }
    }
    .panel-body {
        background-color:           @brand-white;
        h2, h3 {
            margin-top:             15px;
            margin-bottom:          9px;
        }
    }

    h2,
    h3 {
        margin: 0;
        font-size:              @font-size-h3;
        line-height:            @font-size-h3;
    }
}
.inverse {
    .panel-body {
        background-color:           @brand-primary;
    }
}

.panel-bordered {
    border: 1px #eee solid;
    border-radius: 5px;
}

.panel-shade-hover:hover {
    background-color: lighten(@brand-primary, 65%);
}

.inverse {
    .panel-shade-hover:hover {
        background-color: lighten(@brand-primary, 10%);
    }
}

.panel-body .btn:last-child {
    margin-bottom: 5px;
}

.panel-body:after {
    content: '';
    display: table;
    clear: both;
}

.loginBox{
    max-width:                      @screen-xs;
    padding-left:                   @padding-large;
    padding-right:                  @padding-large;
    margin:                         0 auto;
    -webkit-transform:              translateY(50%);
    -ms-transform:                  translateY(50%);
    transform:                      translateY(50%);

    .btn {
        width:                      100%;
    }
}

.closeDialog {
    float: right;
    margin-right: 10px;
    position: relative;
    width: 37px;
    height: 37px;
    margin-top: 10px;
    text-indent: -99999px;

    @media (max-width: @screen-xs-max) {
      margin-top: 5px;
      margin-right: 0;
    }

    ~ form {
        clear: both;
    }

    &:before, &:after {
        content: '';
        width: 37px;
        border-bottom: 1px #000 solid;
        position: absolute;
        top: 50%;
        left: 0;
    }

    &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.toggle-view {
    display:                        block;
    margin:                         @padding-small 0;
    text-align:                     right;
}
