.signup-entry{
	position:relative;
	background: #fff;
    padding-bottom: 42px;
    margin-top: 60px;
    margin-bottom: 150px;
    
    &.inverse {
        background-color: #363636;
        color: #fff;
    }
    
    .heading {
      margin-top: 0;
      color: #363636;
    }

	.driversLicense{
		cursor:pointer;
	}
	
	
	.option{
		cursor: pointer;
		img{
			border: 10px solid rgba(0,0,0,0);
			.transition-duration(0.2s);
			cursor: pointer;
			
			&:hover{
				border: 10px solid rgba(0,0,0,0.2);
			} 
		}
		&.active img{
			border: 10px solid rgba(0,0,0,0.2); 
		}
		
		&.fade{
			opacity: 0.3 !important;
		}
	}
	
	.progress{
	    position: relative;
	  	background: #999;
	    margin: 15px 0;
	}
	
	.progress-tracker{
		position:absolute;
		top:0;
		left: 0;
		bottom:0;
		right:0;
		color:#fff;
		text-align: center;
	}
	
	.navigation{
		margin: 15px 0;
	}
	
	.slideInOut{
		top:0;
		left:0;
		width:100%;
	}
	
	.slideContainer{
		position: relative;
	}
	
	.controls{
		/*margin-bottom:30px;*/
	}
	
	.slideContainer{
		.closeDialog{
			display:none !important;
		}
	}
	 
}

.driversLicense{
	position:relative;
    border: 2px #848484 dashed;
    margin-bottom: 10px;
    padding: 13px;
    
	.spinner{
		background: rgba(0,0,0,0.4);
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		margin:0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
		
		.spinme{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -30px 0 0 -30px;
			display: block;
		}
	}
}

// .ng-invalid{
// 		border: 1px solid red;
// 	}
	
// 	.ng-valid{
// 		border: 1px solid green;
// 	}
	
	form.ng-invalid{border: 0px solid rgba(0,0,0,0); }
	form.ng-valid{border: 0px solid rgba(0,0,0,0); }
	
.steps {
    .heading {
        background: none;
        color: #fff;
        padding: 10px 0 20px;
        
        .fa {
            display: none;
        }
        
        strong {
            font-weight: normal;
        }
    }
}

.selectLocationMeta {
    .input-group {
        position: relative;
        
        .glyphicon-trash {
          position: absolute;
          color: #000;
          top: 50%;
          right: 10px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
    }
}

.pricing .input-group {
    position: relative;
  
    .input-group-addon {
        position: absolute;
        color: #333;
        top: 0;
        font-size: 15px;
        left: 7px;
        margin: 15px 0;
    }
}