.spinner.square {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.spinme{
   animation: sk-rotateplane 1s infinite linear;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(220px) rotateY(0deg);
  } 25% {
    transform: perspective(220px) rotateY(22deg);
  } 75%{
    transform: perspective(220px) rotateY(157deg);
  }100% {
    transform: perspective(220px) rotateY(179deg);
  }
}
