// @font-face {
//     font-family: 'open_sanslight';
//     src: url('../fonts/opensans-light-webfont.eot');
//     src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/opensans-light-webfont.woff') format('woff'),
//          url('../fonts/opensans-light-webfont.ttf') format('truetype'),
//          url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.recessive {
    font-size:      @font-size-small;
    color:          lighten(@text-color, 25%);
}