<div ng-controller="mustaterms">
	<form name="myForm">
		<h3>Our Terms & Conditions</h3>
		<h4>Between You and Musta</h4>

		<div class="row">
			<iframe class="" style="height:400px;overflow:auto;background-color:#fff; width:100%;" src="/tandc/TermsOfService.html">
			</iframe>
		</div>
		
		<h3>Training Agreement</h3>
        <h4>Between You and the Trainer</h4>
		
		<div class="row">
			<iframe class="" style="height:400px;overflow:auto; width:100%;" src="/tandc/TrainingAgreement.html">
			</iframe>
		</div>
		<div class="row text-center">
			<div id="captcha" style="margin: 15px auto;width:304px;"></div>
		</div>
		<div class="row text-center">
			<div class="checkbox">
				<label>
					 <input type="checkbox" ng-model="data.acceptterms" required>
					 I accept the above terms and conditions and training agreement
				</label>
			 </div>
		</div>
	</form>
</div>
<div ng-include="controls"></div>
<script>
	 grecaptcha.render('captcha', {
		'sitekey' : '6LfuPCETAAAAAJ4ry9riP3HbpVFFPmUASMSpgnoy'
	  });
</script>