<div ng-controller="parq" class="container blackback parq-container">
    <h2 class="heading row buffer-top-none"><div class="container"><i class="fa fa-calendar" aria-hidden="true"></i>Physical Activity Readiness Questionnaire (ParQ) and Goals <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></div></h2>
    <form name="myForm" ng-submit="saveParq(data)">
        <div class="disclaimer" ng-if="!trainer_access">Your Trainer will be able to see your answers</div>
        <fieldset ng-disabled="trainer_access" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Health Questions</h3>
                    <h4>Do you suffer from:</h4>
                    <div class="row">
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.heart_condition" /> Heart Condition</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.heart_disease" /> Family History of heart disease or stroke</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.arthritis" /> Arthritis</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.asthma" /> Asthma</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.diabetes" /> Diabetes</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.epilepsy" /> Epilepsy</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.condition.blood_pressure" /> High/Low blood pressure</label> </div>
                    </div>
                    <h4>Do you experience / Have you experienced:</h4>
                    <div class="row">
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.chest_pain" /> Pain / tightness in the chest</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.heart_disease" /> Heart palpitations</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.arthritis" /> Any major injuries</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.asthma" /> Rheumatic fever</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.diabetes" /> Liver/Kidney conditions</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.epilepsy" /> Regular headaches</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.blood_pressure" /> Have you been hospitalized lately?</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.infections" /> Any infections or infectious diseases</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.muscle_pains" /> Muscular pain or cramps</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.hernia" /> Hernia</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.back_pain" /> Back pain</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.chronic_cough" /> Chronic cough</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.high_cholesterol" /> High cholesterol</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.experienced.join_aches" /> Joint aches and pains</label> </div>
                    </div>
                    <h4>Misc:</h4>
                    <div class="row">
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.misc.pregnant" /> Are you pregnant?</label> </div>
                        <div class="col-sm-4"><label><input type="checkbox" ng-model="data.misc.any_other" /> Any conditions that may limit your activity level</label> </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>If Yes to any of the above, please provide further explanation:</label>
                                <textarea class="form-control" ng-model="data.health_text"></textarea>
                            </div>
                        </div>
                    </div>
                    <h3>Results Wanted</h3>
                    <div class="row">
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.endurance_stamina" /> Increase endurance/stamina</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.flexibility" /> Flexibility</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.speed" /> Speed</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.power" /> Power</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.increase_energy" /> Increase energy</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.reduce_stress" /> Reduce Stress</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.toning" /> Re-shaping/toning</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.injury_rehab" /> Injury rehabilitation</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.weight_loss" /> Weight loss</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.weight_gain" /> Weight gain</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.increase_muscle" /> Increase muscle mass</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.reduce_blood_pressure" /> Reduce blood pressure</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.improve_balance" /> Improve balance</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.sport_aid" /> Sport aid</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.back_problem" /> Alleviate back problem</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.reduce_cholesterol" /> Reduce cholesterol</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.reduce_fat" /> Reduce body fat</label> </div>
                        <div class="col-sm-3"><label><input type="checkbox" ng-model="data.result.health_improvement" /> Health improvement</label> </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group"><label>Have you exercised previously? <input type="checkbox" ng-model="data.previous_exercise" /></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>If Yes, what type?</label>
                                <textarea class="form-control" ng-model="data.previous_exercise_text"></textarea>
                            </div>
                        </div>
                    </div>
                    <h4>Short Term Goals</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>1 Month:</label>
                                <textarea class="form-control" ng-model="data.onem_goal"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>3 Month:</label>
                                <textarea class="form-control" ng-model="data.threem_goal"></textarea>
                            </div>
                        </div>
                    </div>
                    <h4>Long Term Goals</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea class="form-control" ng-model="data.lt_goal"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ladda-button pull-right" id="submit" data-style="expand-left" style="margin-right: 4px;">Save</button>
            </div>
        </fieldset>
    </form>

</div>
