<div ng-controller="personalProfile" class="container">
	<form name="myForm">
		<h3>Personal Details</h3>
		<div class="row">
			<div class="col-xs-4">
				<div class="col-xs-12">
					<label class="driversLicense">
						<img ng-src="{{data.clientpic.url + '.' + data.clientpic.ext}}" class="img-responsive img-round" />
						<div class="spinner square" ng-show="data.clientpic.loading"><img class="spinme" src="/img/spinner.png" /></div>
						<div
							class="btn btn-primary btn-upload offScreen"
							upload-button
							url="/signup/tempImage/clientpic"
							on-success="addedImg(response, 'clientpic')"
							on-upload="data.clientpic.loading = true;"
							on-complete="data.clientpic.loading = false;"
						  >Upload</div>
					</label>
                    <small>Add your photo - optional</small>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group"><input class="form-control" type="text" id="firstName" ng-model="data.firstName" required placeholder="First Name" /></div>
					</div>
					<div class="col-xs-6">
						<div class="form-group"><input class="form-control" type="text" id="lastName" ng-model="data.lastName" required placeholder="Last Name" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group"><input class="form-control" type="text" id="add1" ng-model="data.add1" required placeholder="Address 1" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group"><input class="form-control" type="text" id="add2" ng-model="data.add2" placeholder="Address 2" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group"><input class="form-control" type="text" id="suburb" ng-model="data.suburb" required placeholder="Suburb" /></div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<select id="state" class="form-control" ng-model="data.state" required>
								<option value="">State</option>
								<option value="qld">QLD</option>
								<option value="nsw">NSW</option>
								<option value="nt">NT</option>
								<option value="sa">SA</option>
								<option value="wa">WA</option>
								<option value="act">ACT</option>
								<option value="vic">VIC</option>
								<option value="tas">TAS</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<select id="state" class="form-control" ng-model="data.country" required>
								<option value="">Country</option>
								<option value="AU">Australia</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group"><input class="form-control" type="text" id="phone" ng-model="data.phone"  required placeholder="Phone" /></div>
					</div>
					<div class="col-xs-6">
						<div class="form-group"><input type="email" class="form-control" type="text" id="email" ng-model="data.email" required placeholder="Email"  /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group"><input type="password" class="form-control" type="text" id="password"  ng-model="data.password" required placeholder="Password" /></div>
					</div>
					<div class="col-xs-6">
						<div class="form-group"><input type="password" class="form-control" type="text" id="passwordconfirm" ng-model="data.passwordConfirm" required placeholder="Confirm Password" /></div>
					</div>
					<div class="col-xs-6">
						<div class="form-group"><label>Date of birth</label><input type="date" class="form-control"  id="dob" ng-model="data.dob" required placeholer="D.O.B"  /></div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Gender</label>
							<select class="form-control"  id="gender" ng-model="data.gender" required>
								<option value="">Select Gender</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
				</div>
		</div>
	</form>
	
</div>

<div ng-include="controls"></div>