<!--<li><a href="/admin/"><span class="glyphicon glyphicon-dashboard"></span> &nbsp; Dashboard</a></li>-->
<!--<li><a href="/admin/approvals/"><span class="glyphicon glyphicon-check"></span> &nbsp; Approvals</a></li>-->
<li><a href="/admin/reports/"><span class="glyphicon glyphicon-stats"></span> &nbsp; Reports</a></li>
<li><a href="/admin/users/"><span class="glyphicon glyphicon-user"></span> &nbsp; Users</a></li>
<li><a href="" ng-click="logout()">Logout</a></li>