<li><a ng-click="parq(user.id);"><span class="glyphicon glyphicon-heart"></span> &nbsp; Physical Activity <br />Readiness Questionnaire</a></li>
<li><a href="/search/" ng-click=""><span class="glyphicon glyphicon-search"></span> &nbsp; Search</a></li>
<li><a href="/favourites/" ng-click=""><span class="fa fa-star"></span> &nbsp; Favourites</a></li>
<li><a href="/booking/mybookings/" ng-click=""><span class="glyphicon "></span> &nbsp; My Bookings</a></li>
<li><a href="" ng-click="logout()">Logout</a></li>