<li><a href="" ng-click="profilePage()" ng-click="page.leftSlider.display = false;"><span class="glyphicon glyphicon-user"></span> &nbsp; Profile</a></li>
<li><a href="" ng-click="accountPage()" ng-click="page.leftSlider.display = false;"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Account</a></li>
<li><a href="" ng-click="locationsPage()"><span class="glyphicon glyphicon-map-marker"></span> &nbsp; Locations</a></li>
<li><a href="" ng-click="tandc()"><span class="glyphicon glyphicon-map-marker"></span> &nbsp; My T&C's</a></li>
<li><a href="" ng-click="bank_details()"><span class="glyphicon glyphicon-map-marker"></span> &nbsp; Bank Details</a></li>
<li><a href="/payments/"><span class="glyphicon glyphicon-usd"></span> &nbsp; Payments</a></li>
<li><a href="/booking/mybookings/" ng-click=""><span class="glyphicon glyphicon-log-in "></span> &nbsp; My Bookings</a></li>
<li><a href="/trainer/"><span class="glyphicon glyphicon-calendar"></span> &nbsp; Calendar</a></li>
<li><a href="/contact/"><span class="glyphicon glyphicon-envelope"></span> &nbsp; Contact Musta Admin</a></li>
<li><a href="/trainer-help/"><span class="glyphicon glyphicon-question-sign"></span> &nbsp; Trainer Help</a></li>
<li><a href="" ng-click="logout()">Logout</a></li>