<div ng-controller="bankdetails" class="col-xs-12">
	<form name="myForm" ng-submit="saveBank()">
		<h3>Bank Details</h3>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="bsb">BSB</label>
					<input class="form-control" type="number" id="bsb" ng-model="data.bsb" string-to-number required pattern=".{6,6}" required title="Must be 6 numbers"  />
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="acc">Account Number</label>
					<input class="form-control" type="number" id="acc" string-to-number ng-model="data.acc" required />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="name">Account Name</label>
					<input class="form-control" type="text" id="name" ng-model="data.accname" required />
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="postcode">Postcode</label>
					<input class="form-control" type="number" string-to-number id="postcode" ng-model="data.postcode" required  />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="address1">Address 1</label>
					<input class="form-control" type="text" id="address1" ng-model="data.address1" required />
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="address2">Address 2</label>
					<input class="form-control" type="text" id="address2" ng-model="data.address2"  />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="suburb">Suburb</label>
					<input class="form-control" type="text" id="suburb" ng-model="data.suburb" required  />
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group"><label for="state">State</label>
					<select id="state" class="form-control" ng-model="data.state" required>
						<option value="">Select One</option>
						<option value="qld">QLD</option>
						<option value="nsw">NSW</option>
						<option value="nt">NT</option>
						<option value="sa">SA</option>
						<option value="wa">WA</option>
						<option value="act">ACT</option>
						<option value="vic">VIC</option>
						<option value="tas">TAS</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="row text-center">
			<div class="checkbox">
				<label>
					 <input type="checkbox" value="" ng-model="data.acceptaud" required>
					 I accept all payments are made in AUD
				</label>
			 </div>
		</div>
		<button class="pull-right btn btn-primary" ng-if="user.id">Save</button>
	</form>
</div>

<div ng-include="controls"></div>