<div class="blackback">
    <div class="container">
        <div class="trainers">
            <div ng-repeat="trainer in search.trainers"  class="trainer-container whiteback">
                <div class="trainer user-result" id="{{'user-' + trainer.trainer_id}}">
                    <div class="trainer-img" style="background-image: url(/users/viewUserImage/{{trainer.profile_pic}});"></div>

                    <div class="trainer-description">
                        <h2>{{trainer.first_name}}</h2>
                        <h3>{{trainer.short_desc}}</h3>

                        <!--<p>{{trainer.long_desc}}</p>-->

                        <div class="specialities-holder" ng-if="trainer.specialities">
                            <h4>Specialities</h4>
                            <span ng-repeat="spec in trainer.specialities">{{spec}}{{$last ? "" : ", "}}</span>
                            <br/><br/>
                        </div>

                        <a href="/user/{{trainer.trainer_id}}/" class="btn btn-primary btn-lg">View Profile</a><br /><br />

                    </div>

                    <div class="trainer-favourites">
                        <button class="favourite-add" ng-show="!amIFave(trainer.trainer_id)" ng-click="updateFave(trainer.trainer_id, 1)"><i class="fa fa-star-o" aria-hidden="true"></i></button>
                        <button class="favourite-remove" ng-show="amIFave(trainer.trainer_id)" ng-click="updateFave(trainer.trainer_id, 0)"><i class="fa fa-star" aria-hidden="true"></i></button>
                    </div>
                </div>

                <h2 class=" heading locations-dropdown">
                    <div class="container"><i class="fa fa-clock-o" aria-hidden="true"></i><strong>Locations and Prices</strong> <a class="toggler toggler-user-{{trainer.trainer_id}} pull-right"><i class="fa fa-angle-down" aria-hidden="true" ng-click="toggleLocationShow(trainer.trainer_id);"></i></a></div>
                </h2>

                <div class="locationList locations-user-{{trainer.trainer_id}} container" style="display: none;">
                    <div class="row">
                        <div class="location-key location-key-{{loc.Location.type}} col-xs-12 col-sm-4" style="color: {{loc.Location.color}};" ng-repeat="loc in trainer.locations">
                            <h4 class=""><span class="icon-holder" style="background-color: {{loc.Location.color}};"></span>{{loc.Location.type}}</h4>

                            <!--<div class="" style="background-color: {{loc.Location.color}}"><span class="visible-xs">{{loc.Location.type}}</span> &nbsp;</div>-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h5>{{loc.Location.name}}</h5>
                                    <div ng-repeat="a in loc.Addresses">{{a.address}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <h6 ng-repeat="(key, a) in loc.BcPricing">${{ a.price }} - {{a.name }}</h6>
                                    <h6 ng-repeat="(key, a) in loc.PtPricing">${{ a.price }} - {{ (a.session_length > 0) ? a.session_length + ' min session' : 'first Session' }}</h6>
                                    <h6 ng-repeat="(key, a) in loc.PtPricing | filter: {sgt: true}">${{ a.sgt_fee }} - {{ (a.session_length > 0) ? a.session_length + ' min session' : 'first Session' }} Fit With Friends</h6>
                                </div>
                                <div class="col-xs-12" ng-if="loc.Deals.length">
                                    <h5>Deals</h5>
                                    <div class="deals-container" ng-repeat="deal in loc.Deals">{{deal.deal_text}}<hr/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>