<div ng-controller="profileEdit" class="container overlay-general overlay-profile" >

	<div class="panel panel-profile-edit inverse">
		<div class="panel-naked text-inverse">
			<span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
		</div>

		<div class="panel-title">
			<h3 class="musta" ng-if="!user.id">Profile creation</h3>
			<h3 class="musta" ng-if="user.id">Profile edit</h3>
		</div>

		<div class="panel-body">
			<form name="myForm">
				<div class="col-xs-12 col-sm-3 column">
					<div class="form-group">
						<label class="driversLicense">
							<img ng-src="{{ (data.profile_pic) ? '/users/viewUserImage/' + data.profile_pic : data.pic.url + '.' + data.pic.ext}}" class="user-avatar user-avatar-large" />
							<div class="spinner square" ng-show=" data.pic.loading"><img class="spinme" src="/img/spinner.png" /></div>
								<div
									class="btn btn-upload offScreen"
									upload-button
									url="/signup/tempImage/licenceFront"
									on-success="addedImg(response, 'pic')"
									on-upload="data.pic.loading = true;"
									on-complete=" data.pic.loading = false;"
								  >Upload
								</div>
						</label>
					</div>
				</div>

				<div class="col-xs-12 col-sm-9 column">
					<div ng-if="user.id">
						<div class="form-group">
							<h3>Your profile link</h3>
							<input class="form-control" value="https://musta.global/user/{{user.id}}/" disabled />
							<p class="recessive">Share this link on websites, Facebook, Instagram, etc.</p>
						</div>
					</div>

					<div class="form-group">
						<h3>Your profile</h3>
						<div class="form-group">
							<label for="shortdesc">Tagline</label>
							<textarea class="form-control" id="shortdesc" rows="1" maxlength="150" ng-model="data.short_desc" required></textarea>
							<p class="recessive">This is your personal tagline. It is shown on your public profile and in search results.</p>
						</div>
						 <div class="form-group">
							<label for="longdesc">About you</label>
							<textarea class="form-control" id="longdesc" rows="10" maxlength="5000" ng-model="data.long_desc"></textarea>
							<p class="recessive">Talk about what you can offer your clients (including your experience). It is shown on your public profile.</p>
						</div>
					</div>

					<div class="form-group">
						<h3>Other info</h3>
						<div class="form-list">
							<div class="checkbox">
								<label><input type="checkbox" value="" ng-model="data.firstaid" ng-true-value="'1'" >First Aid Trained</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" ng-model="data.cpr" ng-true-value="'1'">CPR Trained</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" ng-model="data.insurance" ng-true-value="'1'">Insurance</label>
							</div>
						</div>
					</div>

					<div class="form-group multi-add">
						<h3>Qualifications <span class="normal-text"></span></h3>
						<div class="row " ng-repeat="qualification in data.qualifications track by $index">
							<div class="multi-add-1"><input class="form-control" placeholder="Institute" ng-model="qualification.institute" /></div>
							<div class="multi-add-2"><input class="form-control" placeholder="Qualification Achieved" ng-model="qualification.qualification" /></div>
							<div class="multi-add-icon btn-icon">
									<span
										class="glyphicon"
										ng-class="{'glyphicon-plus': $last && data.qualifications.length < 6, 'glyphicon-minus': !($last && data.qualifications.length < 6)}"
										ng-click="($last && data.qualifications.length < 6) ? data.qualifications.push({}) : data.qualifications.splice($index, 1)"
									></span>
							</div>
						</div>
					</div>

					<div class="form-group">
							<h3>Specialities (choose up to 8)</h3>
							<div class="form-list">
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" value="" ng-model="data.speciality.WeightLoss" ng-disabled="countSpeciality() >= 8 && !data.speciality.WeightLoss">Weight Loss</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.StrengthTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.StrengthTraining">Strength Training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.BodyToning" ng-disabled="countSpeciality() >= 8 && !data.speciality.BodyToning">Body Toning</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.CoreAndBalance" ng-disabled="countSpeciality() >= 8 && !data.speciality.CoreAndBalance">Core and Balance</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.MuscleGain" ng-disabled="countSpeciality() >= 8 && !data.speciality.MuscleGain">Muscle Gain</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.FlexibilityAndMobility" ng-disabled="countSpeciality() >= 8 && !data.speciality.FlexibilityAndMobility">Flexibility and Mobility</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.CardiovascularConditioning" ng-disabled="countSpeciality() >= 8 && !data.speciality.CardiovascularConditioning">Cardiovascular Conditioning</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Boxing" ng-disabled="countSpeciality() >= 8 && !data.speciality.Boxing">Boxing</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Pilates" ng-disabled="countSpeciality() >= 8 && !data.speciality.Pilates">Pilates</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Yoga" ng-disabled="countSpeciality() >= 8 && !data.speciality.Yoga">Yoga</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Posture" ng-disabled="countSpeciality() >= 8 && !data.speciality.Posture">Posture</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.CrossTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.CrossTraining">Cross Training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.RunningTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.RunningTraining">Running Training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Crossfit" ng-disabled="countSpeciality() >= 8 && !data.speciality.Crossfit">CrossFit</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Kettlebells" ng-disabled="countSpeciality() >= 8 && !data.speciality.Kettlebells">Kettlebells</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Trx" ng-disabled="countSpeciality() >= 8 && !data.speciality.Trx">TRX</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.SportsPerformanceTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.SportsPerformanceTraining">Sports Performance Training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.InjuryRehab" ng-disabled="countSpeciality() >= 8 && !data.speciality.InjuryRehab">Injury Rehab</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.FunctionalTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.FunctionalMovement">Functional Movement</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.PreOrPostnatal" ng-disabled="countSpeciality() >= 8 && !data.speciality.PreOrPostnatal">Pre-natal/Post-natal</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Massage" ng-disabled="countSpeciality() >= 8 && !data.speciality.Massage">Massage</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.ProgramDesign" ng-disabled="countSpeciality() >= 8 && !data.speciality.ProgramDesign">Program Design</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.FemaleSelfDefence" ng-disabled="countSpeciality() >= 8 && !data.speciality.FemaleSelfDefence">Female Self Defence</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Mma" ng-disabled="countSpeciality() >= 8 && !data.speciality.Mma">MMA</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.TriathalonTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.TriathalonTraining">Triathlon Training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Swimming" ng-disabled="countSpeciality() >= 8 && !data.speciality.Swimming">Swimming</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.OlympicLifting" ng-disabled="countSpeciality() >= 8 && !data.speciality.OlympicLifting">Olympic lifting</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.PowerLifting" ng-disabled="countSpeciality() >= 8 && !data.speciality.PowerLifting">Power lifting</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.CircuitTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.CircuitTraining">Circuit training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Holistic" ng-disabled="countSpeciality() >= 8 && !data.speciality.Holistic">Holistic</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.PreComp" ng-disabled="countSpeciality() >= 8 && !data.speciality.PreComp">Pre Comp</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.CorporateGroupFitness" ng-disabled="countSpeciality() >= 8 && !data.speciality.CorporateGroupFitness">Corporate Group Fitness</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.RemedialMassage" ng-disabled="countSpeciality() >= 8 && !data.speciality.RemedialMassage">Remedial Massage</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.TriggerPoint" ng-disabled="countSpeciality() >= 8 && !data.speciality.TriggerPoint">Trigger Point</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.AthleticDevelopment" ng-disabled="countSpeciality() >= 8 && !data.speciality.AthleticDevelopment">Athletic Development</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.HIIT" ng-disabled="countSpeciality() >= 8 && !data.speciality.HIIT">HIIT</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.VIPR" ng-disabled="countSpeciality() >= 8 && !data.speciality.VIPR">VIPR</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Nutrition" ng-disabled="countSpeciality() >= 8 && !data.speciality.Nutrition">Nutrition</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.Barre" ng-disabled="countSpeciality() >= 8 && !data.speciality.Barre">Barre</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.SeniorFitnessTraining" ng-disabled="countSpeciality() >= 8 && !data.speciality.SeniorFitnessTraining">Senior Fitness Training</label>
								</div>
								<div class="checkbox col-xs-12 col-sm-4">
									<label><input type="checkbox" ng-model="data.speciality.MyofascialRelease" ng-disabled="countSpeciality() >= 8 && !data.speciality.MyofascialRelease">Myofascial Release</label>
								</div>
							</div>
						</div>
					</div>
			</form>
			<button class="btn" ng-click="saveProfile()" ng-if="user.id">Save profile</button>
		</div>

</div>

<div ng-include="controls"></div>
</div>