<div ng-controller="bankdetails" class="container blackback parq-container">
    <h2 class="heading row buffer-top-none"><div class="container"><i class="fa fa-calendar" aria-hidden="true"></i>Bank Details<span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></div></h2>
    <form name="myForm" action="{{salesforceFormAction}}" method="get">
        <div class="row">
            <div class="col-xs-12">
                <h3>Bank Details</h3>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="bsb">BSB (no spaces or dashes)</label>
                            <input class="form-control" name="00N6F00000EPKyu" type="number" id="bsb" string-to-number required pattern=".{6,6}" required title="Must be 6 numbers"  />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="acc">Account Number (no spaces or dashes)</label>
                            <input class="form-control" name="00N6F00000EPKyp" type="number" id="acc" string-to-number required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Account Name</label>
                            <input class="form-control" name="00N6F00000EPKyz" type="text" id="name" required />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="postcode">Address (The bank address required to be entered is the bank account holder's mailing address)</label>
                            <input class="form-control" name="00N6F00000EPKyk" type="text" id="postcode" required  />
                        </div>
                    </div>
                </div>

                <input type="hidden" name="oid" value="00D90000000wCtZ" />

                <input type="hidden" name="first_name" value="{{cur_user.User.first_name}}" />
                <input type="hidden" name="last_name" value="{{cur_user.User.second_name}}" />
                <input type="hidden" name="email" value="{{cur_user.User.email}}" />
                <input type="hidden" name="phone" value="{{cur_user.User.phone}}" />
                <input type="hidden" name="street" value="{{cur_user.User.address1}}" />
                <input type="hidden" name="city" value="{{cur_user.User.suburb}}" />
                <input type="hidden" name="state" value="{{cur_user.User.state}}" />
                <input type="hidden" name="zip" value="{{cur_user.User.postcode}}" />
                <input type="hidden" name="company" value="{{cur_user.User.businessname}}" />

                <input type="hidden" name="00N9000000BPBYG" value="{{cur_user.User.abn}}" /> <!-- ABN -->
                <input type="hidden" name="00N9000000BP4f8" value="" /> <!-- Additional Notes -->
                <button class="pull-right btn btn-primary" ng-if="user.id">Save</button>
            </div>
        </div>
    </form>
</div>