<div class="container" ng-controller="profile" data-ng-init="addMapShow()">
	<div class="loginBox wide">
		<div class="well slide2">
			<span ng-click="goBack();" class="glyphicon glyphicon-share-alt reverse closeDialog"></span>
				<div class="row">
					<div class="col-xs-3"><img ng-src="{{ getInfo('profile_pic') }}" class="profilePic img-responsive" /></div>
					<div class="col-xs-9"><h3>{{profile.view.User.first_name}} {{profile.view.User.second_name}}</h3></div>
				</div>
				<div class="row">
					<button class="btn btn-primary" ng-click="">View Full Calendar</button>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="long_description" style="margin: 15px 0;">
							<p>{{ getInfo('info_long') }}</p>
						</div>
						<table class="upcoming_events table">
							<tr>
								<td>Date</td>
								<td>Time</td>
								<td>Name</td>
								<td>Location</td>
							</tr>
							<tr ng-repeat="event in profile.view.Combinedslots">
								<td>{{event.date}}</td>
								<td>{{event.time_start.slice(0,5)}}</td>
								<td>{{event.name}}</td>
								<td>{{event.location}}</td>
							</tr>
						</div>
					</div>					
				</div>
		</div>
	</div>
</div>