<div  ng-controller="calendar" style="position:relative;" class="clearfix">

  <h3 class="heading" ng-if="!viewUser">
    <div class="container">
      <i class="fa fa-calendar" aria-hidden="true"/>
      <strong>Create</strong> your schedule</div>
  </h3>
  <h3 class="heading" ng-if="viewUser">
    <div class="container">
      <i class="fa fa-calendar" aria-hidden="true"/>
      <strong>View</strong> Availability</div>
  </h3>

  <div class="blackback">
    <div class="container">
      <div class="row top-buffer">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h1>
		            Week {{ currentWeek }}, {{days.Monday.dateObj.getMonth() | monthConvert }} {{days.Monday.dateObj.getFullYear()  }}
          </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 text-right" ng-show="!viewUser">

          <!--<a class="btn btn-primary btn-sm right-margin" href="/payments/" ng-disabled="deleteMode || editMode">
	                        <span class="glyphicon glyphicon-usd"></span>
	                        Payments
	                    </a>-->
          <!--<a class="btn btn-primary" ng-click="copyTime();">
	                        <span class="glyphicon glyphicon-copy"></span>
	                        Copy Week
	                    </a>
	                    <a class="btn btn-primary" ng-click="pasteTime();" ng-disabled="!copyInfo">
	                        <span class="glyphicon glyphicon-copy"></span>
	                        Paste Week
	                    </a>-->
          <a class="btn btn-primary btn-sm right-margin" ng-click="showRule(false);">
            <span class="glyphicon glyphicon-copy"/>
	                        Add Availability
          </a>


          <button class="btn dropdown-toggle btn-sm right-margin" type="button" id="dropdownMenu1" ng-click="editEvent(false);" ng-class="{'btn-secondary': eventMode, 'btn-primary': !eventMode}">
            <span class="glyphicon glyphicon-plus"/> Add Event 
          </button>

            <button ng-click="resetWeek()" class="btn btn-primary btn-sm right-margin" ng-hide="copyMode" style="margin-right: 4px;">Go to current week</button>
            <!--<span ng-hide="deleteMode || editMode || eventMode">
                <button ng-click="copyConfirm()" class="btn btn-primary col-sm-2 col-sm-push-4" ng-show="copyMode">Copy</button>
                <button ng-click="copyCancel()" class="btn btn-primary col-sm-2 col-xs-sm-4" ng-show="copyMode">Cancel</button>
            </span>
            <span ng-show="deleteMode || editMode || eventMode">
                <button class="btn btn-primary btn-sm right-margin"  ng-click="iAmDone();" style="margin-right: 4px;" >Done</button>
            </span>-->
            <!--<button class="btn btn-sm" ng-click="deleteMode = true; editMode = false; eventMode = false;" ng-class="{'btn-secondary': deleteMode, 'btn-primary': !deleteMode}"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-class="{'btn-secondary': editMode, 'btn-primary': !editMode}">
                                  <span class="glyphicon glyphicon-ok"></span> Availability {{ (editMode) ? '(' + editMode + ')' : ''}}
                                  <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <div><a ng-click="editMode=30; deleteMode = false; eventMode = false">30 Mins</a></div>
              <div><a ng-click="editMode=45; deleteMode = false; eventMode = false">45 Mins</a></div>
              <div><a ng-click="editMode=60; deleteMode = false; eventMode = false">1 Hour</a></div>
            </div>-->
            <a class="btn btn-primary btn-sm right-margin" onClick="jQuery('#filter-container').slideToggle();" ng-show="!viewUser">
                View Settings
            </a>
        </div>
      </div>
      <!--<div class="col-xs-11 col-xs-push-1" ng-show="!viewUser">
            <div class=" col-xs-4 col-xs-push-4">
                <label class="text-center" >Location Select</label>
                <select ng-model="selectedLocation" ng-init="selectedLocation=selectedLocation[0]" class="form-control">
                    <option ng-repeat="loc in userLocations" value="{{$index}}" ng-selected="$index==0">{{loc.Location.name}}</option>
                </select>
            </div>
            <br />
            <br />
        </div>-->

      <br/>
      
      <div class="row">
        <div class="col-xs-12">
	        
	        <div id="filter-container" class="well well-dark" style="display: none;" ng-show="!viewUser">
	          <div class="col-xs-12">
		          <h3>Filter</h3>
		        </div>
		        <div class="clear"></div>
			          <div class="col-md-2">
			            <h4>Start time</h4>
			          </div>
			          <div class="col-md-4">
					        <select ng-model="visible_times.time_start" ng-change="updateVisibleTimes();" class="form-control">
					          <option ng-repeat="hoption in hour_options" value="{{hoption}}" ng-selected="hoption == visible_times.time_start">{{hoption}}:00</option>
					        </select>
			          </div>
							
			          <div class="col-md-2">
			            <h4>End time</h4>
			          </div>
			          <div class="col-md-4">
					        <select ng-model="visible_times.time_end" ng-change="updateVisibleTimes();" class="form-control">
					          <option ng-repeat="hoption in hour_options" value="{{hoption}}" ng-selected="hoption == visible_times.time_end">{{hoption}}:00</option>
					        </select>
			          </div>
		          <div class="col-md-2 top-buffer-sm" style="clear: both;">
		            <h4>Days</h4>
		          </div>
							
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="monday">
			            <input type="checkbox" id="monday" ng-model="visible_times.days.Monday" ng-change="updateVisibleTimes();" />
			            <h5>Monday</h5>
			          </label>
		          </div>
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="tuesday">
			            <input type="checkbox" id="tuesday" ng-model="visible_times.days.Tuesday" ng-change="updateVisibleTimes();" />
			            <h5>Tuesday</h5>
			          </label>
		          </div>
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="wednesday">
			            <input type="checkbox" id="wednesday" ng-model="visible_times.days.Wednesday" ng-change="updateVisibleTimes();" />
			            <h5>Wednesday</h5>
			          </label>
		          </div>
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="thursday">
			            <input type="checkbox" id="thursday" ng-model="visible_times.days.Thursday" ng-change="updateVisibleTimes();" />
			            <h5>Thursday</h5>
			          </label>
		          </div>
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="friday">
			            <input type="checkbox" id="friday" ng-model="visible_times.days.Friday" ng-change="updateVisibleTimes();" />
			            <h5>Friday</h5>
			          </label>
		          </div>
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="saturday">
			            <input type="checkbox" id="saturday" ng-model="visible_times.days.Saturday" ng-change="updateVisibleTimes();" />
			            <h5>Saturday</h5>
			          </label>
		          </div>
		          <div class="col-md-1 col-md-1-special">
		            <label class="text-center top-buffer-sm" for="sunday">
			            <input type="checkbox" id="sunday" ng-model="visible_times.days.Sunday" ng-change="updateVisibleTimes();" />
			            <h5>Sunday</h5>
			          </label>
		          </div>
	        
	        </div>
	        
	        

		      <a ng-click="removeWeek()" class="pull-left calendar-nav" ng-hide="viewUser && offset <= 0">
		        <i class="fa fa-angle-double-left" aria-hidden="true"/>Previous week
              </a>
		      <a ng-click="addWeek()" class="pull-right calendar-nav" ng-hide="(viewUser && (viewingType == 1 && offset>=4)) || (viewUser && (viewingType == 2 && offset>=12))">
                  Next week<i class="fa fa-angle-double-right" aria-hidden="true"/>
              </a>
	      </div>
      </div>

          <div class="calendar" >
            <div class="row">
              <div class="col-cal" style="width: 10%;"/>
              <div class="col-cal text-center" ng-repeat="d in DoW" ng-hide="!visible_times.days[d]" ng-style="{width: visible_times.day_width + '%'}">
                <span class="hidden-xs hidden-sm">{{d}} </span>
                <span class="visible-xs visible-sm">{{d.substr(0,1)}} </span>
                <br />{{ days[d].dateObj.getDate() | dateNth }}</div>
            </div>
            <div class="row" ng-if="emptyCal && viewUser">
              <div class="col-xs-12 text-center">Not available</div>
            </div>
            <div class="row {{ key == '00' ? 'tick-am' : key =='12' ? 'tick-pm' : ''}}" ng-repeat="(key, hour) in hours | orderObjectBy: 'order'" ng-hide="hour.hideme">
              <div class="col-cal text-right key" style="width: 10%;">{{hour.order | addZero}}:00</div>
              <div class="col-cal greyBack" ng-repeat="d in DoW" ng-hide="!visible_times.days[d]" ng-style="{width: visible_times.day_width + '%'}">
                <div class="innerCal {{hour[d] ? 'available' : ''}}" ng-hide="holiday[d]" ng-click=" !viewUser ? openOptions(days[d].dateObj, key) : $event.stopPropagation()">

                  <!-- Shows all bookings that start here -->

                  <div ng-repeat="booking in hour[d].pt_bookings" ng-if="!viewUser || (getUserId() == booking.user)" ng-click="editBooking(booking);"
                        class="booking-item length-{{booking.length}} start-{{booking.start}}" ng-style="viewUser ? {'background-color': '#000'} : {'background-color': 'transparent'}" >
                      <!-- Shows all events that start here -->
                      <!--<div class="events-holder" ng-if="hour[d].event" >
                        <div ng-repeat="event in hour[d].events"  class="event-item length-{{event.duration}} start-{{event.start}}" ng-click="viewUser ? openEventAttendance(event) : editEvent(event);$event.stopPropagation();"
                                     style="background-color: {{event.colour}}; position: absolute; width:100%;" >
                          <div class="centered">{{event.title}}</div>
                          <div ng-if="(hour[d].event && !viewUser)" class="addAvailability" ng-click="editEvent(event);$event.stopPropagation();" style="position:absolute;top:0;width:100%;height:100%;">
                            <div class="centered"><span class="glyphicon glyphicon-plus-sign"/> Edit Event</div></div>
                          <div class="bookButton" ng-if="viewUser" ng-click="openEventAttendance(event);$event.stopPropagation()" style="position:top;height:100%;width:100%;">Book</div>
                        </div>
                      </div>-->
                      {{booking.user_info.first_name}}
                      <div ng-if="(hour[d].pt_bookings && !viewUser)" class="addAvailability editAvailability" ng-click="editBooking(booking);$event.stopPropagation();" style="position:absolute;top=0;width:100%;">
                        <div class="addInner">
                          <span class="glyphicon glyphicon-plus-sign"/> Edit Booking
                        </div>
                      </div>
                  </div>

                  <!-- general availablity hours showing -->
                  <div ng-if="hour[d]"
                             class="length-{{hour[d].length}} type-{{hour[d].type}} start-{{hour[d].start}} available location-{{hour[d].location.Location.type}}"
                             style="background-color: {{hour[d].location.Location.color}}"
                        >
                  <!-- Shows all events that start here -->
                  <div class="events-holder" ng-if="hour[d].event" >
                    <div ng-repeat="event in hour[d].events"  class="event-item length-{{event.duration}} start-{{event.start}}" ng-click="viewUser ? (event.full ? $event.stopPropagation : openEventAttendance(event)) : editEvent(event);$event.stopPropagation();"
                                 style="background-color: {{event.colour}}; position: absolute; width:100%; height: {{event.duration / 15 * 25}}%;" >
                      <div class="centered">{{event.title}}</div>
                      <div ng-if="!viewUser" class="addAvailability" ng-click="editEvent(event);$event.stopPropagation();" style="position:absolute;top:0;width:100%;height:100%;">
                        <div class="centered"><span class="glyphicon glyphicon-plus-sign"/> Edit Event</div>
                      </div>
                      <div class="bookButton" ng-if="viewUser && !event.full" ng-click="openEventAttendance(event);$event.stopPropagation()" style="position:top;height:100%;width:100%;">Book</div>
                      <div class="fullBlock" ng-if="viewUser && event.full" ng-click="$event.stopPropagation();" style="position:top;height:100%;width:100%;">Full</div>
                    </div>
                  </div>
                    <!--<div ng-if="deleteMode && hour[d]" class="addAvailability deleteEvent" ng-click="hour[d] = false; saveChanges()">
                      <div class="addInner">
                        <span class="glyphicon glyphicon glyphicon-minus-sign"/> Delete</div>
                    </div>-->
                    <div ng-if="(hour[d].time_type == 'rule' && !viewUser)" class="addAvailability" ng-click="showRule(hour[d].id);$event.stopPropagation();" style="position:absolute;top:0;height:100%;width:100%;">
                      <div class="addInner">
                        <span class="glyphicon glyphicon-plus-sign"/> Edit Avail
                      </div>
                    </div>
                    <!--<div class="whiteButton" ng-if="viewUser && isUnavailable(hour[d].bookable)"/>-->
                    <!--<div
                                class="spacesleftButton"
                                ng-if="hour[d].type == 'bc' && hour[d].location.Location.max_participants > 0 && !hour[d].event"
                                ng-click="showRegister(hour[d])"
                            ><span>only {{ hour[d].location.Location.max_participants - hour[d].bc_bookings.length }} spaces left</span></div>-->
                    <div class="bookButton" ng-if="viewUser && (hour[d].bookable['00'] || hour[d].bookable['15'] || hour[d].bookable['30'] || hour[d].bookable['45'])" ng-click="openBook(hour[d], key)" style="position:top;height:100%;width:100%;">Book</div>
                    <!--<div class="fullButton" ng-if="((hour[d].location.Location.max_participants  > 0) && (hour[d].location.Location.max_participants - hour[d].bc_bookings.length < 1) && hour[d].type == 'bc') ||  isUnavailable(hour[d].bookable) ">FULL</div>-->
                    <div class="centered" ng-show="hour[d].title">{{hour[d].title}}</div>
                  </div>
                  <!--<div ng-if="editMode" class="addAvailability addEvent" ng-click="addAvailable(editMode, $parent.$index, key, selectedLocation)"><span class="glyphicon glyphicon-plus-sign"></span> Add</div>
		                    <div ng-if="eventMode" class="addAvailability addEvent" ng-click="addEvent($parent.$index, key, selectedLocation)"><div class="addInner"><span class="glyphicon glyphicon-plus-sign"></span> Add</div></div>-->
                  <!-- hides hours that are not available - NDJ - no longer using holder as that prevents clicking on things below it -->
                  <div class="hour-00 hourspace" ng-if="!hour[d].bookable['00'] && hour[d].bookable && viewUser" ng-class="{viewing: viewUser}" ng-click="$event.stopPropagation();"/>
                  <div class="hour-15 hourspace" ng-if="!hour[d].bookable['15'] && hour[d].bookable && viewUser" ng-class="{viewing: viewUser}" ng-click="$event.stopPropagation();"/>
                  <div class="hour-30 hourspace" ng-if="!hour[d].bookable['30'] && hour[d].bookable && viewUser" ng-class="{viewing: viewUser}" ng-click="$event.stopPropagation();"/>
                  <div class="hour-45 hourspace" ng-if="!hour[d].bookable['45'] && hour[d].bookable && viewUser" ng-class="{viewing: viewUser}" ng-click="$event.stopPropagation();"/>
                  <!--<div ng-if="hour[d]" class="available available-holder" style="position:absolute;top:0;width:100%;height:100%;">
                        </div>-->
                </div>
                <div class="innerCal holiday" ng-show="holiday[d] && !viewUser">
                    Holiday
                </div>
                <!--<div class="fullButton" ng-show="holiday[d] && viewUser">

                </div>-->
              </div>
            </div>
          </div>
          <br/>
          <br/>
        </div>
      </div>
  <h1 class="heading">
    <div class="container">
      <i class="fa fa-clock-o" aria-hidden="true"/>
      Locations, Prices & Deals</div>
  </h1>
  <div class="bookingModal" ng-class="{active: bookModal.show}" ng-click="bookModal.show = false">
    <div class="innerModal col-xs-6 gutter-none blackback" ng-click="$event.stopPropagation();">
      <h3 class="heading">
        <i class="fa fa-pencil" aria-hidden="true"/>
        <strong>Create</strong> a booking <span ng-click="bookModal.show = false" class="glyphicon glyphicon-share-alt reverse closeDialog"/>
      </h3>

      <br/>

      <div class="col-xs-12">

        <div class="form-group" ng-if="bookModal.data.type == 'pt'">
	                    Select your preferred session time
        </div>
          <div class="location-warning" ng-if="bookModal.data.location.Location.type == 'gym'">
            Trainer will assist with entry to location
          </div>
        <div class="form-group">
	                    {{ bookModal.data.timings.date | date : 'fullDate' }}
        </div>
        <div class="form-group" ng-if="bookModal.data.type == 'pt'">
          <label>Session Time</label>
          <select class="form-control" ng-model="$parent.booking.time">
            <option value="">Select One</option>
            <option value="00" ng-if="bookModal.data.bookable['00']">{{ bookModal.data.hour | addZero }}:00</option>
            <option value="15" ng-if="bookModal.data.bookable['15']">{{ bookModal.data.hour | addZero }}:15</option>
            <option value="30" ng-if="bookModal.data.bookable['30']">{{ bookModal.data.hour | addZero }}:30</option>
            <option value="45" ng-if="bookModal.data.bookable['45']">{{ bookModal.data.hour | addZero }}:45</option>
          </select>
        </div>
        <div class="form-group">
          <label>Select Duration</label>
          <select class="form-control" ng-model="booking.durationplan">
            <option value="">Select One</option>
            <option
                    value="{{pricing.PtPricing.id}}"
                    ng-repeat="pricing in bookModal.pricing[0].pricing | filter: {PtPricing: {session_length: '!0'}} : true "
                    ng-if="pricing.PtPricing.id && checkAfterSession(bookModal.data.timings.date, bookModal.data.timings.time_start, $parent.booking.time, pricing.PtPricing.session_length)"
                >
                    {{pricing.PtPricing.session_length}} minutes - ${{pricing.PtPricing.price}}
            </option>
            <option
                    value="SGT-{{pricing.PtPricing.id}}"
                    ng-repeat="pricing in bookModal.pricing[0].pricing | filter : filterSGT"
                    ng-if="pricing.PtPricing.id && checkAfterSession(bookModal.data.timings.date, bookModal.data.timings.time_start, $parent.booking.time, pricing.PtPricing.session_length)"
                >
                    {{pricing.PtPricing.session_length}} minutes SGT - ${{pricing.PtPricing.sgt_fee}}
            </option>
            <option value="{{pricing.BcPricing.id}}" ng-repeat="pricing in bookModal.pricing[0].pricing" ng-if="pricing.BcPricing.id">{{pricing.BcPricing.name}} - {{pricing.BcPricing.included_sessions}} Sessions - ${{pricing.BcPricing.price}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Comments</label>
          <div class="disclaimer" ng-if="bookModal.pricing[0].Location.type = 'mobile'">Please enter the location of meetup or contact details for mobile bookings</div>
          <textarea ng-model="booking.participant_notes">

          </textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="payForSession()">Submit</button>
        </div>

      </div>
    </div>
  </div>

  <div class="locationList container">
    <div class="row">
      <div class="location-key location-key-{{loc.Location.type}} col-xs-12 col-sm-4" style="color: {{loc.Location.color}};" ng-repeat="loc in viewLocations">
        <h4 class=""><span class="icon-holder" style="background-color: {{loc.Location.color}};"></span>{{loc.Location.type}}</h4>

        <!--<div class="" style="background-color: {{loc.Location.color}}"><span class="visible-xs">{{loc.Location.type}}</span> &nbsp;</div>-->
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h5>{{loc.Location.name}}</h5>
            <div ng-repeat="a in loc.Addresses">{{a.address}}</div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h6 ng-repeat="(key, a) in loc.pricing" ng-hide="a.PtPricing.price">${{ a.BcPricing.price }} - {{a.BcPricing.name }}</h6>
            <h6 ng-repeat="(key, a) in loc.pricing" ng-hide="a.BcPricing.price">${{ a.PtPricing.price }} - {{ (a.PtPricing.session_length > 0) ? a.PtPricing.session_length + ' min session' : 'first Session' }}</h6>
            <h6 ng-repeat="(key, a) in loc.pricing | filter: filterSGT">${{ a.PtPricing.sgt_fee }} - {{ (a.PtPricing.session_length > 0) ? a.PtPricing.session_length + ' min session' : 'first Session' }} <br />Fit With Friends</h6>
          </div>
          <div class="col-xs-12" ng-if="loc.Deals.length">
              <h5>Deals</h5>
              <div class="deals-container" ng-repeat="deal in loc.Deals">{{deal.deal_text}}<hr/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    