<div class="loginBox">
	
	<a ng-click="goBack()" class="text-inverse closeDialog">Previous</a>

	<div class="panel inverse">
		<div class="panel-title">
			<h2>Login</h2>
		</div>
		<div class="panel-body">
			<div class="panel-alert alert alert-danger slide" role="alert" ng-if="page.bottomSlider.error">
		 		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>{{page.bottomSlider.error}}
			</div>
			<div class="panel-alert alert alert-success slide" role="alert" ng-if="page.bottomSlider.message">
		  		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  		<span class="sr-only">Success:</span>{{page.bottomSlider.message}}
			</div>
			<form ng-show="!forgot" id="BoostCakeDisplayForm" method="post" accept-charset="utf-8" ng-submit="login(loginform.username,loginform.password)">
				<p>Got an account with Musta?</p>
				<!-- <img class="loginLogo img-responsive" src="/img/logo-trans.png"><br><br> -->
				<div class="form-group">
					<label for="MuseaUsername">Email address</label>
					<input class="form-control" type="text" id="MuseaUsername" ng-model="loginform.username" placeholder="Email address">
				</div>
				<div class="form-group">
					<label for="MuseaPassword">Password</label> 
					<input class="form-control" type="password" id="MuseaPassword" ng-model="loginform.password" placeholder="Password">
				</div>
				<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
				<p class="toggle-view"><a ng-click="forgot=true">Need a hand with your login?</a></p>
				<button type="submit" class="btn btn-primary" id="loginButton" data-style="expand-left">Sign In</button>
			</form>
			<form ng-show="forgot" method="post" accept-charset="utf-8" ng-submit="resetPassword(loginform.username)">
				<!-- <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span> -->
				<h3>Reset password</h3>
				<p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
				<!-- <img class="loginLogo img-responsive" src="/img/logo-trans.png"><br><br> -->
				<div class="form-group">
					<label for="MuseaUsernameReset">Email address</label>
					<input class="form-control" type="text" id="MuseaUsernameReset" ng-model="loginform.username" placeholder="Email address">
				</div>
				<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
				<p class="toggle-view">
					<a ng-click="forgot=false">Back to login</a>
				</p>
				<button type="submit" class="btn btn-primary" id="resetButton" data-style="expand-left">Reset password</button>
			</form>
		</div>
	</div>
</div>