<h3 class="heading"><div class="container"><i class="fa fa-file-o" aria-hidden="true"></i><strong>Notifications</strong> <span ng-click="goBack()" class="glyphicon glyphicon-share-alt reverse closeDialog"></span></div></h3>
<div class="container" ng-controller="notifications">
	
	<div class="notificationList">
		<div class="notification well notificationSlide" ng-repeat="n in notifications track by n.Notification.id">
			<div class="row">
				<div class="col-xs-4 col-sm-2 notification-image"><img ng-src="{{n.Notification.image || '/img/logo-trans-wpadd.png'}}"></div>
				<div class="col-xs-8 col-sm-7 col-md-9 gutter-vertical">
					{{n.Notification.text}}
				</div>
				<div class="col-xs-12 col-sm-3 col-md-1 text-center replyIcons">
					<div class="col-xs-6"><span class="fa fa-check" ng-click="approve(this)"></span></div>
					<div class="col-xs-6"><span class="fa fa-times" ng-hide="n.Notification.type == 'information'" ng-click="deny(this)"></span></div>
				</div>			
			</div>
		</div>
		<div class="notification well notificationSlide" ng-show="notifications.length==0">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				There are no new notifications
			</div>
				
		</div>		
		</div>
	</div>
</div>
