<div class="controls navigation">
	<div class="row">
		<div class="col-xs-3"><button class="btn btn-primary col-xs-12" ng-disabled="step==0" ng-click="previousStep()"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button></div>
		<div class="col-xs-3 col-xs-offset-6"><button class="btn btn-primary col-xs-12" ng-if="step<steps.length" ng-click="nextStep()">Next <span class="glyphicon glyphicon-chevron-right"></span></button></div>
		<div class="col-xs-3"><button class="btn btn-primary col-xs-12" ng-if="step==steps.length" ng-click="nextStep()"><span class="glyphicon glyphicon-ok"></span> Submit</button></div>
	</div>	
</div>	