<div class="container signup-entry inverse" ng-controller="signup">
	
		 <h3 class="heading row"><div class="container"><i class="fa fa-sign-in" aria-hidden="true"></i><strong>Sign up</strong><span ng-click="page.bottomSlider.display = false" class="glyphicon glyphicon-share-alt reverse closeDialog" ng-hide="submitting"></span></div></h3>
	<div class="col-xs-12">
		<div class="progress" ng-hide="step == 0">
			<div class="progress-tracker">{{step}} of {{steps.length}}</div>
			<div class="progress-bar progress-bar-success progress-bar active" role="progressbar" aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentComplete}}%;"></div>
		</div>
		<div class="slideContainer">
			<div class="steps slideInOut clearfix" ng-if="step==0">
				<br/>
				<div class="row">
					
					
					
						<div class="panel panel-default col-xs-12 col-md-6" ng-hide="triedBooking">
							<div class="panel-body panel-shade-hover text-center">
								<img src="/img/Personal-trainer.png" />
								<h3>I'm a Personal Trainer</h3>
								<br/>
								<a class="text-center option btn btn-full" ng-class="{'btn-primary': accountType != 1 , 'btn-primary active': accountType == 1}" ng-click="$parent.accountType = 1;nextStep();">
									Create Account
								</a>
							</div>
						</div>
					

						<!--<div class="panel panel-default col-xs-12 col-md-4">
							<div class="panel-body panel-shade-hover text-center">
								<img src="/img/Bootcamp.png" />
								<h3>I'm setting up a Bootcamp</h3>
								<p>Sed in tortor lorem. Nullam dictum nec ex et consequat. Aenean scelerisque sapien nec tincidunt pellentesque. Cras sit amet sapien.</p>
								<br/>
								<a class="col-xs-12 text-center option btn" ng-class="{'btn-primary': accountType != 2 , 'btn-primary active': accountType == 2}" ng-click="$parent.accountType = 2;nextStep();">
									Create Account
								</a> 
							</div>
						</div>-->
					
					
						<div class="panel panel-default col-xs-12" ng-class="triedBooking ? '' : 'col-md-6'">
							<div class="panel-body panel-shade-hover text-center">
								<img src="/img/Looking-for-trainer.png" />
								<h3>I'm looking for a Trainer</h3>
								<br/>
								<a class="text-center option btn btn-full" ng-class="{'btn-primary': accountType != 3 , 'btn-primary active': accountType == 3}" ng-click="$parent.accountType = 3;nextStep();">
									Create Account
								</a>
							</div>
						</div>
						
						
					
				</div>
				<div class="text-center"><br />or <a href="" ng-click="loginForm()">sign in</a></div>
				<div ng-include="controls" ng-show="accountType" ng-hide="step == 0"></div>
			</div>
			<div class="steps slideInOut clearfix" ng-if="step>0" ng-include="steps[step-1].template">
				
			</div>
		</div>
	</div>
</div>